<style>
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align: middle;
}
</style>

<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		<li><a href="#/">首页</a></li>
		<li class="active">办理下一年度计划</li>
		<li>
			<a href="javascript:window.history.back(-1)" class="text-info" data-toggle="tooltip" data-placement="bottom" title="点击返回上一页面"><strong>返回</strong></a>
		</li>
	</ol>
	        
 	<form id="form" name="form">
 		<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>  		
 		<table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width:150px;">办理事项：</td>
				<td style="width:250px;" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectShenBaoStage)">
					
				<td class="formAlignRight" style="width:150px;">项目名称：</td>
				<td>
					<span ng-hide="vm.isMonthReport" ng-bind="vm.model.shenBaoInfo.projectName"></span>
					<span ng-show="vm.isMonthReport" ng-bind="vm.model.project.projectName"></span>				
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目阶段：</td>
				<td>
					<span ng-hide="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectStage)"></span>
					<span ng-show="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.project.projectStage)"></span>
				</td>
				<td class="formAlignRight">项目类型：</td>
				<td>
					<span ng-hide="vm.isMonthReport" ng-repeat="x in vm.projectTypes" ng-bind="vm.getBasicDataDesc(x)+' '"></span>
					<span ng-show="vm.isMonthReport" ng-repeat="x in vm.model.project.projectType" ng-bind="vm.getBasicDataDesc(x)+' '"></span>			
				</td>
			</tr>	
			<tr>
				<td class="formAlignRight">项目行业归口：</td>
				<td>
					<span ng-hide="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectIndustry)"></span>
					<span ng-show="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.project.projectIndustry)"></span>
				</td>
				<td class="formAlignRight">项目分类：</td>
				<td>
					<span ng-hide="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectClassify)"></span>
					<span ng-show="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.project.projectClassify)"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">国民经济行业分类：</td>
				<td colspan="3" style="width:450px;">
					<span ng-hide="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustryParent)"  style="margin-right:24px;"></span>
					<span ng-hide="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustry)"></span>
					<span ng-show="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.project.nationalIndustryParent)"  style="margin-right:24px;"></span>
					<span ng-show="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.project.nationalIndustry)"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目建设地址：</td>
				<td colspan="3">
					光明新区
			 		<span ng-hide="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.divisionId)"></span>						
			 		<span ng-hide="vm.isMonthReport" ng-bind="vm.model.shenBaoInfo.projectAddress"></span>
			 		<span ng-show="vm.isMonthReport" ng-bind="vm.getBasicDataDesc(vm.model.project.divisionId)"></span>						
			 		<span ng-show="vm.isMonthReport" ng-bind="vm.model.project.projectAddress"></span>
				</td>		
			</tr>	
			<tr>
				<td class="formAlignRight">项目总投资：</td>
				<td ng-hide="vm.isMonthReport">
					<span ng-bind="vm.model.shenBaoInfo.projectInvestSum | number:4"></span>&nbsp;(万元)		
				</td>
				<td ng-show="vm.isMonthReport">
					<span  ng-bind="vm.model.project.projectInvestSum | number:4"></span>&nbsp;(万元)
				</td>
				<td class="formAlignRight">累计完成投资：</td>
				<td ng-hide="vm.isMonthReport">
					<span ng-bind="vm.model.shenBaoInfo.projectInvestAccuSum | number:4"></span>&nbsp;(万元)				
				</td>
				<td ng-show="vm.isMonthReport">
					<span ng-bind="vm.model.project.projectInvestAccuSum | number:4"></span>&nbsp;(万元)
				</td>
			</tr>	
			<tr ng-if="vm.isZFInvestment">
				<td class="formAlignRight">项目简介：</td>
				<td colspan="3">
					<span ng-hide="vm.isMonthReport"  ng-bind="vm.model.shenBaoInfo.projectIntro"></span>
					<span ng-show="vm.isMonthReport" ng-bind="vm.model.project.projectIntro" ></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">详细信息：</td>
				<td colspan="3" >
					<button class="btn btn-success btn-xs" ng-click="vm.dialog_shenbaoInfo()" >查看详细信息</button>
				</td>
			</tr>		
	</table>
	  		
  		<div class="bg-info text-info" style="padding: 10px;">处理流转信息</div>  		
		<table class="table table-bordered table-striped ">
			<tr ng-repeat="x in vm.taskRecord">
				<td class="formAlignRight" style="width:150px;"  ng-bind="x.name"></td>
				<td>
					<div ng-bind="x.msg"></div>
					<div class="text-right" ng-bind="x.id"></div>
					<div class="text-right" ng-bind="x.endTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
				</td>
			</tr>
			<tr ng-hide="vm.isComplete">
				<td class="formAlignRight" style="width:150px;">填写处理意见：</td>
				<td>
					<textarea class="form-control" id="processSuggestion" name="processSuggestion"  maxlength="500" rows="3" 
						ng-model="vm.processSuggestion" data-val="true" data-val-required="必填" placeholder="注：500字符以内"
						ng-change="vm.checkLength(vm.processSuggestion,500,'processSuggestionTips')">
					</textarea>
					<span data-valmsg-for="processSuggestion" data-valmsg-replace="true" class="required"></span>
					<div class="tipfont">您还可以输入<span id="processSuggestionTips"><font size="5">500</font></span>个字符!</div>						
				</td>
				
			</tr>
			
			<tr ng-hide="vm.isComplete">
				<td class="formAlignRight">操作：</td>
				<td>
					<button ng-click="vm.handle('next')" class="btn btn-success btn-sm" style="margin:0 10px;"><span class="glyphicon glyphicon-ok"></span>签收</button> 
					<button ng-click="vm.handle('tuiwen')" class="btn btn-danger btn-sm" style="margin:0 10px;"><span class="glyphicon glyphicon-remove"></span>退文</button>				
				</td>
			</tr>						
		</table>
  		
  		<!-- 申报详情页面模态框 -->
		<div id="shenbaoInfo" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 80px auto; width: 80%; max-width: 1000px;">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">				
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="modal-title">详细信息</span>
					</div>
					<div class="modal-body text-danger">
						<div ng-if="!vm.isMonthReport" ng-include  src="'/contents/admin/management/task/html/details/shenBaoInfoDetails.html'"></div>
						<div ng-if="vm.isMonthReport" ng-include  src="'/contents/admin/management/task/html/monthReport/master.html'"></div>   
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">关闭</button>
					</div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal --> 	  		         
    </form>   
</div>