<style>
    .title_font {
        font-family: SimHei;
        font-size: 1.3em;
    }

    ._table tr td {
        border: 1px solid black;
        font-family: SimSun;
        text-align: center;
    }

    .root_div {
        min-height: 29.7cm;
    }

    .excel_div_portrait {
        position: relative;
        top: 50%
        -webkit-transform: translateY(25%);
        -ms-transform: translateX(25%);
        transform: translateX(25%);
    }

    .excel_div_transverse {
        position: relative;
        top: 50%
        -webkit-transform: translateY(20%);
        -ms-transform: translateX(20%);
        transform: translateX(20%);
    }

    .table_title, .table_text {
        height: 0.69cm;
    }

    .table_text_tip {
        color: red;
        font-weight: bold;
    }

    .dataTable .dataTr td {
        font-family: cursive;
    }
</style>
<div class="well well-sm" style="background:white;border:0">
    <ol class="breadcrumb">
        <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
        <li><a href="#/">首页</a></li>
        <li><a href="javascript:;" ui-sref="planReach_tabList">计划下达表单</a></li>
        <li class="active">打印预览</li>
    </ol>

    <div class="toolbar">
        <a class="btn btn-success btn-sm" href="javascript:;" ui-sref="planReach_tabList"><span
                class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回</a>
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.printBtn()"><span
                class="glyphicon glyphicon-print"></span>&nbsp;打印
        </button>
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.exprotExcel()"><span
                class="glyphicon glyphicon-print"></span>&nbsp;导出excel
        </button>
    </div>

    <div style="position: relative;">
        <div id="printWindow" style="padding-bottom: 15px;">
            <h2 ng-bind="vm.model.title" style="text-align: center;"></h2>
            <p style="text-align: right;padding: 0 10px;">单位：万 元</p>
            <table class="_table" style="width:27.7cm;margin:0 auto;min-width: 100%">
                <tr style="text-align: center;">
                    <td rowspan="2" width="50px">序号</td>
                    <td rowspan="2" width="100px">建设单位</td>
                    <td rowspan="2" width="260">项目名称</td>
                    <td rowspan="2" width="100">建设性质</td>
                    <td rowspan="2" width="200">建设规模</td>
                    <td rowspan="2" width="100">总投资</td>
                    <td rowspan="2" width="130">累计安排</td>
                    <td colspan="2" width="160">计划审核资金</td>
                    <td rowspan="2" width="200">主要内容</td>
                    <td rowspan="2" width="200">备注</td>
                    <td rowspan="2" width="200">计划文号</td>
                </tr>
                <tr style="text-align: center;">
                    <td>公共预算</td>
                    <td>国土资金</td>
                </tr>
                <tbody ng-repeat="x in vm.model.shenBaoInfoDtos" style="text-align: center;">
                    <tr>
                        <td rowspan="2" ng-bind="$index+1"></td>
                        <td ng-bind="vm.getUnitName(x.unitName)"></td>
                        <td ng-bind="x.projectName"></td>
                        <td ng-bind="vm.getBasicDataDesc(x.projectConstrChar)"></td>
                        <td rowspan="2" ng-bind="x.projectGuiMo" style="vertical-align: middle;text-align: left;"></td>

                        <td ng-bind="x.projectInvestSum"></td>
                        <td rowspan="2" ng-bind="x.apInvestSum" style="vertical-align: middle;"></td>
                        <td rowspan="2" ng-bind="x.shPlanReach_ggys" style="vertical-align: middle;"></td>
                        <td rowspan="2" ng-bind="x.shPlanReach_gtzj" style="vertical-align: middle;"></td>
                        <td rowspan="2" ng-bind="x.planReachConstructionContent" style="vertical-align: middle;"></td>
                        <td rowspan="2" ng-bind="x.yearPlanRemark" style="vertical-align: middle;text-align: left;"></td>
                        <td rowspan="2" ng-bind="x.plan_wenhao" style="vertical-align: middle;text-align: left;"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>	
	