body {
}

.hideLink {
    display: none;
}

.breadcrumb {
    margin-bottom: 10px;
    padding-left: 5px;
}

.activeLink a:link {
    color: white;
}

#grid {
    margin-top: 10px;
}

.toolbar {
    padding: 0 5px 5px 0px;
    margin-bottom: 5px;
    border-bottom: 1px dashed #ccc;
}

.panel-heading {
    font-weight: bold;
}

.formAlignRight {
    text-align: right;
    color: #666;
}

.errors {
    color: red;
}

.required {
    color: red;
}

.width60 {
    width: 60px;
}

.width80 {
    width: 80px;
}

.width100 {
    width: 100px;
}

.width120 {
    width: 120px;
}

.width140 {
    width: 140px;
}

.width160 {
    width: 160px;
}

.width180 {
    width: 180px;
}

.width200 {
    width: 200px;
}

.width220 {
    width: 220px;
}

.width240 {
    width: 240p;
}

form table td {
    padding: 2px;
}

.success {
    color: green;
}

.uploadSuccess {
    color: #666;
    cursor: pointer;
}

.trBottomLine {
    border-bottom: 1px solid #ccc;
}

.radio {
    width: 15px;
    height: 15px;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.selected {
    background: #FCF3E3;
}

/* begin cx */
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align:middle
}
.form-select{
	height:30px;
	border:1px solid #ddd;
}
.text-overflow{  
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 .tab {
        padding:5px;
      }
 .tab  li{
        list-style: none;
        float:left ;
        margin-left:5px;
        line-height: 30px;
      }
      
.x{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 0px solid #ddd; 
}
.y{
	border-top: 0px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;
    line-height: 150%; 
}
.form-text{
	border: #f2f2f2 1px solid;
    border-top-color: #c8c8c8;
    border-right-color: #c8c8c8;
    padding: 0 0px;
    font-size: 12px;
    color: #0E6CAD;
}
.tip{
	background: #ee0101;
    position: relative;
    color: #fff;
    width: 150px;
    font-size: 11px;
    border: 2px solid #ddd;
    padding: 4px 10px 4px 10px;   
}

/* end cx */