<style>
	.modal-open{
		overflow:auto
	}
</style>
<div class="well well-sm" style="background:white;">
	 <ol class="breadcrumb">
	  	 <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
	  	 <li><a href="#/">首页</a></li>
	     <li><a href="#/projectDeclaration">项目申报</a></li>
	     <li class="active">{{vm.titleDeclarationAdd}}</li>
	 </ol>
	 
		<div style="border-bottom:2px solid #ccc;">
	   <ul class="tab clearfix ">
	      <li ng-click="vm.tab(1)" >
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==1?'white':'black'}" ng-class="{'btn-success':vm.tabActive==1}">项目关联信息</button>
	      </li>
	      <li>
	      	<span class="glyphicon glyphicon-chevron-right" ></span>
	      </li>
	      <li ng-click="vm.tab(2)" >
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==2?'white':'black'}" ng-class="{'btn-success':vm.tabActive==2}">项目基本信息</button>
	      </li>
	      <li>
	      	<span class="glyphicon glyphicon-chevron-right"></span>
	      </li>
	      <li ng-click="vm.tab(3)">
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==3?'white':'black'}" ng-class="{'btn-success':vm.tabActive==3}">单位基本信息</button>
	      </li>
	      <li>
	      	<span class="glyphicon glyphicon-chevron-right"></span>
	      </li>
	      <li ng-click="vm.tab(4)">
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==4?'white':'black'}" ng-class="{'btn-success':vm.tabActive==4}">申报材料清单</button>
	      </li>
	      <li>
	      	<span class="glyphicon glyphicon-chevron-right"  ></span>
	      </li>
	      <li ng-click="vm.tab(5)">
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==5?'white':'black'}" ng-class="{'btn-success':vm.tabActive==5}">申报信息确认</button>
	      </li>
	    </ul>
	</div>

	<!-- 下一年度计划 -->

	<div>
		<!--  項目关联信息(新增)頁面 -->
      <div ng-show="vm.tabActive==1" ng-include src="'/contents/shenbaoAdmin/projectDetails/html/project.add/nextYearPlan/projectRelatedInfoAdd.html'"></div>
		<!--  項目单位信息(新增)頁面 -->
      <div ng-show="vm.tabActive==3" ng-include src="'/contents/shenbaoAdmin/projectDetails/html/project.add/nextYearPlan/projectUnitMessage.add.html'"></div>
      	<!-- 項目基本信息(新增)頁面 -->
      <div ng-show="vm.tabActive==2" ng-include src="'/contents/shenbaoAdmin/projectDetails/html/project.add/nextYearPlan/projectBasicMessage.add.html'"></div>
      <!-- 項目申報材料清單 (新增)頁面-->
      <div ng-show="vm.tabActive==4" ng-include src="'/contents/shenbaoAdmin/projectDetails/html/project.add/nextYearPlan/declareMaterialList.add.html'"></div>
		<!-- 項目申報信息確認(新增)頁面 -->
      <div ng-show="vm.tabActive==5" ng-include src="'/contents/shenbaoAdmin/projectDetails/html/project.add/nextYearPlan/declareMessageConfirm.add.html'"></div>
 	</div>
</div>	  
	  