<style>
overflow: scroll !important;
.modal{
	overflow-y:auto
	}
.modal-open {
       overflow: scroll !important;
    }
</style>
<div class="bg-info text-info" style="padding: 10px; ">项目所属单位</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目所属单位：</td>
		<td>
			<span ng-bind="vm.userUnit.unitName"></span>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px; margin-bottom: 10px">项目基本信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目名称：</td>
		<td width = "33%">
			<span ng-bind="vm.model.projectName"></span>			
		</td>
		<td class="formAlignRight" style="width:180px;">项目阶段：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectStage)"></span>	
		</td>
	</tr>
	<tr>
		<td class="formAlignRight" style="width:150px;">项目负责人名称：</td>
		<td>
			<span ng-bind="vm.model.projectRepName"></span>
		</td>
		<td class="formAlignRight" style="width:180px;">项目负责人电话：</td>
		<td>
			<span ng-bind="vm.model.projectRepMobile"></span>	
		</td>
	</tr>
	<tr>		
		<td class="formAlignRight">项目类别：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectCategory)"></span>				
		</td>
		<td class="formAlignRight">项目分类：</td>
		<td >
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectClassify)"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目行业归口：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectIndustry)"></span>	
		</td>
		<td class="formAlignRight">项目类型：</td>
		<td>
			<span ng-repeat="x in vm.model.projectType" ng-bind="vm.getBasicDataDesc(x)+' '"></span>		
		</td>
	</tr>	
 	<tr>
		<td class="formAlignRight">项目建设地址：</td>	
		<td colspan="3">
		光明新区
			 <span ng-bind="vm.getBasicDataDesc(vm.model.divisionId)"></span>						
			 <span ng-bind="vm.model.projectAddress"></span>				
		</td>
	</tr> 
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td>
			<span ng-bind="vm.model.beginDate | date:'yyyy-MM-dd'"></span>
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td >
			<span ng-bind="vm.model.endDate | date:'yyyy-MM-dd'"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目总投资：</td>
		<td colspan="3">
			<span ng-bind="vm.model.projectInvestSum | number:4"></span>&nbsp;(万元)
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目简介：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：项目简介（500字符以内）" ng-model="vm.model.projectIntro" disabled></textarea>
		</td>	
	</tr>
	<tr>
		<td class="formAlignRight">建设规模：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（500字符以内）" ng-model="vm.model.projectGuiMo" disabled></textarea>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">建设用地情况：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：项目选址、项目用地面积及用地性质等（500字符以内）" ng-model="vm.model.constructionLand" disabled></textarea>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">备注：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.remark" disabled></textarea>
		</td>																	
	</tr>
</table>