<style>
overflow: scroll !important;
.modal{
	overflow-y:auto
	}
.modal-open {
       overflow: scroll !important;
    }
</style>
<div class="bg-info text-info" style="padding: 10px; ">项目所属单位</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目所属单位：</td>
		<td>
			<span ng-bind="vm.userUnit.unitName"></span>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px; margin-bottom: 10px">项目基本信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目名称：</td>
		<td width = "33%">
			<span ng-bind="vm.model.projectName"></span>			
		</td>
		<td class="formAlignRight" style="width:180px;">项目阶段：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectStage)"></span>	
		</td>
	</tr>
	<tr>
		<td class="formAlignRight" style="width:150px;">项目负责人名称：</td>
		<td>
			<span ng-bind="vm.model.projectRepName"></span>
		</td>
		<td class="formAlignRight" style="width:180px;">项目负责人电话：</td>
		<td>
			<span ng-bind="vm.model.projectRepMobile"></span>	
		</td>
	</tr>
	<tr>		
		<td class="formAlignRight">项目类别：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectCategory)"></span>				
		</td>
		<td class="formAlignRight">项目分类：</td>
		<td >
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectClassify)"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目行业归口：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectIndustry)"></span>	
		</td>
		<td class="formAlignRight">项目类型：</td>
		<td>
			<span ng-repeat="x in vm.model.projectType" ng-bind="vm.getBasicDataDesc(x)+' '"></span>		
		</td>
	</tr>	
 	<tr>
		<td class="formAlignRight">项目建设地址：</td>	
		<td colspan="3">
		光明新区
			 <span ng-bind="vm.getBasicDataDesc(vm.model.divisionId)"></span>						
			 <span ng-bind="vm.model.projectAddress"></span>				
		</td>
	</tr> 
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td>
			<span ng-bind="vm.model.beginDate | date:'yyyy-MM-dd'"></span>
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td >
			<span ng-bind="vm.model.endDate | date:'yyyy-MM-dd'"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目总投资：</td>
		<td>
			<span ng-bind="vm.model.projectInvestSum | number:4"></span>&nbsp;(万元)
		</td>
		<td class="formAlignRight">累计完成投资：</td>
		<td>
			<span ng-bind="vm.model.projectInvestAccuSum | number:4"></span>&nbsp;(万元)
		</td>
	</tr>
					
	<tr>
		<td class="formAlignRight">资金来源：</td>
		<td colspan="3" >		
			<table class="table table-bordered table-striped table-hover" >
				<tr class="text-primary text-center">
					<td>市投资</td>
					<td>区投资</td>
					<td>中央预算内投资</td>
					<td>社会投资</td>					
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								<td>专项基金</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSCZ_ggys | number:4"></td>
								<td ng-bind="vm.model.capitalSCZ_gtzj | number:4"></td>
								<td ng-bind="vm.model.capitalSCZ_zxzj | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalQCZ_ggys | number:4"></td>
								<td ng-bind="vm.model.capitalQCZ_gtzj | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>-</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalZYYS | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>				
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSHTZ | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td ng-if="vm.model.capitalOtherType"><span ng-bind="vm.getBasicDataDesc(vm.model.capitalOtherType)"></span></td>															
								<td ng-if="!vm.model.capitalOtherType">-</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalOther | number:4"></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
				<table class="table table-bordered ">
				<tr>
					<td class="text-center" style="width:100px;" >"其他"的来源途径说明：</td>
					<td>
						<textarea class="form-control input-sm" maxlength="200" style="width:99%;" ng-model="vm.model.capitalOtherDescription" placeholder="注：200字符以内" disabled></textarea>																				
					</td>
				</tr>
				<tr>
					<td>资金总计：</td>
					<td >
						<span id="capitalTotal" ng-bind="vm.capitalTotal() | number:4"></span>&nbsp;(万元)
					</td>								
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目简介：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：项目简介（500字符以内）" ng-model="vm.model.projectIntro" disabled></textarea>
		</td>	
	</tr>
	<tr>
		<td class="formAlignRight">建设规模：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（200字符以内）" ng-model="vm.model.projectGuiMo" disabled></textarea>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">备注：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.remark" disabled></textarea>
		</td>																	
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px; margin-bottom: 10px">项目批复信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:180px;">批复名称</td>
		<td style="width:180px;">批复时间</td>
		<td style="width:180px;">批复文号</td>
		<td>文件上传</td>
	</tr>
	<tr>
		<td>项目建议书</td>
		<td ng-bind="vm.model.pifuJYS_date | date:'yyyy-MM-dd'"></td>
		<td ng-bind="vm.model.pifuJYS_wenhao"></td>
		<td>
			<div style="margin:3px;"  
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='JYS'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
		 	</div>
		</td>
	</tr>
	<tr>
		<td>可行性研究报告</td>
		<td ng-bind="vm.model.pifuKXXYJBG_date | date:'yyyy-MM-dd'"></td>
		<td ng-bind="vm.model.pifuKXXYJBG_wenhao"></td>
		<td>
			<div style="margin:3px;"  
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='KXXYJBG'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
		 	</div>
		</td>
	</tr>
	<tr>
		<td>项目总概算</td>
		<td ng-bind="vm.model.pifuCBSJYGS_date | date:'yyyy-MM-dd'"></td>
		<td ng-bind="vm.model.pifuCBSJYGS_wenhao"></td>
		<td>
			<div style="margin:3px;"  
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='CBSJYGS'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
		 	</div>
		</td>
	</tr>	
</table>

<div class="bg-info text-info" style="padding: 10px; margin-bottom: 10px">相关附件</div>
	<table class="table table-bordered table-striped ">
		<tr>
<td style="width:180px;">文件类型</td>
<td style="width:180px;">文件上传</td>
</tr>
<tr ng-repeat="x in vm.relatedType">
	<td>
		{{x[1]}}
	</td>
	<td>
         <div style="margin:3px;"  
		 	  ng-repeat="y in vm.model.attachmentDtos" 
		 	  ng-show="y.type=='{{x[0]}}'"
		 		>
			 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
			<!-- <button class="btn btn-xs btn-danger" ng-click="vm.delFile($index)">删除</button> -->
		 </div>
	</td>
</tr>
	</table> 
</div>