<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/managerCenter">首页</a></li>
	      <li><a href="#/project">项目管理</a></li>	 
	      <li class="active">项目列表</li>
	  </ol>
	  <script type="text/template" id="columnBtns">
			<a style="{2}" class="btn btn-xs btn-primary" href="#/projectEdit/{0}/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
	  </script>
	  <div class="toolbar search">
	  	<button class="btn btn-sm btn-primary" ng-click="vm.addProject()"><span class="glyphicon glyphicon-plus"></span>新增项目</button>
	  		<label style="margin-left:50px;">项目名称筛选：</label>
	  		<input type="text" style="width:260px;" placeholder="请输入项目名称（可少输不可输错）" ng-model="vm.search.projectName"/>
	  		<label style="margin-left:40px;">是否纳入项目库筛选：</label>
	  		<select style="height:30px;margin-left:10px;" ng-model="vm.search.isIncludLibrary">
	  			<option ng-selected=true value=''>--请选择--</option>
	  			<option value=true>已纳入项目库</option>
	  			<option value=false>未纳入项目库</option>
	  			<option value="all">全部</option>
	  		</select>
	  		<!-- <input type="radio" style="height:13px;" name="isIncludLibrary" value="true" ng-model="vm.search.isIncludLibrary"/><label style="margin-right:10px;">已纳入项目库</label>
	  		<input type="radio" style="height:13px;" name="isIncludLibrary" value="false" ng-model="vm.search.isIncludLibrary"/><label style="margin-right:10px;">未纳入项目库</label> -->
	  		<button class="btn btn-success btn-sm" ng-click="vm.search()"><span class="glyphicon glyphicon-search"></span>查询</button>
	  </div> 
     <form id="form" name="form">
         <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>
<!-- 选择投资类型模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"> 
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header bg-primary"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button> 
				<h4 class="modal-title" id="myModalLabel">选择投资类型</h4> 
			</div> 
			<div class="modal-body">
				<label ng-repeat="x in vm.basicData.investmentType">
					<input name="investmentType" type="radio" value="{{x.id}}" ng-model="vm.model.projectInvestmentType"/>{{x.description}}&nbsp;&nbsp;
				</label>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>			
		 		<button type="button" class="btn btn-success" ng-click="vm.confirmInvestmentType()">确认</button> 
			</div> 
		</div><!-- /.modal-content --> 
	</div><!-- /.modal --> 
</div>
