<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/managerCenter">首页</a></li>
	      <li><a href="#/project">项目信息维护</a></li>	 
	      <li class="active">项目列表</li>
	  </ol>
	  <script type="text/template" id="columnBtns">
			<a style="{2}" class="btn btn-xs btn-primary" href="#/projectEdit/{0}/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
			<button style="{2}" class="btn btn-xs btn-danger" ng-click="{3}" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-remove"></span>删除</button>
	  </script>
	  <div class="search">
	  	<table class="table table-bordered" style="margin-bottom:0px;">
	  			<tr>
	  				<td colspan="6" class="bg-info">
	  					<span style="padding:10px;"><strong>单位项目查询</strong></span>
	  					<button class="btn btn-sm btn-primary pull-right" ng-click="vm.filterClear()"><span class="glyphicon glyphicon-refresh"></span>清空筛选条件</button>
	  				</td>
	  			</tr>
	  			<tr>
	  				<td class="formAlignRight">项目名称：</td>
	  				<td style="width:25%"><input type="text" style="width:300px;" placeholder="请输入项目名称（可少输不可输错）" ng-model="vm.search.projectName"/></td>
	  				<td class="formAlignRight">项目阶段：</td>
	  				<td>
	  					<select style="height:30px;" ng-model="vm.search.projectStage">
				  			<option value="">---请选择---</option>
				  			<option ng-repeat="x in vm.basicData.projectStage" value="{{x.id}}">{{x.description}}</option>
				  		</select>
	  				</td>
	  				<td class="formAlignRight">是否已纳入项目库：</td>
	  				<td>
	  					<select style="height:30px;" ng-model="vm.search.isIncludLibrary">
				  			<option value="">---请选择---</option>
				  			<option value="true">已纳入</option>
				  			<option value="false">未纳入</option>
				  		</select>
	  				</td>
	  			</tr>
	  			<tr>
	  				<td class="formAlignRight">项目所属单位：</td>
	  				<td>
	  					<select style="height:30px;" ng-model="vm.search.unitName">
				  			<option value="">---请选择---</option>
				  			<option ng-repeat="x in vm.basicData.userUnit" value="{{x.id}}">{{x.unitName}}</option>
				  		</select>
	  				</td>
	  				<td class="formAlignRight">项目行业：</td>
	  				<td>
	  					<select style="height:30px;" ng-change="vm.searchIndustryFatherChange()" ng-model="vm.searchIndustryFather">
	  						<option value="">---请选择行业分类---</option>
	  						<option ng-repeat="x in vm.basicData.projectIndustryAll" value="{{x.id}}">{{x.description}}</option>
	  					</select>
	  					<select style="height:30px;" ng-model="vm.search.projectIndustry" ng-if="vm.searchIndustryIsZF">
				  			<option value="">---请选择具体的行业---</option>
				  			<option ng-repeat="x in vm.basicData.projectIndustry_ZF | orderBy:'itemOrder'" value="{{x.id}}">{{x.description}}</option>
				  		</select>
				  		<select style="height:30px;" ng-change="vm.searchIndustryChildChange()" ng-model="vm.search.projectIndustryChild" ng-if="vm.searchIndustryIsSH">
				  			<option value="">---请选择具体的行业---</option>
				  			<option ng-repeat="x in vm.basicData.projectIndustry_SH | orderBy:'itemOrder'" value="{{x.id}}">{{x.description}}</option>
				  		</select>
				  		<select style="height:30px;" ng-model="vm.search.projectIndustry" ng-if="vm.searchIndustryChild">
				  			<option value="">---请选择具体的行业---</option>
				  			<option ng-repeat="x in vm.basicData.projectIndustryChild_SH | orderBy:'itemOrder'" value="{{x.id}}">{{x.description}}</option>
				  		</select>
	  				</td>
	  				<td class="formAlignRight">项目投资类型：</td>
	  				<td>
	  					<select style="height:30px;" ng-model="vm.search.projectInvestmentType">
				  			<option value="">---请选择---</option>
				  			<option ng-repeat="x in vm.basicData.investmentType" value="{{x.id}}">{{x.description}}</option>
				  		</select>
	  				</td>
	  			</tr>
	  			<tr>
	  				<td colspan="6">
	  					<button class="btn btn-success btn-sm pull-right" ng-click="vm.search()"><span class="glyphicon glyphicon-search"></span>查询</button>
	  				</td>
	  			</tr>
	  		</table>
	  </div>
	  <div class="toolbar">
	  	<button class="btn btn-sm btn-primary" ng-click="vm.addProject()"><span class="glyphicon glyphicon-plus"></span>新增项目</button>
	  	<button class="btn btn-sm btn-danger" ng-click="vm.projectDeletes()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-trash"></span>&nbsp;批量删除</button>
	  </div> 
     <form id="form" name="form">
         <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>
<!-- 选择投资类型模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"> 
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header bg-primary"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button> 
				<h4 class="modal-title" id="myModalLabel">选择投资类型</h4> 
			</div> 
			<div class="modal-body">
				<label ng-repeat="x in vm.basicData.investmentType">
					<input name="investmentType" type="radio" value="{{x.id}}" ng-model="vm.model.projectInvestmentType"/>{{x.description}}&nbsp;&nbsp;
				</label>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>			
		 		<button type="button" class="btn btn-success" ng-click="vm.confirmInvestmentType()">确认</button> 
			</div> 
		</div><!-- /.modal-content --> 
	</div><!-- /.modal --> 
</div>
