<style>
	.modal-open {
		overflow: scroll !important;
	}
</style>
<div class="bg-info text-info" style="padding: 10px; ">项目所属单位</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目所属单位：<span class="required">(*)</span></td>
		<td>
			<select style="height:30px;" id="unitName" name="unitName" ng-model="vm.model.unitName" data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="name in vm.userUnits" ng-selected="vm.model.unitName==name.id" value="{{name.id}}">{{name.unitName}}</option>
			</select>
			<span data-valmsg-for="unitName" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>
<table class="table table-bordered table-striped ">
	<tr ng-if="vm.page=='update'">
		<td class="formAlignRight" style="width:150px;">项目代码：<span class="required">(*)</span></td>
		<td>
			<input type="text" style="width: 40%" autocomplete="off" id="projectNumber" name="projectNumber" class="form-control input-sm" ng-model="vm.model.projectNumber" data-val="true" data-val-required="必填" />
			<span data-valmsg-for="projectNumber" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight" >国家编码：</td>

		<td>
			<input type="text" style="width: 80%" autocomplete="off" id="countryNumber" name="countryNumber" class="form-control input-sm" ng-model="vm.model.countryNumber"/>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight" style="width:150px;">项目名称：<span class="required">(*)</span></td>
		<td>
			<input type="text" class="form-control input-sm" autocomplete="off" id="projectName" name="projectName" ng-model="vm.model.projectName" data-val="true" data-val-required="必填"/>
			<span data-valmsg-for="projectName" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight" style="width:180px;">项目阶段：<span class="required">(*)</span></td>
		<td>
			<select id="projectStage" name="projectStage" style="height:30px;" ng-model="vm.model.projectStage" data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="stage in vm.basicData.projectStage" value="{{stage.id}}">{{stage.description}}</option>
			</select>
			<span data-valmsg-for="projectStage" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目负责人名称：<span class="required">(*)</span></td>
		<td>
			<input type="text" class="form-control autocomplete="off" input-sm" id="projectRepName" name="projectRepName" ng-model="vm.model.projectRepName"
				   data-val="true" data-val-required="必填"/>
			<span data-valmsg-for="projectRepName" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight">项目负责人电话：<span class="required">(*)</span></td>
		<td>
			<input type="text" class="form-control input-sm" style="width:200px;" id="projectRepMobile" name="projectRepMobile" ng-model="vm.model.projectRepMobile"
				   data-val="true" data-val-required="必填" placeholder="填写固话或手机号" maxlength="13" autocomplete="off"
				   data-val-regex="号码不合理！" data-val-regex-pattern="^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$"/>
			<span data-valmsg-for="projectRepMobile" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目类别：<span class="required">(*)</span></td>
		<td>
			<select style="height:30px;" id="projectCategory" name="projectCategory" ng-model="vm.model.projectCategory" data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.projectCategory" ng-selected="vm.model.projectCategory==x.id" value="{{x.id}}">{{x.description}}</option>
			</select>
			<span data-valmsg-for="projectCategory" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">国民经济行业分类：</td>
		<td style="width:450px;">
			<select class="form-select" style="width:185px;height:25px;" id="nationalIndustry" name="nationalIndustry" ng-model="vm.model.nationalIndustryParent" ng-change="vm.nationalIndustryChange()">
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.nationalIndustry" ng-selected="vm.model.nationalIndustryParent==x.id" value="{{x.id}}">{{x.description}}</option>
			</select>
			<select style="width:185px;height:25px;" ng-model="vm.model.nationalIndustry" ng-show="vm.basicData.nationalIndustryChildren.length>0">
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.nationalIndustryChildren" ng-selected="vm.model.nationalIndustry==x.id" value="{{x.id}}">{{x.description}}</option>
			</select>
		</td>
		<td class="formAlignRight">项目行业归口：<span class="required">(*)</span></td>
		<td>
			<select id="projectIndustry" name="projectIndustry" style="height:30px;" ng-model="vm.model.projectIndustry"
					data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.projectIndustry | orderBy:'itemOrder'" value="{{x.id}}" ng-bind="x.description"></option>
			</select>
			<span data-valmsg-for="projectIndustry" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目类型：</td>
		<td colspan="3">
			<label ng-repeat="x in vm.basicData.projectType">
				<input type="checkbox" name="projectType" ng-checked="vm.model.projectType.indexOf(x.id) != -1" ng-click="vm.updateSelection(x.id)"
				/>{{x.description}}&nbsp;&nbsp;
			</label>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目建设地址：<span class="required">(*)</span></td>
		<td colspan="3">
			<select class="form-select pull-left" style="margin-right:10px;height:30px;">
				<option>光明区</option>
			</select>
			<select class="form-select pull-left" style="margin-right:10px;height:30px;" id="divisionId" name="divisionId" ng-model="vm.model.divisionId" data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.area_Street" value="{{x.id}}">{{x.description}}</option>
			</select>
			<span data-valmsg-for="divisionId" data-valmsg-replace="true" class="errors"></span>
			<input type="text" class="form-control input-sm pull-left" style="width:500px;" id="projectAddress" name="projectAddress" ng-model="vm.model.projectAddress" data-val="true" data-val-required="必填"/>
			<span data-valmsg-for="projectAddress" data-valmsg-replace="true" class="errors"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td >
			<input id="beginDate" name="beginDate"  onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',readOnly:true})" class="Wdate" onChange=""
				   ng-model="vm.model.beginDate" autocomplete="off" />
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td >
			<input id="endDate" name="endDate" onfocus="WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd',readOnly:true})" class="Wdate" onChange=""
				   ng-model="vm.model.endDate" autocomplete="off" />
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目总投资：<span class="required">(*)</span></td>
		<td>
			<input type="number" min="0" step="any" style="width:100px" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" id="projectInvestSum" name="projectInvestSum" ng-model="vm.model.projectInvestSum" data-val="true" data-val-required="必填"/> (万元)
			<span data-valmsg-for="projectInvestSum" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight">累计完成投资：<span class="required">(*)</span></td>
		<td>
			<input type="number" min="0" step="any" style="width:100px" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" id="projectInvestAccuSum" name="projectInvestAccuSum" ng-model="vm.model.projectInvestAccuSum" data-val="true" data-val-required="必填"/> (万元)
			<span data-valmsg-for="projectInvestAccuSum" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>

	<tr>
		<td class="formAlignRight">资金来源：</td>
		<td colspan="3" >
			<table class="table table-bordered table-striped table-hover" >
				<tr class="text-primary text-center">
					<td>市投资</td>
					<td>区投资</td>
					<td>中央预算内投资</td>
					<td>社会投资</td>
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td >公共预算</td>
								<td>国土基金</td>
								<td>专项基金</td>
							</tr>
							<tr>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalSCZ_ggys" /></td>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalSCZ_gtzj"  /></td>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalSCZ_zxzj" /></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>

							</tr>
							<tr>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalQCZ_ggys"  /></td>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalQCZ_gtzj"  /></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>-</td>
							</tr>
							<tr>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalZYYS"  /></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
							</tr>
							<tr>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalSHTZ"  /></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<!-- <td  style="padding:7px;">
									<select  ng-model="vm.model.capitalOtherType">
										<option value="">---请选择---</option>
										<option ng-repeat="x in vm.basicData.capitalOther" ng-selected="vm.model.capitalOtherType==x.id" value="{{x.id}}">{{x.description}}</option>
									</select>
								</td> -->
								<td>-</td>
							</tr>
							<tr>
								<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.capitalOther"/></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<table class="table table-bordered ">
				<tr>
					<td class="text-center" style="width:100px;" >"其他"的来源途径说明：</td>
					<td>
						<textarea class="form-control input-sm" style="width:99%;" ng-model="vm.model.capitalOtherDescription" maxlength="200" placeholder="注：200字符以内" ng-change="vm.checkLength(vm.model.capitalOtherDescription,200,'capitalOtherDescriptionTips')"></textarea>
						<div class="tipfont">您还可以输入<span id="capitalOtherDescriptionTips"><font size="5">200</font></span>个字符!</div>
					</td>
				</tr>
				<tr>
					<td>资金总计：</td>
					<td >
						<span id="capitalTotal" ng-bind="vm.capitalTotal() | number:4"></span>&nbsp;(万元)
					</td>
				</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="formAlignRight">项目简介：<span class="required">(*)</span></td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" id="projectIntro" name="projectIntro" placeholder="注：项目简介（500字符以内）" ng-model="vm.model.projectIntro" ng-change="vm.checkLength(vm.model.projectIntro,500,'projectIntroTips')" data-val="true" data-val-required="必填"></textarea>
			<div class="tipfont">您还可以输入<span id="projectIntroTips"><font size="5">500</font></span>个字符!</div>
			<span data-valmsg-for="projectIntro" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">建设规模：<span class="required">(*)</span></td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" id="projectGuiMo" name="projectGuiMo" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（200字符以内）" ng-model="vm.model.projectGuiMo" ng-change="vm.checkLength(vm.model.projectGuiMo,500,'projectGuiMoTips')" data-val="true" data-val-required="必填"></textarea>
			<div class="tipfont">您还可以输入<span id="projectGuiMoTips"><font size="5">500</font></span>个字符!</div>
			<span data-valmsg-for="projectGuiMo" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>

	<tr>
		<td class="formAlignRight">备注：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（500字符以内）" ng-model="vm.model.remark" ng-change="vm.checkLength(vm.model.remark,500,'remarkTips')"></textarea>
			<div class="tipfont">您还可以输入<span id="remarkTips"><font size="5">500</font></span>个字符!</div>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">项目批复信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:180px;">批复名称</td>
		<td style="width:180px;">批复时间</td>
		<td style="width:180px;">批复文号</td>
		<td >文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.uploadType">
		<td >{{x[1]}}</td>
		<td >
			<input type="text" onkeydown="return false;" kendo-date-picker ng-model="vm.model['pifu'+x[0]+'_date']" k-format="'yyyy-MM-dd'" k-culture="'zh-CN'"/>
		</td>
		<td><input type="text" ng-model="vm.model['pifu'+x[0]+'_wenhao']" /></td>
		<td class="clearfix">
			<div class="uploadBox pull-left"  data-type="{{x[0]}}">
				<button class="btn btn-sm btn-primary" style="margin-right:10px;" data-toggle="modal" ng-click="vm.choseDocument($event)">选择文件</button>
				<input name="files" type="file" kendo-upload k-options="vm.uploadOptions_pifu"/>
			</div>
			<div style="margin:3px;"  class="pull-left"
				 ng-repeat="y in vm.model.attachmentDtos"
				 ng-show="y.type=='{{x[0]}}'"
			>
				<a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
				<button class="btn btn-xs btn-danger" ng-click="vm.delFile($index)">删除</button>
			</div>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px; ">相关附件</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:180px;">文件类型</td>
		<td style="width:180px;">文件上传</td>
		<td>操作</td>
	</tr>
	<tr ng-repeat="x in vm.relatedType">
		<td>{{x[1]}}</td>
		<td>
			<div class="uploadBox" data-type="{{x[0]}}">
				<input name="files" type="file" kendo-upload k-options="vm.uploadOptions"/>
			</div>
		</td>
		<td>
			<div style="margin:3px;"
				 ng-repeat="y in vm.model.attachmentDtos"
				 ng-show="y.type=='{{x[0]}}'"
			>
				<a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
				<button class="btn btn-xs btn-danger" ng-click="vm.delFile($index)">删除</button>
			</div>
		</td>
	</tr>
</table>
<div class="modal fade" id="documentRecords">
	<div class="modal-dialog">
		<div class="modal-content" style="width:850px;">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button>
				<h4 class="modal-title" id="myModalLabel">项目申报记录列表</h4>
			</div>
			<div class="modal-body">
				<div class="grid" kendo-grid="vm.grid_documentRecords" k-options="vm.gridOptions_documentRecords"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success" ng-click="vm.pifuChoseConfirm()">确定</button>
			</div>
		</div>
	</div>
</div>


