<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>

<style>
.title{
padding:5px;
font-weight: bold;

}
</style>

<div class="well" style="border:0;background:white;">
	  <ol class="breadcrumb">
	  	<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
	  	<li><a href="#/">首页</a></li>
	    <li><a href="#/deptInfoMaintain">单位信息维护</a></li>
	    <li class="active">单位基本信息</li>
	  </ol>
<div>

<form>
<div class="bg-info text-info title">
单位基本信息
</div>
	<table width="100%" class="table table-hover table-bordered table-striped">
			<tr>
				<td  width="120">单位名称<span class="required ">(*)</span></td>
				<td colspan="4" class="RborderNone">
					<input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.unitName" ng-model="vm.model.unitName"  />
				</td>
			</tr>
			<tr>
				<td>组织机构代码</td>
  				<td colspan="2">
  				<input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.orgCode"  />
  				</td>
			    <td width="100">电话号码<span class="required">(*)</span></td>
			    <td>
			    <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.unitTel"  />
			    </td>
		   </tr>
		   <tr>
		        <td>电子邮箱<span class="required">(*)</span></td>
		        <td colspan="2">
		        <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.unitEmail"  />
		        <td>传真号码<span class="required">(*)</span></td>
		        <td>
		        <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.unitFax"  />
		        </td>
		   </tr>
		   </table>
		   
		   <div class="bg-info text-info title">
常用申报信息
</div>
		   <table width="100%" class="table table-hover table-bordered table-striped">		
		  <tr>
		    <td>单位性质<span class="required">(*)</span></td>
		    <td colspan="4">
		    	<select ng-model="vm.model.unitProperty" class="form-select">
		    		<option value="">---请选择---</option>
					<option ng-repeat="x in vm.basicData_unitProperty" value="{{x.id}}">{{x.description}}</option>
				</select>
			</td>
		</tr>
		<tr>
		    <td>单位地址<span class="required">(*)</span></td>
		    <td colspan="4">
			    <select class="form-select">
			    	<option>光明新区</option>
			    </select>
			    <select ng-model="vm.model.divisionId" class="form-select">
			    	<option value="">---请选择---</option>
					<option ng-repeat="x in vm.basicData_area_Street" value="{{x.id}}">{{x.description}}</option>
				</select>
				 <input style="margin-top:3px;" class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.unitAddress"  />
			</td>
	  </tr>
	  <tr>
	    <td rowspan="3">单位负责人<span class="required">(*)</span></td>
	    <td width="60">姓名</td>
	    <td>
	    	 <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.unitResPerson"  />
	    </td>
	    <td>电话号码</td>
	    <td>
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.resPersonTel"  />
	    </td>
	  </tr>
	  <tr>
	    <td>手机</td>	   
	    <td>
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.resPersonMobile"  />
	    </td>
	    <td>传真号码</td>
	    <td>
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.resPersonFax"  />
	    </td>
	  </tr>
	   <tr>
	    <td>Email</td>
	    <td colspan="3">
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.resPersonEmail"  />
	    </td>
	  </tr>	
	  <tr>
	    <td rowspan="3">单位联系人<span class="required">(*)</span></td>
	    <td>姓名</td>
	    <td>
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.unitContactPerson"  />
	    </td>
	    <td>电话号码</td>
	    <td>
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.contactPersonTel"  />
	    </td>
	  </tr>
	  <tr>
	    <td>手机</td>
	
	    <td>
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.contactPersonMobile"  />
	    </td>
	    <td>传真号码</td>
	    <td>
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.contactPersonFax"  />
	    </td>
	  </tr>
	  <tr>
	    <td>Email</td>
	    <td colspan="3">
	     <input class="form-control input-sm "  type="text" maxlength="50" ng-model="vm.model.contactPersonEmail"  />
	    </td>
	  </tr>	
</table>


<div style="text-align:center;">
<button class="btn btn-success" ng-click="vm.submit()">确认提交</button>
</div>
</form>

