<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>光明新区投资项目管理平台</title>
</head>
<body>

<div style="max-width: 1366px; margin: 10px auto;">
    <table class="TableBlock" width="100%">
        <tbody>
        <tr class="TableHeader">
            <td style="text-align: center;">
                <p style="padding: 0px; margin: 0px;">
                    <span>温馨提示：</span><span>在线编辑插件只支持IE浏览器; 如果页面无法显示在线编辑控件，请先<a
                        href="/contents/download/WebOffice.zip">下载</a>控件并安装，重新刷新页面即可！
							</span>
                </p>
            </td>
        </tr>
        <!-- <tr>
            <td style="text-align: center;"><span
                style="margin-left: 20px;">
                    <button type=button class="btn" onclick="WebSave();">保存</button>
                    <button type=button class="btn" onclick="showPrintDialog();">打印</button>
            </span></td>
        </tr> -->
        </tbody>
    </table>
</div>
<div style="max-width: 1366px; margin: 10px auto;">
    <script language=javascript
            src="/contents/libs/weboffice/LoadWebOffice.js" charset="utf-8"></script>
</div>

<!-- --------------------=== 调用Weboffice初始化方法 ===--------------------- -->
<script language=javascript event=NotifyCtrlReady for=WebOffice1>
    WebOffice_OpenOfficeFile();  //在装载完Weboffice(执行<object>...</object>)  控件后执行 "WebOffice1_NotifyCtrlReady"方法
</script>

<script type="text/javascript">
    function WebOffice_OpenOfficeFile(){
        var filePath = 'C:\\Users\\Administrator\\Desktop\\word_online.doc';
        try{
            document.all.WebOffice1.OptionFlag |= 128;
            document.all.WebOffice1.LoadOriginalFile(filePath,"doc");
        }catch(e){
            alert("异常\r\nError:"+e+"\r\nError Code:"+e.number+"\r\nError Des:"+e.description);
        }
    }
</script>

<script type="text/javascript">
    /****************************************************
     *
     *					保存文件，保存在原路径
     *
     ****************************************************/
    function WebSave(){
        //先判断文件是否被修改，如果被修改，则更新；否则不做处理
        /*  var isSaved = document.all.WebOffice.IsSaved(); */
        /* if(isSaved == 0){ */
        var base64Value =document.all.WebOffice1.GetFileBase64("",0);
        $.ajax({
            type: 'POST',
            url: "/common/saveByFileBase64",
            data: {
                sysFileId : sysFileId,
                base64String : base64Value,
            },
            success: function(data){
                if(data.flag || data.reCode == 'ok'){
                    alert("保存成功！");
                }else{
                    alert(data.reMsg);
                }
            },
        });
        /*  }else{
             alert("文件未改动,无需保存！");
         } */
    }

    /****************************************************
     *
     *				显示打印对话框
     *
     /***************************************************/
    function showPrintDialog(){
        try{
            document.all.WebOffice1.PrintDoc(1);
        }catch(e){
            alert("异常\r\nError:"+e+"\r\nError Code:"+e.number+"\r\nError Des:"+e.description);
        }
    }
    /****************************************************
     *
     *					直接打印
     *
     ****************************************************/
    function zhiPrint(){
        try{
            document.all.WebOffice1.PrintDoc(0);
        }catch(e){
            alert("异常\r\nError:"+e+"\r\nError Code:"+e.number+"\r\nError Des:"+e.description);
        }
    }
    /****************************************************
     *
     *			关闭页面时调用此函数，关闭文件
     *
     ****************************************************/
    function window_onunload() {
        try{
            document.all.WebOffice1.Close();
        }catch(e){
            alert("异常\r\nError:"+e+"\r\nError Code:"+e.number+"\r\nError Des:"+e.description);
        }
    }

    function getUrlParms(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)
            return unescape(r[2]);
        return null;
    }
</script>
</body>
</html>