<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>光明新区投资项目管理平台</title>
    <link rel="stylesheet" href="/contents/libs/bootstrap/customize/css/bootstrap.css">
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        html,body{
            height: 100%;
            overflow-y: hidden;
        }
        .btn{
            display: inline-block !important;
        }
    </style>
</head>
<body onunload="return window_onunload()" onload="window_onload()">
<div style="height: 100%;">
    <script language=javascript src="/contents/libs/weboffice/main.js" charset="utf-8"></script>
    <script language=javascript src="/contents/libs/weboffice/LoadWebOffice.js" charset="utf-8"></script>
    <div style="text-align: center;padding:0 15px;">
        <div style="float: left">
            <button style="display: inline-block;min-width: 100px;margin:0;" id="doSave" type=button class="btn btn-success" onclick="saveToServer(attachId,'doc',closeConfirm);">保存正文</button>
            <button style="display: inline-block;min-width: 100px;margin:0;" type=button class="btn btn btn-primary" onclick="showPrintDialog();">打印</button>
        </div>
        <div style="float:right;line-height: 34px;cursor: pointer">
            <a  style="color:#337ab7" data-toggle="tooltip" data-placement="left" data-original-title="在线编辑插件只支持IE浏览器,请先下载安装控件,刷新页面即可">正文不显示？</a>
            <a style="margin-left: 15px;" href="/contents/download/WebOffice.zip">控件下载</a>
        </div>

    </div>
</div>

<script src="/contents/libs/jquery/jquery.js"></script>
<script src="/contents/libs/bootstrap/customize/js/bootstrap.js"></script>

<!-- --------------------=== 调用Weboffice初始化方法 ===--------------------- -->
<script type="text/javascript" event=NotifyWordEvent(eventname) for=WebOffice1>
    WebOffice1_NotifyWordEvent(eventname);
</script>
<script type="text/javascript" event=NotifyToolBarClick(iIndex) for=WebOffice1>
    WebOffice1_NotifyToolBarClick(iIndex);
</script>
<script language=javascript event=NotifyCtrlReady for=WebOffice1>
    WebOffice_OpenOfficeFile();  //在装载完Weboffice(执行<object>...</object>)  控件后执行 "WebOffice1_NotifyCtrlReady"方法
</script>

<script type="text/javascript">
    var attachId = getQueryVariable("attachId");
    var edit = getQueryVariable("edit");
    var doSave = document.getElementById("doSave");
    if(edit && edit == 'true'){
        doSave.style.display = "block";
    }else{
        doSave.style.display = "none";
    }
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    var url = window.location;
    var hostname = url.hostname;
    var protocol = url.protocol;
    var port  = url.port;
    var basePath = protocol+"//"+hostname+":"+port;

    //打开服务器上的word
    function WebOffice_OpenOfficeFile(){
        var downloadUrl = basePath+"/management/word/download/"+attachId;
        try{
            document.all.WebOffice1.OptionFlag |= 128;
            document.all.WebOffice1.LoadOriginalFile(downloadUrl,"doc");
        }catch(e){
            alert("异常\r\nError:"+e+"\r\nError Code:"+e.number+"\r\nError Des:"+e.description);
        }
    }

    function closeConfirm(){
        alert("文件上传成功");
        //if(window.confirm("保存成功,是否关闭当前窗口")){
        //    window.close();
        //}
    }

    /**
     * 上传文档到服务器
     * @param id        业务ID
     * @param docType   文件类型
     * @param fn        回调函数
     * @returns {boolean}
     */
    function saveToServer(id, docType, fn){
        if (!id) {
            alert("缺少业务主键");
            return false;
        }
        if (typeof docType == "function") {
            fn = docType;
            docType = "doc";
        } else {
            docType = docType || "doc";
        }
        try {
            var webObj = document.getElementById("WebOffice1");
            var returnValue;

            // 初始化Http引擎
            webObj.HttpInit();
            // 添加相应的Post元素
            webObj.HttpAddPostString("attachId", id);
            webObj.HttpAddPostCurrFile("docContent", "");		// 上传文件
            returnValue = webObj.HttpPost(basePath+"/management/word/upload");	// 判断上传是否成功
            if ("succeed" == returnValue) {
                if (fn && (typeof fn == "function")) {
                    fn();
                } else {
                    alert("文件上传成功");
                }
            } else {
                alert("文件上传失败");
            }
            return true;
        } catch (e) {
            alert("异常\r\nError:" + e + "\r\nError Code:" + e.number + "\r\nError Des:" + e.description);
        }
    }

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return false;
    }
</script>

</body>
</html>