<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<link href="/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<style>
	.ztree li span.button.add {
		margin-left:2px; 
		margin-right: -1px; 
		background-position:-144px 0; 
		vertical-align:top; 
		*vertical-align:middle
		}
</style>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>系统管理</li>       
        <li class="active">基础数据管理</li>
    </ol>
    <form id="form" name="form">
       
        <div class="clearfix">
        	<div class="pull-left" style="width:300px;">
        		<ul id="zTree" class="ztree"></ul>
        	</div>       	
        </div>
    </form>
</div>