<meta charset="UTF-8">
<link href="/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
    	<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
    	<li>用户部门管理</li>
        <li><a href="#/user">用户管理</a></li>       
        <li class="active" >{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/user"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit" ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建</button>
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit" ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新</button>
            <div class="alert alert-info"  style="margin-top:10px;margin-bottom: 10px;width:600px;">
			    <button class="close" data-dismiss="alert">&times;</button>
			    <strong>提示！</strong>管理端用户必须给与管理员角色，建设单位用户必须给与建设单位角色！
			</div>
         </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>

            <tr>
                <td class="formAlignRight">登录名： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.loginName" id="loginName" name="loginName" data-val="true" data-val-required="必填"/>
                </td>
                <td><span data-valmsg-for="loginName" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isUserExist">用户已存在</span></td>
            </tr>
             <tr>
                <td class="formAlignRight">显示名： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm"  ng-model="vm.model.displayName" id="displayName" name="displayName" data-val="true" data-val-required="必填"/>
                </td>
                <td><span data-valmsg-for="displayName" data-valmsg-replace="true" class="errors"></span>
            </tr>
             <tr ng-hide="vm.isUpdate">
                <td class="formAlignRight">密码： <span class="required">*</span></td>
                <td>
                    <input type="password" maxlength="200" class="form-control input-sm " ng-model="vm.model.password" id="password" name="password" data-val="true" data-val-required="必填"
                    	data-val-regex="必须为8位以上数字和字母的结合" data-val-regex-pattern="^(?=.*[a-zA-Z])(?=.*[0-9]).*.{8,}$"/>
                </td>
                <td>
                <label>
                	<input type="checkbox" ng-click="vm.initPassword()"  id="initPassword" /> 初始密码"Passw0rd"
                	<textarea id="rsaPrivateKey" rows="15" cols="65" style="display:none">
						dd6be3d4de56287b8c3616b33bc1b7a5a2bb9148252140262420ee047f83b3165fb7674a759d60c24b71fd5437c7810f127f2c4370c2d4bdfcb55c08f1b3c715b7b2f57228e78e34039d2b967f54a58e345bc91e3dd54c7bea86d73c9e2de968736bf2b97f50bea891aa3519ae7238d76dff57cabba7cc0d370775657f3b5c83
        			</textarea>
                </label>
                <span data-valmsg-for="password" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr ng-hide="vm.isUpdate">
                <td class="formAlignRight">确认密码： <span class="required">*</span></td>
                <td>
                    <input type="password" maxlength="200" class="form-control input-sm " ng-model="vm.model.passwordConfirm " id="passwordConfirm" name="passwordConfirm" data-val="true" data-val-required="必填" 
                    	data-val-equalto="两次密码不一致" data-val-equalto-other="password"/>
                </td>
                <td><span data-valmsg-for="passwordConfirm" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            
            <tr>
                <td class="formAlignRight">备注： </td>
                <td>
                <textarea class="form-control" maxlength="200" name="comment" id="comment" ng-model="vm.model.comment" style="height:120px;"></textarea>
                </td>
                <td><span data-valmsg-for="comment" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            
            <tr>
                <td class="formAlignRight" style=" vertical-align:top">所属角色： </td>
                <td>
                    <div>
                        <ul id="zTree" class="ztree"></ul>
                    </div>
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>