<div class="bg-info text-info" style="padding: 10px; ">项目所属单位</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目所属单位：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.getUnitName(vm.model.shenBaoInfo.unitName)"></span>
		</td>
	</tr>
	</table>

<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目名称：<span class="required">(*)</span></td>
		<td>
			<span id="projectName" name="projectName" ng-bind="vm.model.shenBaoInfo.projectName"></span>
		</td>
		<td class="formAlignRight" style="width:180px;">项目阶段：<span class="required">(*)</span></td>
		<td >
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectStage)"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight" style="width:150px;">项目负责人名称：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.model.shenBaoInfo.projectRepName"></span>
		</td>
		<td class="formAlignRight" style="width:180px;">项目负责人电话：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.model.shenBaoInfo.projectRepMobile"></span>	
		</td>
	</tr>
	<tr>		
		<td class="formAlignRight">项目类别：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectCategory)"></span>				
		</td>
		<td class="formAlignRight">国家编码：</td>
        <td>
            <span ng-bind="vm.model.shenBaoInfo.countryNumber"></span>				
        </td>
		<!--
		<td class="formAlignRight">项目分类：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectClassify)"></span>
		</td>
		-->
	</tr>
	<tr ng-if="vm.isJihuaxiada">		
		<td class="formAlignRight">项目建设性质：<span class="required">(*)</span></td>
		<td colspan="3">
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectConstrChar)"></span>
		</td>		
	</tr>
				
	<!-- 功能分类科目、政府经济分类科目仅仅年度计划含有 -->
	<tr ng-if="vm.isYearPlan">
		<td class="formAlignRight">功能分类科目：</td>
		<td>
			<span ng-bind="vm.model.shenBaoInfo.functionSubjects"></span>
		</td>
		<td class="formAlignRight">政府经济分类科目：</td>
		<td>
			<span ng-bind="vm.model.shenBaoInfo.econClassSubjects"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目行业归口：<span class="required">(*)</span></td>
		<td>			
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectIndustry)"></span>
		</td>
		<td class="formAlignRight">项目类型：</td>
		<td>
			<span ng-repeat="x in vm.projectTypes track by $index " ng-bind="vm.getBasicDataDesc(x)+' '"></span>					
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">国民经济行业分类：</td>
		<td colspan="3">
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustryParent)"  style="margin-right:24px;"></span>
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustry)"></span>
		</td>
	</tr>

	<tr>
		<td class="formAlignRight">项目建设地址：<span class="required">(*)</span></td>
		<td colspan="3">
			光明区
			 <span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.divisionId)"></span>						
			 <span ng-bind="vm.model.shenBaoInfo.projectAddress"></span>
		</td>		
	</tr>
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td>
			<span ng-if="vm.isYearPlan" ng-bind="vm.model.shenBaoInfo.beginDate | date:'yyyy-MM'"></span>
			<span ng-if="!vm.isYearPlan" ng-bind="vm.model.shenBaoInfo.beginDate | date:'yyyy-MM-dd'"></span>
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td>
			<span ng-if="vm.isYearPlan" ng-bind="vm.model.shenBaoInfo.endDate | date:'yyyy-MM'"></span>
			<span ng-if="!vm.isYearPlan" ng-bind="vm.model.shenBaoInfo.endDate | date:'yyyy-MM-dd'"></span>
		</td>
	</tr>

	<tr>
		<td class="formAlignRight"><span class="{{vm.getBasicDataComment(vm.model.shenBaoInfo.urgencyState)}}">申报文件缓急：</span></td>
		<td colspan="3" style="width:450px;">
			<span class="{{vm.getBasicDataComment(vm.model.shenBaoInfo.urgencyState)}}" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.urgencyState)"></span>
		</td>
	</tr>

	<tr>
		<td class="formAlignRight">项目总投资：<span class="required">(*)</span></td>
		<td>
			<span id="projectInvestSum" name="projectInvestSum" ng-bind="vm.model.shenBaoInfo.projectInvestSum | number:4"></span>&nbsp;(万元)
		</td>
		<td class="formAlignRight">累计完成投资：<span class="required">(*)</span></td>
		<td>
			<span id="projectInvestAccuSum" name="projectInvestAccuSum" ng-bind="vm.model.shenBaoInfo.projectInvestAccuSum | number:4"></span>&nbsp;(万元)
		</td>
	</tr>
					
	<tr>
		<td class="formAlignRight" style="vertical-align: middle;">资金来源：<span class="required">(*)</span></td>
		<td colspan="3" >
			<table class="table table-bordered table-striped table-hover" >
				<tr class="text-primary text-center">
					<td>市投资</td>
					<td>区投资</td>
					<td>中央预算内投资</td>
					<td>社会投资</td>					
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								<td>专项基金</td>
							</tr>
							<tr>
								<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_ggys | number:4"></span></td>
								<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_gtzj | number:4"></span></td>
								<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_zxzj | number:4"></span></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								
							</tr>
							<tr>
								<td><span ng-bind="vm.model.shenBaoInfo.capitalQCZ_ggys | number:4"></span></td>
								<td><span ng-bind="vm.model.shenBaoInfo.capitalQCZ_gtzj | number:4"></span></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>-</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.shenBaoInfo.capitalZYYS | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
						
								
							</tr>
							<tr>
								<td><span ng-bind="vm.model.shenBaoInfo.capitalSHTZ | number:4"></span></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td ng-if="vm.model.shenBaoInfo.capitalOtherType"><span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.capitalOtherType)"></span></td>
								<td ng-if="!vm.model.shenBaoInfo.capitalOtherType">-</td>																
							</tr>
							<tr>
								<td><span ng-bind="vm.model.shenBaoInfo.capitalOther | number:4"></span></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
				<table class="table table-bordered ">
				<tr>
					<td class="text-center" style="width:100px;" >"其他"的来源途径说明：</td>
					<td >
						<textarea class="form-control input-sm" style="width:99%;" maxlength="200" ng-model="vm.model.shenBaoInfo.capitalOtherDescription" placeholder="注：200字符以内" disabled></textarea>
					</td>
				</tr>
				<tr>
					<td>资金总计：</td>
					<td >
						<span id="capitalTotal" ng-bind="vm.capitalTotal() | number:4"></span>
					</td>								
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight" style="vertical-align: middle;">项目简介：<span class="required">(*)</span></td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：项目简介（500字符以内）" ng-model="vm.model.shenBaoInfo.projectIntro" disabled></textarea>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight" style="vertical-align: middle;">建设规模：<span class="required">(*)</span></td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（200字符以内）" ng-model="vm.model.shenBaoInfo.projectGuiMo" disabled></textarea>													
		</td>
	</tr>
	<!-- 下一年度计划、计划下达没有 -->
	<tr ng-hide="vm.isYearPlan || vm.isJihuaxiada">
		<td class="formAlignRight" style="vertical-align: middle;">建设必要性和依据：<span class="required">(*)</span></td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：简要说明项目建设的必要性（500字符以内）" ng-model="vm.model.shenBaoInfo.projectConstrBasis" disabled></textarea>													
		</td>
	</tr>
	<!-- 可研、初步设计概算有 -->
	<tr ng-if="vm.isKXXYJBG || vm.isCBSJYGS">
		<td class="formAlignRight" style="vertical-align: middle;">推荐方案介绍：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：简要说明推荐方案（500字符以内）" ng-model="vm.model.shenBaoInfo.recomProgram" disabled></textarea>													
		</td>
	</tr>
	<!-- 可研、初步设计概算有 -->
	<tr ng-if="vm.isKXXYJBG || vm.isCBSJYGS">
		<td class="formAlignRight" style="vertical-align: middle;">社会及经济效益评价：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：简要说明社会及经济效益评价（500字符以内）" ng-model="vm.model.shenBaoInfo.socialAndEconomic" disabled></textarea>													
		</td>
	</tr>
	<tr>
		<td class="formAlignRight" style="vertical-align: middle;">项目基本信息备注：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.shenBaoInfo.remark" disabled></textarea>												
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">相关附件</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:350px">附件类型</td>
		<td>文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.relatedType">
		<td ng-bind-html="vm.html(x[1])"></td>
		<td class="clearfix">
	      <div style="margin:3px;"  class="pull-left"
		 	  ng-repeat="y in vm.model.shenBaoInfo.attachmentDtos" 
		 	  ng-show="y.type=='{{x[0]}}'"
		 		>
			 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>			
		 </div>
		</td>
	</tr>
</table>





