


<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background: white;">
	<ol class="breadcrumb">
		<li><a href="#/">系统管理</a></li>
		<li class="active">Demo</li>
	</ol>
	<div class="well well-sm ">
		<p class="text-danger ">样式:</p>
		BootStrap,请参考官方网站
	</div>

	<div class="well well-sm ">
		<p class="text-danger ">日期选择：（请参考kendoui）</p>
		<div style="width: 400px;">
			<input id="datepicker" />
		</div>
	<div>
	<p class="text-danger ">日期选择：（请参考My97）<br /> http://www.my97.net/dp/demo/index.htm</p>
	
	<div>
		<input class="Wdate form-control input-sm" style="width:180px;" type="text" 
		id="d15" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy/MM/dd'})" onchange="" />
		
	</div>
	</div>
	</div>

	<div class="well well-sm">
		<p class="text-danger ">弹出窗口：（请参考bootstrap）</p>


		<button class="btn btn-sm btn-primary" ng-click="vm.showDialog()">点击</button>

		<div class="myDialog modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 80px auto; width: 80%; max-width: 800px;">
				<div class="modal-content">
					<div class="modal-header bg-primary" style="height:30px;padding:5px;">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="modal-title">详细信息</span>
					</div>
					<div class="modal-body text-danger">
						内容
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="vm.dialogConfirmSubmit()"
							class="btn btn-info btn-sm">确认</button>
						<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->

	</div>

	<div class="well well-sm ">
		<p class="text-danger ">上传：（请参考kendoui）</p>
	
		<div>
		<input name="file" id="files" type="file" />
		</div>
		
		<p class="text-danger ">修改样式后：</p>
			<style>
		#uploadBox .k-upload-status{display: none;}
		#uploadBox .k-header{
			background: transparent;
			border:0px;
		}
		#uploadBox em{display: none;}
		#uploadBox .k-dropzone{padding:0px;margin: 0px;}
		</style>
		<div style="width: 100px;" id="uploadBox">
			<input name="file" id="files2" type="file" />
		</div>

	</div>
	<div class="well well-sm ">
		<p class="text-danger ">表单验证：</p>
		<a href="/contents/libs/jquery-validation/formValidate.png" target="_blank">点击查看</a>
	</div>
	<div class="well well-sm">
		<p class="text-danger ">目前支持的Odata语法(后续会逐步更新)：</p>
		<div>
		相等:                 http://localhost/Products?$filter=Category ne 'Toys' <br />
不相等:               http://localhost/Products?$filter=Category eq 'Toys'<br />
小于：                http://localhost/Products?$filter=Price lt 10<br />
大于等于和小于等于：  http://localhost/Products?$filter=Price ge 5 and Price le 15<br />
包含：                http://localhost/Products?$filter=substringof('zz',Name)<br />
分页：http://localhost/Products?$skip=20&$top=10 （从20条数据开始，取10条）<br />
orderby:        http://localhost/Products?$orderby=Price <br />
orderby desc:   http://localhost/Products?$orderby=Price desc
		</div>
	</div>
	
	<div class="well well-sm ">
		<p class="text-danger ">相关技术：</p>
		hibernate,shiro, activiti 请参考官方文档
	</div>
	
	
	
	<div class="well well-sm ">
		<p class="text-danger ">Tab：</p>
		
		
		<style>
			.tab {
				padding:5px;
			}
			.tab  li{
				list-style: none;
				float:left ;
				margin-left:5px;
				line-height: 30px;
			}
		</style>
		<div style="border-bottom:2px solid #ccc;">
			<ul class="tab clearfix">
				<li ng-click="vm.tab(1)" ><button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==1?'white':'black'}" ng-class="{'btn-success':vm.tabActive==1}">单位基本信息</button></li>
				<li><span class="glyphicon glyphicon-chevron-right"  ></span></li>
				<li ng-click="vm.tab(2)"><button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==2?'white':'black'}" ng-class="{'btn-success':vm.tabActive==2}">项目基本信息</button></li>
				<li><span class="glyphicon glyphicon-chevron-right"  ></span></li>
				<li ng-click="vm.tab(3)"><button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==3?'white':'black'}" ng-class="{'btn-success':vm.tabActive==3}">申报材料清单</button></li>
				<li><span class="glyphicon glyphicon-chevron-right"  ></span></li>
				<li ng-click="vm.tab(4)"><button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==4?'white':'black'}" ng-class="{'btn-success':vm.tabActive==4}">申报信息确认</button></li>
			</ul>
		</div>
	
		
		<div>
			<div ng-show="vm.tabActive==1">内容1</div>
			<div ng-show="vm.tabActive==2">内容2</div>
			<div ng-show="vm.tabActive==3">内容3</div>
			<div ng-show="vm.tabActive==4">内容4</div>
		</div>
		
		
	</div>
	
	
	<div class="well well-sm ">
		<p class="text-danger ">cookie</p>
		用户名：<input ng-model="vm.cookie.userName" /><br /><br />
		密  码：<input ng-model="vm.cookie.password" /><br /><br />
		<button class="btn btn-primary btn-sm" ng-click="vm.setCookie()">保存cookie</button>
		<button class="btn btn-primary  btn-sm"  ng-click="vm.getCookie()"> 获得cookie值</button>
	</div>
	
	<div class="well well-sm ">
		<p class="text-danger ">js linq</p>
		var data=[{id:1,name:'a'},{id:2,name:'b'}];
		<p>查找数据：</p>
		var list=$linq(data).where(function(x) {
						return x.id == 1;
					}).select(function(x) {
						return x;
					}).toArray();
					
		<p>只返回一条数据：</p>
		var model=$linq(data).where(function(x) {
						return x.id == 1;
					}).select(function(x) {
						return x;
					}).firstOrDefault();
	</div>
	
	
	
	<div class="well well-sm ">
		<p class="text-danger ">编辑器</p>
		<div text-angular ng-model="vm.content"></div>
		<button class="btn btn-primary" ng-click="vm.textSubmit()">提交</button>
	</div>
	
	<div class="well well-sm ">
		<p class="text-danger ">treeList</p>
		<kendo-tree-list k-options="vm.treelistOptions"></kendo-tree-list>
	</div>
	
	<div class="well well-sm ">
		<p class="text-danger ">联动</p>
		<div>项目行业分类:</div>
		<select ng-model="vm.parentCategory" ng-change="vm.parentChange()">
		 <option value="">---请选择---</option>
		 <option value="{{x.id}}" ng-repeat="x in vm.parentList">{{x.description}}</option>
		</select>
		
		<select ng-model="vm.childCategory">
		 <option value="">---请选择---</option>
		 <option value="{{x.id}}" ng-repeat="x in vm.childList">{{x.description}}</option>
		</select>
	</div>
	<div class="well well-sm ">
	<button ng-click="vm.popOver($event)">弹出1</button> <button ng-click="vm.popOver($event)" style="margin-left:200px">弹出2</button>
		
	</div>
	<div ng-style="vm.popStyle" ng-show="vm.isPopOver">
			<span class="glyphicon glyphicon-remove pull-right" ng-click="vm.isPopOver=false"></span>
			<span ng-bind="vm.content"></span>
		</div>
</div>


