<meta charset="UTF-8">
<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
    	<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
    	<li>用户部门管理</li>
        <li><a href="#/org">部门管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
        	<@shiro.hasPermission name="org##post"> 
            <a class="btn btn-sm btn-primary" href="#/orgEdit/"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增部门</a>    
           	</@shiro.hasPermission> 
            <@shiro.hasPermission name="org#deleteOrg#post">    
            <button class="btn btn-sm btn-danger" ng-click="vm.dels()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-trash"></span>&nbsp;批量删除</button>
       		</@shiro.hasPermission> 
        </div>
        <script type="text/template" id="columnBtns">
 			<@shiro.hasPermission name="org#deleteOrg#post"> 
			<button class="btn btn-xs btn-danger"  ng-click="{0}" ><span class="glyphicon glyphicon-remove"></span>&nbsp;删除</button>
 			</@shiro.hasPermission> 
			<@shiro.hasPermission name="org#updateOrg#post"> 
	        <a class="btn btn-xs btn-primary" href="#/orgEdit/{1}"><span class="glyphicon glyphicon-pencil"></span>&nbsp;编辑</a>
 			</@shiro.hasPermission> 
			<@shiro.hasPermission name="org#orgId/users#get"> 
			<a class="btn btn-xs btn-primary" href="#/orgUser/{1}"><span class="fa fa-users"></span>&nbsp;成员</a>
 			</@shiro.hasPermission>
		</script>
        
        <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>
