


<div ng-include src="'/contents/shenbao/shared/shenbao_head.html'"></div>

<div class="wrap-960 clearfix" style="margin-top:110px;">
<div class="pull-left" style="width:540px;height: 318px;">
	<div class="column">
			
		<ul class="title clearfix">
			<li class="focus article_1" ng-click="vm.article(1)">通知公告</li>
			<li>/</li>
			<li class="article_2" ng-click="vm.article(2)">政策法规</li>
			<li>/</li>
			<li class="article_3" ng-click="vm.article(3)">办事指南</li>
			<li>/</li>
			<li class="article_4" ng-click="vm.article(4)">常用表格</li>
		</ul>
		
		<table style="width:100%" ng-show="vm.articles.length>0">
			<tbody ng-repeat="x in vm.articles">
				<tr>
					<td class="item" >
						<a href="#/details/{{vm.type}}/{{x.id}}" ng-bind="x.title"></a>
					</td>
					<td style="width:100px" class="date" ng-bind="x.createdDate.split(' ')[0]">
					</td>
				</tr>
			</tbody>
			<tfoot>
			<tr>
					<td class="item" >
						
					</td>
					<td >
						<a class="btn btn-xs btn-info"  href="#/list/{{vm.type}}" >更多>></a>
					</td>
				</tr>
			</tfoot>
		</table>
	
	</div>
</div>


<div class="pull-right">
	<div class="loginBox">
	<form ng-keypress="vm.keyEnter($event)">
		<div class="boxWrap" style="height: 318px;">
		<span ng-show="vm.message" class="errors" ng-bind="vm.message" ></span>	
			<div>
			<input type="text" class="form-control input-sm" placeholder="请输入用户名称" 
			maxlength="100" name="loginName" id="loginName" ng-model="vm.model.loginName" 
			data-val="true" data-val-required="用户名必填" />
			</div>
			<div>
			<input type="password" class="form-control input-sm" placeholder="请输入用户密码"  
			maxlength="100"  name="password" id="password" ng-model="vm.model.password" 
			data-val="true" data-val-required="密码必填" /></div>
			
			<div><button class="btn btn-success loginBtn" ng-click="vm.submit()">登录系统 </button></div></br>
			<!-- <div><button class="btn btn-success loginBtn" ng-click="vm.forgetCode()">忘记密码 </button></div> -->
		</div>
	</form>	
	</div>
</div>

</div>
