<meta charset="UTF-8">

<div class="well well-sm" style="background:white;">
	<div style="margin-bottom: 20px;">
	<span>欢迎您：<b class="text-danger">${user}</b>,</span> <span>上次登录时间 ${lastLoginDate}</span>
	</div>
	
	<div style="height:750px;" >
	

	<div style="margin-left: 10px;margin-right:10px;">
		 <div style="width:49%;" class="pull-left">
            <table class="table table-hover table-bordered">
                <tbody>
                	<tr>
	                    <th width="36" style="text-align:center">
	                        <span class="glyphicon glyphicon-edit"></span>
	                    </th>
                    <th colspan="4">个人主办项目  <a class="pull-right" href="#/perToDo" style="padding-right: 20px;color: #595959; font-size: 14px;">更多<span class="glyphicon glyphicon-chevron-right" style="font-size: 12px;"></span><span class="glyphicon glyphicon-chevron-right" style="font-size: 12px;"></span></a></th>                      
                </tr>
                <tr>
                    <td width="5%">序号</td>
                    <td width="15%">收文编号</td>
                    <td width="45%">项目名称</td>
                    <td width="15%">收文日期</td>
                    <td width="15%">状态</td>
                    
                </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>

            </tbody></table>
        </div>
    
   
        <div style="width:49%;" class="pull-right">
            <table class="table table-hover table-bordered">
                <tbody><tr>
                    <th width="36" style="text-align:center">
                    	<span class="glyphicon glyphicon-edit"></span>
                    </th>
                        
                    <th colspan="4">个人协办项目 <a class="pull-right" href="#/perToDo" style="padding-right: 20px;color: #595959; font-size: 14px;">更多<span class="glyphicon glyphicon-chevron-right" style="font-size: 12px;"></span><span class="glyphicon glyphicon-chevron-right" style="font-size: 12px;"></span></a></th>
                </tr>
                <tr>
                    <td width="5%">序号</td>
                    <td width="15%">收文编号</td>
                    <td width="45%">项目名称</td>
                    <td width="15%">收文日期</td>
                    <td width="15%">状态</td>
                    
                </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        
                    </tr>
            </tbody></table>
        </div>
	</div>
    

  
    <div style="margin-left: 10px;margin-right:10px;">
        <div style="width:49%" class="pull-left">
            <table class="table table-hover table-bordered">
                <tbody><tr>
                    <th width="75px;" style="text-align:center">
                    	<span class="glyphicon glyphicon-edit"></span>
                    </th>
                        
                    <th colspan="7">个人在办项目统计</th>
                </tr>
                <tr>
                    <td colspan="2" rowspan="2">阶段</td>
                    <td colspan="6">在办</td>
                </tr>
                <tr>
                    <td>初审</td>
                    
                    <td>评审</td>
                    <td>发文中</td>
                    <td>退文</td>
                    <td>小计</td>
                </tr>
                    <tr>
                        <td colspan="2">
							建议书
                        </td>
                        <td>0</td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td colspan="2">
							可研
                        </td>
                        <td>0</td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td colspan="2">
							概算
                        </td>
                        <td>0</td>
                        
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
            </tbody></table>

        </div>
    </div>
    <div>
        <div>
        </div>
    </div>
    </div>
	
</div>