
<ion-view >
<ion-nav-bar class="bar-positive">
	<ion-nav-buttons side="left">
	<button menu-toggle="left" class="button button-icon icon ion-navicon" ng-click="toggleLeft()"></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right"> 
	<button class="button back-button button-clear button-icon icon ion-android-close"
	ng-click="endSlide()" ></button>
	</ion-nav-buttons>
	<ion-nav-title>{{title}}</ion-nav-title>
</ion-nav-bar>
<ion-side-menus >
<ion-side-menu-content drag-content="false">

<ion-nav-view>
	<ion-view>

		<ion-content scroll="false"> 
		<ion-slide-box show-pager="false" on-slide-changed="slideChanged(index)"  >
        
            <ion-slide>
                <div class="full-height">
                    <h4 class="sub-title positive-bg">光明新区2016年政府投资项目计划编制情况汇报</h4>
                    <div class="container content-text">
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;光明新区2016年政府投资项目计划编制工作于2015年9月正式启动。近期新区主要领导带队对辖区6个办事处进行了专题调研、走访，并对2016年新区政府投资项目计划的编制工作明确了要求。各项目单位在对既有项目梳理的基础上，进一步结合辖区经济发展需求和项目储备，深度发掘新增项目。</p>
                        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我局按照相关调研精神对各办事处提交的项目申报材料进行梳理汇总，编制了《光明新区2016年政府投资项目计划(草案）》（征求意见稿）并向各单位征求意见。通过分析研判各单位反馈意见，我局对征求意见稿进行了再核实，在充分吸收各项目单位反馈意见基础上，相应增补、调整了部分项目和资金安排，形成了《光明新区2016年政府投资项目计划(草案)》。</p>
                    </div>
                </div>
            </ion-slide>
            
            
            <ion-slide class="bg">
                <div class="full-height">
                    <div class="list-auto list-item-bottom">
                        <div class="item">
                            <h1><span class="icons-bg balanced-bg"><i class="icons icons-circle"></i></span>坚持民生优先</h1>
                            <div class="desc">聚焦民生热点难点和公共服务瓶颈约束因素，加快文化教育和医疗卫生项目建设，加大保障房建设、回购力度，强化社会治理和城市安全建设，全面提升民生幸福水平。</div>
                        </div>
                        <div class="item">
                            <h1><span class="icons-bg balanced-bg"><i class="icons icons-circle"></i></span>坚持突出重点</h1>
                            <div class="desc">全力推动新区特区一体化建设，加快推进城中村综合整治项目和重点片区路网综合整治工程，增强市政基础设施、产业配套等公共资源供给和服务能力，着力提升城市基础设施功能品质。</div>
                        </div>
                        <div class="item">
                            <h1><span class="icons-bg balanced-bg"><i class="icons icons-circle"></i></span>坚持问题导向</h1>
                            <div class="desc">深入推进新区双提升工作，进一步加大新区绿化、园林建设力度，全面提升生态环境质量，进一步推升辖区区位优势和产业环境，促进区域与产业转型升级协同发展，增强新区核心竞争力。</div>
                        </div>
                        <div class="item">
                            <h1><span class="icons-bg balanced-bg"><i class="icons icons-circle"></i></span>坚持动态调整</h1>
                            <div class="desc">主动适应新预算法要求，强化政府投资精细化管理，按照项目实际推进，灵活“调慢补快”，及时保障项目资金需求，促进计划下达量、工程形成量、资金拨付量“三量”趋于协调，减少资金积压，提高政府投资质量效应。</div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            <ion-slide class="bg">
            	<div class="full-height">
                    <div class="list-auto list-item-bottom">
                        <div class="item">
                            <div class="hint padding-bottom">
                                <i class="ion-information-circled"></i>
                                各单位申报项目共589个，总投资691.0亿元，申请年度投资113.0亿元
                            </div>
                           	<canvas id="bar" class="chart chart-bar" height=200 
                            chart-data="data1" chart-series="series1" chart-colours="colours1"  
                            chart-labels="labels1"  chart-options="options1" >
                            </canvas>
                            <div class="positive padding-top text-center">同比增长41%</div>
                        </div>
                        <div class="item">
                            <div class="hint">
                                <i class="ion-information-circled"></i>
                                <div class="item-box">本级财政预算安排40.0亿元，主要用于教科文卫体等民生福利和社会事业发展项目建设</div>
                                <div class="item-box">国土资金安排44.7亿元，主要用于道路交通、环境治理和提升、市容环境提升和征地拆迁等</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            
            <ion-slide>
            	<div class="full-height">
                    <div class="container">
                        <div class="hint padding-bottom">
                            <i class="ion-information-circled"></i>2016年政府投资计划共安排项目共354个（市容环境提升及初中小学建设项目按2类计）
                        </div>
                        <canvas id="pie" class="chart chart-pie" 
                        chart-legend="true" chart-data="data2" chart-series="series2" 
                        chart-colours="colours2" chart-labels="labels2" chart-options="options2">
                        </canvas>
                   </div> 
               </div>
            </ion-slide>
                
            <ion-slide>
            	<div class="full-height">
                    <div class="container">
                        <div class="hint padding-bottom">
                            <i class="ion-information-circled"></i>从项目单位看：2016年资金安排
                        </div>
                        <canvas id="line" class="chart chart-line" height="400" 
                        chart-data="data3" chart-series="series3" chart-labels="labels3" 
                        chart-legend="true" chart-options="options3" chart-colours="colours3">
                        </canvas>
                    </div> 
                </div>
            </ion-slide>
            
            
            <ion-slide class="bg">
                <div class="full-height">
                    <div class="list-auto">
                        <table class="table table-blue">
                            <thead>
                                <tr>
                                    <td>片区</td>
                                    <td>项目单位申报资金需求</td>
                                    <td>2016年安排</td>
                                    <td>安排占比</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="positive">
                                    <td>合计</td>
                                    <td>856652</td>
                                    <td>847003</td>
                                    <td>100.00%</td>
                                </tr>
                                <tr>
                                    <td>观湖辖区</td>
                                    <td>60078</td>
                                    <td>89453</td>
                                    <td>10.56%</td>
                                </tr>
                                <tr>
                                    <td>民治辖区</td>
                                    <td>63769</td>
                                    <td>89453</td>
                                    <td>9.50%</td>
                                </tr>
                                <tr>
                                    <td>光明辖区</td>
                                    <td>47437</td>
                                    <td>89453</td>
                                    <td>9.97%</td>
                                </tr>
                                <tr>
                                    <td>大浪辖区</td>
                                    <td>57235</td>
                                    <td>89453</td>
                                    <td>10.10%</td>
                                </tr>
                                <tr>
                                    <td>福城辖区</td>
                                    <td>48653<br /></td>
                                    <td>89453</td>
                                    <td>8.24%</td>
                                </tr>
                                <tr>
                                    <td>跨区域</td>
                                    <td>36423</td>
                                    <td>89453</td>
                                    <td>43.64%</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="item">
                            <canvas id="doughnut4" class="chart chart-doughnut" chart-colours="colours4" chart-data="data4" chart-labels="labels4"></canvas> 
                            <div class="positive text-center padding-top">2016年安排资金847003万元</div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            
            <ion-slide>
                <div class="full-height">
                    <div class="container">
                        <canvas id="bar5" class="chart chart-bar" height="480" 
                        chart-legend="true" chart-data="data5" chart-series="series5"  
                        chart-colours="colours5" chart-labels="labels5" chart-options="options5">
                        </canvas>
                    </div>
                </div>    
            </ion-slide>
            
            
            <ion-slide class="bg">
                <div class="full-height">
                    <div class="list-auto list-left-border list-item-bottom">
                        <div class="item">
                            <h1>初中和小学建设</h1>
                            <div class="row">
                              <div class="col col-66">切块安排年度投资</div>
                              <div class="col assertive text-right">3.50亿元</div>
                            </div>
                            <div class="row">
                              <div class="col col-66">占2016年度总投资计划</div>
                              <div class="col assertive text-right">4.2%</div>
                            </div>
                        </div>
                        <div class="item">
                            <h1>市容环境提升</h1>
                            <div class="row">
                              <div class="col col-66">切块安排年度投资</div>
                              <div class="col assertive text-right">5.20亿元</div>
                            </div>
                            <div class="row">
                              <div class="col col-66">占2016年度总投资计划</div>
                              <div class="col assertive text-right">6.1%</div>
                            </div>
                        </div>
                        <div class="item">
                            <h1>保障性住房（回购、建设）</h1>
                            <div class="row">
                              <div class="col col-66">安排年度投资</div>
                              <div class="col assertive text-right">5.40亿元</div>
                            </div>
                            <div class="row">
                              <div class="col col-66">占2016年度总投资计划</div>
                              <div class="col assertive text-right">6.4%</div>
                            </div>
                            <div class="hint padding-bottom hint-bg">
                                <i class="ion-information-circled"></i>回购项目安排4.4亿元，建设项目安排1.0亿元
                            </div>
                        </div>
                        <div class="item">
                            <h1>征地拆迁</h1>
                            <div class="row">
                              <div class="col col-66">安排年度投资</div>
                              <div class="col assertive text-right">5.00亿元</div>
                            </div>
                            <div class="row">
                              <div class="col col-66">占2016年度总投资计划</div>
                              <div class="col assertive text-right">5.6%</div>
                            </div>
                        </div>
                        <div class="item">
                            <h1>医疗设备购置</h1>
                            <div class="row">
                              <div class="col col-66">安排年度投资</div>
                              <div class="col assertive text-right">4.35亿元</div>
                            </div>
                            <div class="row">
                              <div class="col col-66">占2016年度总投资计划</div>
                              <div class="col assertive text-right">5.9%</div>
                            </div>
                        </div>
                        <div class="item">
                            <h1>片区路网综合整治工程</h1>
                            <div class="row">
                              <div class="col col-66">安排年度投资</div>
                              <div class="col assertive text-right">16.2亿元</div>
                            </div>
                            <div class="row">
                              <div class="col col-66">占2016年度总投资计划</div>
                              <div class="col assertive text-right">18.9%</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            
            <ion-slide class="bg">
                <div class="full-height">
                    <div class="list-auto list-left-border list-item-bottom">                        
                        <div class="item border-left-none">
                             <div class="hint">
                                <i class="ion-information-circled"></i>此外，各办事处零星及小额应急工程安排年度投资1.80亿元(3000万元/办事处)，安全隐患整治建设项目安排年度投资1.20亿元(2000万元/办事处)。
                            </div>
                        </div>
                        <div class="item border-left-none">
                             <div class="hint">
                                <i class="ion-information-circled"></i>需特别说明：<br>鉴于城中村综合整治项目2015年已安排资金12.0亿元（2.0亿元/办事处，其中投资计划1.0亿元，财政预算1.0亿元），且尚未实际使用，故2016年政府投资计划中未安排上述项目资金计划，建议各办事处加快推进上述项目建设，先行消化2015年度资金，届时如项目确有新增资金需求的，再另行在2016年度投资计划总盘子中予以调剂安排。
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>         
            
            
            <ion-slide class="bg">
                <div class="full-height">
                    <div class="list-auto list-item-bottom">
                        <div class="item">
                        	  <div class="item-number">
                              	<span class="balanced-bg icon-number">1</span>
                              	此次2016年度投资计划编制，除涉及政策性原因（如楼堂馆所）、往年资金计划已足额安排、项目已列入市投资范畴等因素外，对于个项目单位报送项目及资金需求，均基本上予以采纳并编入计划。
                              </div>
                        </div>
                        <div class="item">
                        <div class="item-number">
                             <span class="balanced-bg icon-number">2</span>
                             《光明新区2016年政府投资项目计划(草案）》（征求意见稿）发出后，我局收到发去征求意见的26个相关项目单位和6个办事处反馈回来的共144条意见，我局对反馈意见进行了逐条梳理，采纳意见131条，未采纳意见13条，未采纳意见主要涉及前期项目调减、项目建设必要性不确定，市投项目重复安排等原因。
                        </div>
                        </div>
                        <div class="item">
                            <div class="item-number">                  
                                 <span class="balanced-bg icon-number">3</span>
                                 涉及初中小学建设和市容环境提升两块切块资金项目，我局主要采纳了切块资金主管部门拟自主实施开展项目及对各办事处报送项目统筹、梳理的意见，对上述两块切块资金2016年度投资计划中予以安排。
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            
            <ion-slide class="bg">
                <div class="full-height">
                    <div class="list-auto list-item-bottom">
                        <div class="item">
                            <div class="hint item-number">
                                <span class="balanced-bg icon-number">1</span>
                                <div class="item-box">本次2016年政府投资计划编制中各单位报送的前期及新增未立项项目共218个（环提及初中、小学切块项目项目各按1个项目计），占2016年度政府投资项目总项目的62%，大量项目仍处于前期推进阶段。</div>
                                <div class="item-box">为加快年内项目建设进度及基建资金拨付进度，建议本次纳入新区2016年度政府投资计划的区本级政府投资项目（设备购置、新增未立项项目等，不含市区按比例投资、垫付市投项目前期类项目），经党工委会、管委会审议通过后，视同立项，直接开展下一步工作，并在概算阶段根据相应的投资规模按程序报党工委会、新区管委会审定概算。</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="hint item-number">
                                <span class="balanced-bg icon-number">2</span>
                                <div class="item-box">2016年度新区辖区范围内城中村综合整治、片区路网综合整治、畅通光明工程、交通安全设施整体提升、光明新区“双提升”道路综合整治工程、雨污管网改造等项目建设拟全面铺开，为避免上述项目前期阶段项目、资金计划重复设计、申报，坚决杜绝建设阶段反复开挖，重复建设等现象，最大限度降低工程施工阶段对居民出行的影响。</div>
                                <div class="item-box">建议新区城市建设局、新区建管中心、市交委光明交通运输局、各办事处进一步理清责任，明确分工，建立统筹协作的工作机制，合理安排建设时序，有序推进项目建设。其中，市交委光明交通运输局申报片区路网综合整治2016年度资金需求16.2亿元，项目体量大、建设范围广，项目主体涉及建管中心、各办事处等多个单位的衔接协调，建议市交委光明交通运输局需进一步细化工作任务，统筹好项目推进各环节，确保该项目的顺利实施。</div>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-slide>
            
            
            <ion-slide class="bg">
                <div class="full-height">
                    <div class="list-auto list-item-bottom">
                        <div class="item">
                            <div class="hint item-number">
                                <span class="balanced-bg icon-number">3</span>
                                <div class="item-box">为强化计划任务的刚性，确保年度投资任务的顺利完成和基建资金拨付率的提升。</div>
                                <div class="item-box">建议2016年政府投资计划经新区党工委、管委会审定后，各单位对纳入年度计划的项目按季度将进行项目建设进度和资金拨付进度分解，细化工作目标和责任，倒排工期，并纳入新区政府投资项目计划管理系统，由综合办督查室及新区纪检监察部门进行进度跟踪、督办。</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="hint item-number">
                                 <span class="balanced-bg icon-number">4</span>
                                <div class="item-box">针对新预算法施行以来，对预算年度安排的基建资金执行率予以刚性考核，结合新区成立以来政府投资项目计划及资金完成情况，以及目前拟纳入2016年投资计划的项目推进实际情况和推进过程尚需解决的问题，综合预测新区2016年政府投资项目2016年当年计划实际资金执行约40.0亿，含考虑往年计划在2016年执行的因素，2016年全年基建资金实际需求总量约50.0亿元。</div>
                                <div class="item-box">建议新区能否考虑财政预算资金与年度投资计划脱钩，差额安排基建资金，即编制2016年政府投资计划的计划资金为84.7亿元，财政实际安排基建资金为50.0亿元。</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </ion-slide>
		
		</ion-slide-box> 
		</ion-content>

	</ion-view>
</ion-nav-view>
</ion-side-menu-content>

<ion-side-menu>
<ion-header-bar class="bar-positive">
<h1 class="title">菜单</h1>
</ion-header-bar>
<ion-content>
<div class="list">
	<div class="item" ng-click="slideTo(0)">总体安排情况</div>
	<div class="item" ng-click="slideTo(7)">重点领域、项目计划安排情况</div>
	<div class="item" ng-click="slideTo(9)">关于计划编制工作的几点说明</div>
	<div class="item" ng-click="slideTo(10)">下一步工作建议</div>
</div>
</ion-content>
</ion-side-menu>

</ion-side-menus>
</ion-view>

