<ion-view view-title="项目信息" hide-tabs="true">
<ion-content>

<div class="list-auto">
  <table class="table table-left">
    <tbody>
      <tr>
        <td class="color-black" style="width:35%;">项目名称</td>
        <td style="width:65%">{{project.projectName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">申报单位名称</td>
        <td>{{project.unit.unitName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目行业归口</td>
        <td>{{project.projectIndustry | dict}}</td>
      </tr>
      <tr>
        <td class="color-black">项目总投资 </td>
        <td class="color-black">{{project.projectInvestSum || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">累计完成投资 </td>
        <td class="color-black">{{project.projectInvestAccuSum || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">资金来源</td>
        <td>{{project.InvestmentSourceName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目类型</td>
        <td>{{project.projectType | dict}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="list-auto list-title">
  <a class="item item-margin" href="#/tab/{{type}}-prepares/{{projectId}}">
    <h1>{{project.prepares.Year || '-'}}年安排资金<i class="ion-chevron-right"></i></h1>
    <div class="marign-overflow">
      <div class="row row-wrap row-border">
        <div class="col col-33 text-center" ng-repeat="prepare in project.prepares.Prepares">
          <div class="label">{{prepare.SourceName}}</div>
          <span class="assertive">{{prepare.ArrangeMoney|| '-'}}万</span>
        </div>
        <div class="col text-center" ng-show="project.prepares == null || project.prepares.Prepares.length==0">没有安排资金数据</div>
      </div>
    </div>
  </a>
  <div class="item item-margin" href="#">
    <h1>申报信息</h1>
    <ul class="list-approval">
      <li ng-repeat="shenbao in project.shenbaos"><a href="#/tab/project-shenbao/{{shenbao.id}}"><div class="color-black">{{shenbao.projectShenBaoStage | dict}}：</div>{{shenbao.processState | dict}}</a></li>
    </ul>
    <div class="text-center padding" ng-show="project.shenbaos.length==0">没有项目申报数据</div>
  </div>
  <div style="width: 100%;text-align: center;">
		<a class="button button-positive" style="width: 80%;" href="#/tab/monthreport-list/{{project.id}}">项目进展</a>
	</div>
  <!--<div class="item" href="#">
    <h1>项目进展</h1>
    <div class="time-progress-bar">
      <a href="#/tab/{{type}}-schedules/{{projectId}}/2016" class="column" ng-repeat="schedule in project.schedules">
        <i class="icon-circle"></i>
        <div class="date"><span class="positive-bg">截至{{schedule.MonthReportDate || '-'}}</span></div>
        <div class="info">
         {{schedule.ProjectImageProgress}}
       </div>
     </a>

   </div>
   <div class="text-center padding" ng-show="project.schedules.length==0">没有项目进度数据</div>
 </div>-->
</div>


</ion-content>
</ion-view>
