<ion-view view-title="项目信息" hide-tabs="true">
<ion-content>

<div class="list-auto">
  <table class="table table-left">
    <tbody>
      <tr>
        <td class="color-black" style="width:35%;">项目名称</td>
        <td style="width:65%">{{project.projectName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">申报单位名称</td>
        <td>{{project.unit.unitName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目行业归口</td>
        <td>{{project.projectIndustry | dict}}</td>
      </tr>
      <tr>
        <td class="color-black">项目总投资 </td>
        <td class="color-black">{{project.projectInvestSum || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">累计完成投资 </td>
        <td class="color-black">{{project.projectInvestAccuSum || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">资金来源</td>
        <td>{{project.InvestmentSourceName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目类型</td>
        <td>{{project.projectType | dict}}</td>
      </tr>
    </tbody>
  </table>
</div>


<div class="list-auto list-title">
  <!--<div class="item item-margin" href="#">
    <h1>申报信息</h1>
    <ul class="list-approval">
      <li ng-repeat="shenbao in project.shenbaos"><a href="#/tab/project-shenbao/{{shenbao.id}}"><div class="color-black">{{shenbao.projectShenBaoStage | dict}}：</div>{{shenbao.processState | dict}}</a></li>
    </ul>
    <div class="text-center padding" ng-show="project.shenbaos.length==0">没有项目申报数据</div>
  </div>-->
  <div style="width: 100%;text-align: center;">
		<a class="button button-positive" style="width: 80%;" href="#/tab/monthreport-list/{{project.id}}">项目进展</a>
	</div>
</div>


</ion-content>
</ion-view>
