<ion-view view-title="项目审批信息" hide-tabs="true">
<ion-content>
 
<div class="list-auto">
  <table class="table table-left">
    <tbody>
      <tr>
        <td class="color-black" style="width:35%;">项目名称</td>
        <td style="width:65%">{{projectprocess.ProjectInfo.Name || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">申报单位名称</td>
        <td>{{projectprocess.ProjectInfo.ReportUnitName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目行业归口</td>
        <td>{{projectprocess.DomainClassName || '-'}}</td>
      </tr>
      <tr ng-show='projectType == 1'>
        <td class="color-black">项目总投资 </td>
        <td class="color-black">{{projectprocess.ProjectInfo.InvestTotal || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">资金来源</td>
        <td>{{projectprocess.ProjectInfo.InvestSources || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目类型</td>
        <td>{{projectprocess.ProjectInfo.ProjectCategory || '-'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">至上年度投资资金</td>
        <td>{{projectprocess.ProjectInfo.InvestPreviousYear + '万' || '-'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">年度投资计划</td>
        <td>{{projectprocess.ProjectInfo.InvestAnnual + '万' || '-'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">本次申请投资计划</td>
        <td>{{'未知字段'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">本年度主要建设内容</td>
        <td>{{projectprocess.ProjectInfo.ConstructionContent || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">建设规模</td>
        <td>{{projectprocess.ProjectInfo.ConstructionScale || '-'}}</td>
      </tr>
    </tbody>
  </table>
  
  <table class="table table-left">
    <tbody>
      <tr>
      <td colspan="2" class="color-black"><b>申报材料</b></td>
    </tr>
      <tr ng-repeat="pa in projectprocess.ProjectAttachmentList">
        <td class="color-black" style="width:35%;">{{pa.AttachmentTypeName}}</td>
        <td style="width:65%">{{pa.FileName}}</td>
      </tr>
      
    </tbody>
  </table>
</div>


</ion-content>
</ion-view>
