<form id="formDraft" name="form">
	<div class="page-header" style="text-align: center;">
	<h1>深圳市光明新区发展和财政局（文件稿纸）</h1>
	</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">项目名称：</td>
			<td>
				<span ng-bind="vm.draft.projectName"></span>
			</td>
			<td class="formAlignRight" style="width:150px;">项目代码：</td>
			<td>
				<span ng-bind="vm.draft.projectNumber"></span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">申报单位：</td>
			<td>
				<span ng-bind="vm.draft.unitName"></span>
			</td>
			<td class="formAlignRight">拟稿单位拟稿人：</td>
			<td>
				<span ng-bind="vm.userNameAndUnitName"></span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">总投资：</td>
			<td>
				<span ng-bind="vm.draft.capitalTotal"></span>&nbsp;（万元）
			</td>
			<td class="formAlignRight">审定金额：<span class="required">(*)</span></td>
			<td>
				<span ng-bind="vm.draft.capitalSD"></span>&nbsp;（万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">拟稿时间：<span class="required">(*)</span></td>
			<td>
				<span ng-bind="vm.draft.draftDate"></span>
			</td>
			<td class="formAlignRight">秘密等级：<span class="required">(*)</span></td>
			<td ng-bind="vm.getBasicDataDesc(vm.draft.hecretHierarchy)"></td>
		</tr>
		<tr>
			<td class="formAlignRight">文件缓急：<span class="required">(*)</span></td>
			<td ng-bind="vm.getBasicDataDesc(vm.draft.fileSet)"></td>
			<td class="formAlignRight">文件种类：<span class="required">(*)</span></td>
			<td ng-bind="vm.getBasicDataDesc(vm.draft.documentType)"></td>
		</tr>
		<tr>
			<td class="formAlignRight">发文种类：<span class="required">(*)</span></td>
			<td ng-bind="vm.getBasicDataDesc(vm.draft.postingCategory)"></td>
			<td class="formAlignRight">批复金额：<span class="required">(*)</span></td>
			<td>
				<span ng-bind="vm.draft.capitalPifU"></span>&nbsp;（万元)
			</td>
		</tr>
			
		<tr>
			<td class="formAlignRight">公开类型：<span class="required">(*)</span></td>
			<td colspan="3" ng-bind="vm.getBasicDataDesc(vm.draft.openType)"></td>
		</tr>
		<tr>
			<td class="formAlignRight">标题：<span class="required">(*)</span></td>
			<td colspan="3" ng-bind="vm.draft.title"></td>
		</tr>
		<tr>
			<td class="formAlignRight">主题词：<span class="required">(*)</span></td>
			<td colspan="3" ng-bind="vm.draft.keyWord"></td>
		</tr>
		<tr>
			<td class="formAlignRight">正文附件：<span class="required">(*)</span></td>
			<td colspan="3">
				<div style="margin:3px;" ng-repeat="y in vm.model.shenBaoInfo.attachmentDtos" ng-if="y.type == 'zhengwenFile'">
		 			<a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
	 			</div>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">发文附件：<span class="required">(*)</span></td>
			<td colspan="3">
				<div style="margin:3px;" ng-repeat="y in vm.model.shenBaoInfo.attachmentDtos"  ng-if="y.type == 'fawemFile'">
		 			<a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
	 			</div>
			</td>
		</tr>
	</table>
</form>