<div ng-include src="'/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/app/common/dialog-confirm.tmpl.html'"></div>
<style>
	.modal-open{
		overflow:auto
	}
</style>
<div class="well well-sm" style="background:white;">
	 <ol class="breadcrumb">
	  	 <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
	  	 <li><a href="/admin">首页</a></li>
	     <li><a href="#/projectDeclaration">项目申报</a></li>
	     <li class="active">{{vm.titleDeclarationAdd}}</li>
	 </ol>
	 
	<div style="border-bottom:2px solid #ccc;">
	   <ul class="tab clearfix ">
		  <li ng-click="vm.tab(1)" >
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==1?'white':'black'}" ng-class="{'btn-success':vm.tabActive==1}">项目关联信息</button>
	      </li>
	       <li>
	      	<span class="glyphicon glyphicon-chevron-right" ></span>
	      </li>	      
	      <li ng-click="vm.tab(2)">
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==2?'white':'black'}" ng-class="{'btn-success':vm.tabActive==2}">项目基本信息</button>
	      </li>
	       <li>
	      	<span class="glyphicon glyphicon-chevron-right" ></span>
	      </li>
	      <li ng-click="vm.tab(3)" >
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==3?'white':'black'}" ng-class="{'btn-success':vm.tabActive==3}">单位基本信息</button>
	      </li>
	      <li>
	      	<span class="glyphicon glyphicon-chevron-right" ></span>
	      </li>
	      <li ng-click="vm.tab(4)">
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==4?'white':'black'}" ng-class="{'btn-success':vm.tabActive==4}">申报材料清单</button>
	      </li>
	      <li>
	      	<span class="glyphicon glyphicon-chevron-right"  ></span>
	      </li>
	      <li ng-click="vm.tab(5)">
	      	<button class="btn btn-default btn-sm" ng-style="{color:vm.tabActive==5?'white':'black'}" ng-class="{'btn-success':vm.tabActive==5}">申报信息确认</button>
	      </li>
	    </ul>
	</div>

	<div>
		<!-- 项目关联信息（新增）页面 -->
		<div ng-show="vm.tabActive==1" ng-include src="'/contents/projectDetais/html/project.add/prePlan/projectRelatedInfo.add.html'"></div>
      	<!-- 項目基本信息(新增)頁面 -->
      <div ng-show="vm.tabActive==2" ng-include src="'/contents/projectDetais/html/project.add/prePlan/projectBasicMessage.add.html'"></div>
      <!--  項目單位基本信息(新增)頁面 -->
      <div ng-show="vm.tabActive==3" ng-include src="'/contents/projectDetais/html/project.add/prePlan/projectUnitMessage.add.html'"></div>
      <!-- 項目申報材料清單 (新增)頁面-->
      <div ng-show="vm.tabActive==4" ng-include src="'/contents/projectDetais/html/project.add/prePlan/declareMaterialList.add.html'"></div>
		<!-- 項目申報信息確認(新增)頁面 -->
      <div ng-show="vm.tabActive==5" ng-include src="'/contents/projectDetais/html/project.add/prePlan/declareMessageConfirm.add.html'"></div>
 	
 	</div>
</div>	  
	  