<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<style>
 .well-sm{
	 border:0px; border-radius: 0px;
 }
 iframe{
	 width:100%;
	 height: 700px;
 }
 #myModal_monitor .modal-dialog{
	 width: 1550px;
 }
@media (max-width: 1600px) {
	iframe{
		height: 480px;
	}
	#myModal_monitor .modal-dialog{
		width: 1250px;
	}
}
</style>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>
	      <li>项目监管</li>
	      <li class="active">政府投资项目列表</li>
	  </ol>
</div>

<div class="well well-sm" style="background:white;">
	<script type="text/template" id="columnBtns">
		<!--
		<a class="btn btn-xs btn-primary" href="#/projectEdit/{0}/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
		-->
		<a class="btn btn-xs btn-primary" ng-click="{2}"><span class="glyphicon glyphicon-eye-open"></span>流程监控图</a>
	</script>
	<div class="search">
		<table class="table table-bordered" style="margin-bottom:0px;">
			<tr>
				<td colspan="6" class="bg-info">
					<span style="padding:10px;"><strong>项目查询</strong></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight" style="width:150px">项目名称：</td>
				<td style="width:25%"><input type="text" style="width:360px;" placeholder="请输入项目名称（可少输不可输错）" ng-model="vm.search.projectName"/></td>
				<td class="formAlignRight" style="width:200px">项目阶段：</td>
				<td>
					<select style="height:30px;" ng-model="vm.search.projectStage">
						<option value="">---请选择---</option>
						<option ng-repeat="x in vm.basicData.projectStage" value="{{x.id}}">{{x.description}}</option>
					</select>
				</td>
				<!-- <td class="formAlignRight">是否需要填写月报：</td>
				<td>
					<select style="height:30px;" ng-model="vm.search.isMonthReport">
						<option value="">---请选择---</option>
						<option value="true">是</option>
						<option value="false">否</option>
					</select> 
				</td> -->
			</tr>
			<!-- <tr>
                <td class="formAlignRight">项目所属单位：</td>
                <td><input type="text" style="width:360px;" placeholder="请输入单位名称（可少输不可输错）" ng-model="vm.search.unitName"/></td>
            </tr> 
            -->
            <!--
		 	<tr>
				<td class="formAlignRight">项目所属单位：</td>
				<td>
					<select style="height:30px;" ng-model="vm.search.unitName">
						<option value="">---请选择---</option>
						<option ng-repeat="x in vm.basicData.userUnit" value="{{x.id}}">{{x.unitName}}</option>
					</select>
				</td>
			</tr> 
			-->
			<tr>
				<td colspan="6">
					<button class="btn btn-success btn-sm pull-right" ng-click="vm.search()"><span class="glyphicon glyphicon-search"></span>查询</button>
				</td>
			</tr>
		</table>
	</div>

</div>

<div class="well well-sm" style="background:white;">
<!-- <div class="toolbar">
	<button class="btn btn-sm btn-primary" ng-click="vm.addProject()"><span class="glyphicon glyphicon-plus"></span>新增项目</button>
</div> -->
<form id="form" name="form">
	<div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</form>
</div>

<!--评审阶段模态框-->
<!-- <div class="custom-modal box box-solid" data="customModal">
	<div class="box-header with-border">
		<h3 class="box-title">项目审批事项</h3>

		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-minus"></i>
			</button>
		</div>

	</div>
	<div class="box-body">

		<table class="table table-striped">
			<thead>
			<tr>
				<th>项目事项</th>
				<th>审批项目</th>
				<th>剩余天数</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="item in vm.projectItemsModel">
				<td>{{item.shenpiName}}</td>
				<td>{{item.projectDto.projectName}}</td>
				<td>{{item.virtualDayNum}}</td>
				<td><a class="btn btn-xs btn-primary" href="#/shenpiItemsDetail/{{item.id}}">查看</a></td>
			</tr>
			</tbody>
		</table>

	</div>

</div> -->


<script>
/*
*   对接后台时请删除数据源和数据模型
*
* */



$(document).on("click", "[data=custombtn]", function(event) {  
   $("[data=customModal]").hide();
   var topSet=$(this).parent("td").offset().top+$(this).parent("td").height()+11+"px";

   var leftSet=$(this).parents(".grid").offset().left+"px";
   var widthSet=$(this).parents(".grid").width()-16+"px";
       $("[data=customModal]").slideToggle();
	   $("[data=customModal]").css({"top":topSet,"width":widthSet,"left":leftSet});
});
$(window).resize(function () {
    $("[data=customModal]").hide();
})
</script>


<!-- 选择投资类型模态框 -->
<div class="modal fade" id="myModal_add" tabindex="-1" role="dialog"> 
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">选择投资类型</h4> 
			</div> 
			<div class="modal-body">
				<label ng-repeat="x in vm.basicData.investmentType">
					<input name="investmentType" type="radio" value="{{x.id}}" ng-model="vm.model.projectInvestmentType"/>{{x.description}}&nbsp;&nbsp;
				</label>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>			
		 		<button type="button" class="btn btn-success" ng-click="vm.confirmInvestmentType()">确认</button> 
			</div> 
		</div><!-- /.modal-content --> 
	</div><!-- /.modal --> 
</div>

<!-- 设置是否填报模态框 -->
<div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog"> 
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">设置是否填报</h4> 
			</div> 
			<div class="modal-body">
				<span style="display:none" ng-bind="vm.model.id"></span>
				<label>是</label>
				<input type="radio" name="isMonthReport" value="true" ng-checked="vm.model.isMonthReport==1" ng-model="vm.model.isMonthReport"/>
				<label>否</label>
				<input type="radio" name="isMonthReport" value="false" ng-checked="vm.model.isMonthReport==0" ng-model="vm.model.isMonthReport"/>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 						
				<button type="button" class="btn btn-primary" ng-click="vm.updateIsMonthReport()">提交更改</button> 
			</div> 
		</div><!-- /.modal-content -->
	</div>  
</div><!-- /.modal -->

<!-- 设置监控流程图模态框 -->
<div class="modal fade" id="myModal_monitor" tabindex="-1" role="dialog"> 
	<div id="dialog" class="modal-dialog">
		<div class="modal-content"> 
			<div class="modal-header bg-primary" style="padding:5px 15px;">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">监控流程图</h4> 
			</div> 
			<div class="modal-body" style="padding: 10px 15px;">
				<iframe ng-src="{{!vm.diagramViewerUrl ? '' : '${request.contextPath}/' + vm.diagramViewerUrl}}" id="myIframe"></iframe>
			</div> 
			<div class="modal-footer" style="padding:5px 15px;">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			</div> 
		</div><!-- /.modal-content -->
	</div>  
</div><!-- /.modal -->
