<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>
	      <li><a href="#/yearPlan/planList">年度计划编制</a></li>	 
	      <li class="active">政投计划列表</li>
	  </ol>
	  <script type="text/template" id="columnBtns">
			<a class="btn btn-xs btn-primary" href="#/yearPlan/planEdit/{0}"><span class="glyphicon glyphicon-edit"></span>编辑</a> 
			<a class="btn btn-xs btn-success" href="#/yearPlan/planBZ/{0}" ng-if="!{1}"><span class="glyphicon glyphicon-pencil"></span>编制计划</a>
			<button class="btn btn-xs btn-danger" ng-click="{3}" ng-if="!{1}" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-remove"></span>删除</button>
	  </script>
	  <div class="toolbar">
	  	<a class="btn btn-sm btn-primary" href="#/yearPlan/planEdit/"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增计划</a>
	  	<button class="btn btn-sm btn-danger" ng-click="vm.deletePlans()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-trash"></span>&nbsp;批量删除</button>
	  </div> 
     <form id="form" name="form">          
         <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>

	