<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	 <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>
	      <li><a href="#/yearPlan/planList">年度计划列表</a></li>	 
	      <li class="active">编辑</li>
	  </ol>
	 
     <form id="form" name="form">          
        <div class="bg-info text-info" style="padding: 10px; "><strong>基本信息</strong></div>
		<table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width:150px;">名称：<span class="required">(*)</span></td>
				<td style="width:350px;" ng-bind="vm.model.plan.name">
					
				</td>
				<td class="formAlignRight" style="width:150px;">计划年度：<span class="required">(*)</span></td>
				<td ng-bind="vm.model.plan.year">
				
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">备注：</td>
				<td colspan="3" ng-bind="vm.model.plan.remark"></td>				
			</tr>
		</table>
		 <div class="bg-info text-info" style="padding: 10px; "><strong>数据汇总</strong></div>
		 <table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width:150px;">项目总数：</td>
				<td style="width:80px;" ng-bind="vm.model.shenBaoInfoTotal"></td>
				<td class="formAlignRight" style="width:150px;">前期：</td>
				<td style="width:80px;" ng-bind="vm.model.QianQiTotal"></td>
				<td class="formAlignRight" style="width:150px;">新开工：</td>
				<td style="width:80px;" ng-bind="vm.model.NewStratTotal"></td>
				<td class="formAlignRight" style="width:150px;">继建：</td>
				<td style="width:80px;" colspan="6" ng-bind="vm.model.XuJianTotal"></td>
			</tr>
			<tr>
				<td class="formAlignRight">项目总投资：</td>
				<td style="width:80px;" ng-bind="vm.model.projectInvestSumTotal"></td>
				<td class="formAlignRight">申请资金金额：</td>
				<td style="width:80px;" colspan="3" ng-bind="vm.model.applyYearInvestTotal"></td>
				<td class="formAlignRight">安排资金金额：</td>
				<td style="width:80px;" colspan="2" ng-bind="vm.model.yearInvestApprovalTotal"></td>					
			</tr>
			<tr>
				<td class="formAlignRight">计划总规模：</td>
				<td style="width:80px;" colspan="7">
				<table class="table table-bordered" style="margin:0px">
				<tr class="text-primary text-center">
					<td>市投资</td>
					<td>区投资</td>
					<td>中央预算内预算</td>
					<td>社会投资</td>					
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								<td>专项基金</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSCZ_ggysTotal" ></td>
								<td ng-bind="vm.model.capitalSCZ_gtzjTotal"></td>
								<td ng-bind="vm.model.capitalSCZ_zxzjTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalQCZ_ggysTotal"></td>
								<td ng-bind="vm.model.capitalQCZ_gtzjTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
						
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalZYYSTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
						
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSHTZTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
							
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalOtherTotal"></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
				
					
				</td>
					
			</tr>
		</table>
		 <div class="toolbar">
	  	<button class="btn btn-xs btn-success" ng-click="vm.dialog_addPlan()"><span class="glyphicon glyphicon-plus"></span>添加项目计划</button> 
	  	<button class="btn btn-xs btn-danger" ng-click="vm.removeYearPlanCapital()"><span class="glyphicon "></span>移除项目计划</button>
	  	<button class="btn btn-primary btn-xs" ng-click="vm.planGrid.saveAsExcel()"><span class="glyphicon glyphicon-download-alt"></span> 导出Excel</button>
	  </div>
	  	<script type="text/template" id="input">
			<input style="width:100px" id="capitalSum_{0}" ng-click="vm.popOver($event,'{0}')" value="{1}"/>
		</script>
		<div ng-style="vm.popStyle" ng-show="vm.isPopOver" 
		style="z-index:100;font-size:12px; 
		border:1px solid #ccc; position:absolute; width:200px;  background:white;">
			<div class="bg-info" style="padding:3px;text-align:right;">
				<span class="glyphicon glyphicon-remove" ng-click="vm.isPopOver=false"></span>			
			</div>
	
				<div >
					<span ng-bind="vm.model.capital.id" style="display:none"></span>
					<table class="table-bordered table-striped" style="text-align:center;width:100%">
						<tbody>
							<tr>
								<th rowspan="4" style="text-align:center;width:70px;">市投资</th>
							</tr>
							<tr>
								<td style="width:80px;">公共预算</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSCZ_ggys"/>
								</td>
							</tr>
							<tr>
								<td>国土基金</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSCZ_gtzj"/>
								</td>
							</tr>
							<tr>
								<td>专项基金</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSCZ_zxzj"/>
								</td> 
							</tr>
							<tr>
								<th rowspan="3" style="text-align:center">区投资</th>
							</tr>
							<tr>
								<td>公共预算</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalQCZ_ggys"/>
								</td>
							</tr>
							<tr>
								<td>国土基金</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalQCZ_gtzj"/>
								</td>
							</tr>
							<tr>
								<th style="text-align:center">中央预算内投资</th>
								<td>-</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalZYYS"/>
								</td>
							</tr>
							<tr>
								<th style="text-align:center">社会投资</th>
								<td>-</td>
								<td >
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSHTZ"/>
								</td>
							</tr>
							
							<tr>
								<th style="text-align:center">其他</th>
								<td>-</td>																										
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalOther"/>
								</td>
							</tr>							
						</tbody>
					</table>
					<div style="text-align:right;padding:3px;">
						<button class="btn btn-primary btn-xs" ng-click="vm.isPopOver=false">取消</button>
						<button class="btn btn-success btn-xs" ng-click="vm.updateCapital()">确认</button>						
					</div>									
				</div>										
		</div> 
         <div class="yearPlanCapitalGrid" kendo-grid="vm.planGrid" k-options="vm.planGridOptions"></div>
    </form>
</div>

	<div id="addPlanList" class="myDialog modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 80px auto; width: 80%; max-width: 1000px;">
				<div class="modal-content">
					<div class="modal-header bg-primary">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="modal-title">添加项目计划</span>
					</div>
					<div class="modal-body text-danger">
						<div class="grid" kendo-grid="grid" k-options="vm.addPlanGridOptions"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
						<button type="button" class="btn btn-success btn-sm" ng-click="vm.dialogConfirmSubmit()" >确认</button>						
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->

