<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	 <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>
	      <li><a href="#/yearPlan/planList">年度计划列表</a></li>	 
	      <li class="active">编辑</li>
	  </ol>
	 
     <form id="form" name="form">          
        <div class="bg-info text-info" style="padding: 10px; "><strong>基本信息</strong></div>
		<table class="table table-bordered table-striped ">
				<tr>
				<td class="formAlignRight" style="width:150px;">名称：<span class="required">(*)</span></td>
				<td style="width:350px;">
					<input type="text" class="form-control input-sm"  id="name" name="name" ng-model="vm.model.name" data-val="true" data-val-required="必填"/>
					<span data-valmsg-for="name" data-valmsg-replace="true" class="required"></span>
				</td>
				<td class="formAlignRight" style="width:150px;">计划年度：<span class="required">(*)</span></td>
				<td >
				<input class="Wdate form-control input-sm" style="width:180px;" type="text" 
		id="d15" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy'})" onchange=""
		 ng-model="vm.model.year" data-val="true" data-val-required="必填" />
					<span data-valmsg-for="year" data-valmsg-replace="true" class="required"></span>
				</td>
			</tr>
			<tr>
			<td class="formAlignRight">备注：</td>
			<td colspan="3">
				<textarea rows="3" cols="" class="form-control" data-val="false" id="remark" name="remark" ng-model="vm.model.remark"></textarea>
			</td>
			</tr>
		</table>
		<div style="text-align: center">
			<button ng-hide="vm.isPlanEdit" class="btn btn-success btn-sm"  ng-click="vm.create()" ng-disabled="vm.isSubmit">确认提交</button>
			<button ng-show="vm.isPlanEdit" class="btn btn-success btn-sm"  ng-click="vm.update()" ng-disabled="vm.isSubmit">确认更新</button>
		</div>
    </form>
</div>