<style>
  .k-grid tbody tr {
     cursor: move;
 } 
  .disabled{
    cursor:default;
    text-decoration:none;
    pointer-events: none;
}
</style>
<div class="well well-sm" style="background:white;">
	 <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>
	      <li><a href="#/yearPlan/planList">年度计划列表</a></li>	 
	      <li class="active">编辑</li>
	  </ol>
	 
     <form id="form" name="form">          
        <div class="bg-info text-info" style="padding: 10px; "><strong>基本信息</strong></div>
		<table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width:150px;">名称：<span class="required">(*)</span></td>
				<td style="width:350px;" ng-bind="vm.model.plan.name">
					
				</td>
				<td class="formAlignRight" style="width:150px;">计划年度：<span class="required">(*)</span></td>
				<td>
					<span ng-bind="vm.model.plan.year" id="planYear"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">备注：</td>
				<td ng-bind="vm.model.plan.remark"></td>
				<td class="formAlignRight">总指标：<span class="required">(*)</span></td>
				<td ng-bind="vm.model.plan.totalMoney+' (万元)'"></td>			
			</tr>
		</table>
		 <div class="bg-info text-info" style="padding: 10px; "><strong>数据汇总</strong></div>
		 <table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width:150px;">项目总数：</td>
				<td style="width:80px;" ng-bind="vm.model.yearPlanStatistics.total"></td>
				<td class="formAlignRight" style="width:150px;">前期：</td>
				<td style="width:80px;" ng-bind="vm.model.yearPlanStatistics.qianQiTotal"></td>
				<td class="formAlignRight" style="width:150px;">新开工：</td>
				<td style="width:80px;" ng-bind="vm.model.yearPlanStatistics.newStratTotal"></td>
				<td class="formAlignRight" style="width:150px;">继建：</td>
				<td style="width:80px;" ng-bind="vm.model.yearPlanStatistics.xuJianTotal"></td>
				<td class="formAlignRight" style="width:150px;">储备类：</td>
				<td style="width:80px;" ng-bind="vm.model.yearPlanStatistics.chuBeiTotal"></td>
			</tr>
			<tr>
				<td class="formAlignRight">项目总投资(万元)：</td>
				<td style="width:80px;" ng-bind="vm.model.yearPlanStatistics.investTotal"></td>
				<td class="formAlignRight" colspan="2">申请资金金额(万元)：</td>
				<td style="width:80px;" ng-bind="vm.model.yearPlanStatistics.applyTotal"></td>
				<td class="formAlignRight"  colspan="2">安排资金金额(万元)：</td>
				<td style="width:80px;" colspan="3" ng-bind="vm.model.yearPlanStatistics.arrangeTotal"></td>					
			</tr>
			<tr>
				<td class="formAlignRight" style="vertical-align: middle;">计划总规模(万元)：</td>
				<td style="width:80px;" colspan="9">
				<table class="table table-bordered" style="margin:0px">
				<tr class="text-primary text-center">
					<td>市投资</td>
					<td>区投资</td>
					<td>中央预算内投资</td>
					<td>社会投资</td>					
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								<td>专项基金</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.yearPlanStatistics.capitalSCZ_ggysTotal" ></td>
								<td ng-bind="vm.model.yearPlanStatistics.capitalSCZ_gtzjTotal"></td>
								<td ng-bind="vm.model.yearPlanStatistics.capitalSCZ_zxzjTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								
							</tr>
							<tr>
								<td ng-bind="vm.model.yearPlanStatistics.capitalQCZ_ggysTotal"></td>
								<td ng-bind="vm.model.yearPlanStatistics.capitalQCZ_gtzjTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.yearPlanStatistics.capitalZYYSTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
						
								
							</tr>
							<tr>
								<td ng-bind="vm.model.yearPlanStatistics.capitalSHTZTotal"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
							
								
							</tr>
							<tr>
								<td ng-bind="vm.model.yearPlanStatistics.capitalOtherTotal"></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
				
					
				</td>
					
			</tr>
		</table>
		<div class="toolbar">
	  		<button class="btn btn-sm btn-success" ng-click="vm.dialog_addPlan()"><span class="glyphicon glyphicon-plus"></span>添加单列项目</button> 
	  		<button class="btn btn-sm btn-danger" ng-click="vm.removeYearPlanCapital()">移除单列项目</button>
	  		<button class="btn btn-sm btn-primary" ng-click="vm.isMonthReports()">批量设置是否填报</button>
	  		<button class="btn btn-sm btn-primary" ng-click="vm.planGrid.saveAsExcel()"><span class="glyphicon glyphicon-download-alt"></span> 导出Excel</button>
	  		<!-- <a href="/common/exportExcelForYS?planId={{vm.id}}" class="btn btn-primary btn-xs">导出印刷版</a> -->
	  		<div class="btn-group"> 
				<button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">导出统计表<span class="caret"></span></button>
				<ul class="dropdown-menu" role="menu"> 
					<li> <a href="/common/exportExcelForLB?planId={{vm.id}}">按类别统计</a> </li>
					<li class="divider"></li>
					<li> <a href="/common/exportExcelForHY?planId={{vm.id}}">按行业统计</a> </li>
					<li class="divider"></li> 
					<li> <a href="/common/exportExcelForDW?planId={{vm.id}}">按单位统计</a> </li>
					<li class="divider"></li> 
					<li> <a href="/common/exportExcelForYS?planId={{vm.id}}">印刷版</a> </li> 
				</ul> 
			</div> 
	  	</div>
	  	<script type="text/template" id="input">
			<input style="width:100px" id="capitalSum_{0}" ng-click="vm.popOver($event,'{0}')" value="{1}"/>
		</script>
		<div ng-style="vm.popStyle" ng-show="vm.isPopOver" 
		style="z-index:100;font-size:12px; 
		border:1px solid #ccc; position:absolute; width:200px;  background:white;">
			<div class="bg-info" style="padding:3px;text-align:right;">
				<span class="glyphicon glyphicon-remove" ng-click="vm.isPopOver=false"></span>			
			</div>
	
				<div >
					<span ng-bind="vm.model.capital.id" style="display:none"></span>
					<table class="table-bordered table-striped" style="text-align:center;width:100%">
						<tbody>
							<tr>
								<th rowspan="4" style="text-align:center;width:70px;">市投资</th>
							</tr>
							<tr>
								<td style="width:80px;">公共预算</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSCZ_ggys"/>
								</td>
							</tr>
							<tr>
								<td>国土基金</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSCZ_gtzj"/>
								</td>
							</tr>
							<tr>
								<td>专项基金</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSCZ_zxzj"/>
								</td> 
							</tr>
							<tr>
								<th rowspan="3" style="text-align:center">区投资</th>
							</tr>
							<tr>
								<td>公共预算</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalQCZ_ggys"/>
								</td>
							</tr>
							<tr>
								<td>国土基金</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalQCZ_gtzj"/>
								</td>
							</tr>
							<tr>
								<th style="text-align:center">中央预算内投资</th>
								<td>-</td>
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalZYYS"/>
								</td>
							</tr>
							<tr>
								<th style="text-align:center">社会投资</th>
								<td>-</td>
								<td >
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalSHTZ"/>
								</td>
							</tr>
							
							<tr>
								<th style="text-align:center">其他</th>
								<td>-</td>																										
								<td>
									<input type="text" style="width:75px;" ng-model="vm.model.capital.capitalOther"/>
								</td>
							</tr>							
						</tbody>
					</table>
					<div style="text-align:right;padding:3px;">
						<button class="btn btn-primary btn-xs" ng-click="vm.isPopOver=false">取消</button>
						<button class="btn btn-success btn-xs" ng-click="vm.updateCapital()">确认</button>						
					</div>									
				</div>										
		</div> 
         <div class="yearPlanCapitalGrid" kendo-grid="vm.planGrid" k-options="vm.planGridOptions" id="planGird"></div><br/>
		<button class="btn btn-sm btn-success" ng-click="vm.dialog_addPack()"><span class="glyphicon glyphicon-plus"></span>添加打包类</button>
		<button class="btn btn-sm btn-danger" ng-click="vm.removePack()">移除打包类</button><br/>
         <div class="packPlanGrid" kendo-grid="vm.packGrid" k-options="vm.packGridOptions" id="packGird"></div>
    </form>
</div>
<!-- 年度计划添加项目的模态框 -->
<div id="addPlanList" class="myDialog modal fade" role="dialog">
	<div class="modal-dialog" style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">添加项目计划</span>
			</div>
			<div class="modal-body">
				<div class="search" style="width:100%;">
					<table class="table table-bordered" style="margin-bottom:0px;">
			  			<tr>
			  				<td colspan="6" class="bg-info">
			  					<button class="btn btn-primary btn-sm pull-right" ng-click="vm.filterClear()"><span class="glyphicon glyphicon-refresh"></span>清空筛选条件</button>
			  					<span style="padding:10px;"><strong>年度计划项目库查询</strong></span>
			  				</td>
			  			</tr>
			  			<tr>
			  				<td class="formAlignRight">项目名称：</td>
			  				<td style="width:25%"><input type="text" style="width:100%" placeholder="项目名称（可少输不可输错）" ng-model="vm.search.projectName"/></td>
			  				<td class="formAlignRight">项目行业：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.projectIndustry">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.projectIndustry_ZF" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td>
			  				<td class="formAlignRight">计划年度：</td>
			  				<td>
			  					<input type="text" style="width:186px;" class="Wdate form-control input-sm content_change" onFocus="WdatePicker({dateFmt:'yyyy'})" onChange="" ng-model="vm.search.planYear"/>
			  				</td>
			  			</tr>
			  			<tr>
			  				<td class="formAlignRight">项目所属单位：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.unitName">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.userUnit | unique: 'id'" value="{{x.id}}">{{x.unitName}}</option>
						  		</select>
			  				</td>	
			  				<td class="formAlignRight">审批状态：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.auditState">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.auditState" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td>
			  				<td class="formAlignRight">建设性质：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.projectConstrChar">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.projectConstrChar" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td>
			  			</tr>
			  			<tr>
			  				<td class="formAlignRight">打包类型：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.packageType">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.packageType" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td>
			  				<td colspan="4">
			  					<button class="btn btn-success btn-sm pull-right" ng-click="vm.search()" id="addPlanSearchBtn"><span class="glyphicon glyphicon-search"></span>查询</button>
			  				</td>
			  			</tr>
			  		</table>
				</div>
				<div class="toolbar"></div>
				<div class="grid" kendo-grid="grid" k-options="vm.addPlanGridOptions"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success btn-sm" ng-click="vm.dialogConfirmSubmit()" >确认</button>						
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 年度计划添加打包类的模态框 -->
<div id="addPackList" class="myDialog modal fade" role="dialog">
	<div class="modal-dialog" style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">添加打包类</span>
			</div>
			<div class="modal-body">
				<div class="search" style="width:100%;">
					<table class="table table-bordered" style="margin-bottom:0px;">
			  			<!-- <tr>
			  				<td colspan="6" class="bg-info">
			  					<button class="btn btn-primary btn-sm pull-right" ng-click="vm.filterClear()"><span class="glyphicon glyphicon-refresh"></span>清空筛选条件</button>
			  					<span style="padding:10px;"><strong>年度计划项目库查询</strong></span>
			  				</td>
			  			</tr> -->
			  			<tr>
			  				<td class="formAlignRight">打包名称：</td>
			  				<td style="width:25%"><input type="text" style="width:100%" placeholder="打包名称（可少输不可输错）" ng-model="vm.search.name"/></td>
			  				<!-- <td class="formAlignRight">项目行业：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.projectIndustry">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.projectIndustry_ZF" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td> -->
			  				<td class="formAlignRight">计划年度：</td>
			  				<td>
			  					<input type="text" style="width:186px;" class="Wdate form-control input-sm content_change" onFocus="WdatePicker({dateFmt:'yyyy'})" onChange="" ng-model="vm.search.planYear"/>
			  				</td>
			  			</tr>
			  			<!-- <tr>
			  				<td class="formAlignRight">建设单位：</td>
			  				<td><input type="text" style="width:100%" placeholder="单位名称（可少输不可输错）" ng-model="vm.search.constructionUnit"/></td>
			  				<td class="formAlignRight">审批状态：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.auditState">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.auditState" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td>
			  				<td class="formAlignRight">建设性质：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.projectConstrChar">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.projectConstrChar" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td>
			  			</tr> -->
			  			<!-- <tr>
			  				<td class="formAlignRight">打包类型：</td>
			  				<td>
			  					<select style="height:30px;" ng-model="vm.search.packageType">
						  			<option value="">---请选择---</option>
						  			<option ng-repeat="x in vm.basicData.packageType" value="{{x.id}}">{{x.description}}</option>
						  		</select>
			  				</td>
			  				<td colspan="4">
			  					<button class="btn btn-success btn-sm pull-right" ng-click="vm.search()" id="addPlanSearchBtn"><span class="glyphicon glyphicon-search"></span>查询</button>
			  				</td>
			  			</tr> -->
			  		</table>
				</div>
				<div class="toolbar"></div>
				<div class="grid" kendo-grid="grid" k-options="vm.gridOptions_packListForYeanPlan"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success btn-sm" ng-click="vm.dialogConfirmSubmit_packPlan()" >确认</button>						
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 设置是否填报模态框 -->
<div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog"> 
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header bg-primary"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button> 
				<h4 class="modal-title" id="myModalLabel">设置是否填报</h4> 
			</div> 
			<div class="modal-body">
				<span style="display:none" ng-bind="vm.model.id"></span>
				<label>是</label>
				<input type="radio" name="isMonthReport" value="true" ng-checked="vm.isMonthReport==1" ng-model="vm.isMonthReport"/>
				<label>否</label>
				<input type="radio" name="isMonthReport" value="false" ng-checked="vm.isMonthReport==0" ng-model="vm.isMonthReport"/>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 						
				<button type="button" class="btn btn-primary" ng-click="vm.updateIsMonthReport()" ng-disabled="vm.isSumbit">提交更改</button> 
			</div> 
		</div><!-- /.modal-content -->
	</div>  
</div><!-- /.modal -->
<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>

