<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	 <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>
	      <li><a href="#/yearPlan/planList">年度计划</a></li>	 
	      <li class="active">编辑</li>
	  </ol>
	 
     <form id="form" name="form">          
        <div class="bg-info text-info" style="padding: 10px; "><strong>基本信息</strong></div>
		<table class="table table-bordered table-striped ">
				<tr>
				<td class="formAlignRight" style="width:150px;">名称：<span class="required">(*)</span></td>
				<td style="width:350px;" ng-bind="vm.model.plan.name">
					
				</td>
				<td class="formAlignRight" style="width:150px;">计划年度：<span class="required">(*)</span></td>
				<td ng-bind="vm.model.plan.year">
				
				</td>
			</tr>
			<tr>
			<td class="formAlignRight">备注：</td>
			<td colspan="3" ng-bind="vm.model.plan.remark">
			</td>
			</tr>
		</table>
		 <div class="bg-info text-info" style="padding: 10px; "><strong>数据汇总</strong></div>
		 <table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width:150px;">项目总数：</td>
				<td style="width:80px;"></td>
				<td class="formAlignRight" style="width:150px;">前期：</td>
				<td style="width:80px;"></td>
				<td class="formAlignRight" style="width:150px;">新开工：</td>
				<td style="width:80px;"></td>
				<td class="formAlignRight" style="width:150px;">继建：</td>
				<td style="width:80px;" colspan="6"></td>
			</tr>
			<tr>
				<td class="formAlignRight">项目总投资：</td>
				<td style="width:80px;"></td>
				<td class="formAlignRight" >申请资金金额：</td>
				<td style="width:80px;" colspan="5"></td>				
			</tr>
			<tr>
				<td class="formAlignRight">计划总规模：</td>
				<td style="width:80px;"></td>
				<td style="width:80px;" colspan="6">
				<table class="table table-bordered" style="margin:0px">
				<tr class="text-primary text-center">
					<td>市财政</td>
					<td>区财政</td>
					<td>社会投资</td>					
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td >公共预算</td>
								<td>国土资金</td>
								<td>专项资金</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSCZ_ggys" ></td>
								<td ng-bind="vm.model.capitalSCZ_gtzj"></td>
								<td ng-bind="vm.model.capitalSCZ_zxzj"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土资金</td>
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalQCZ_ggys"></td>
								<td ng-bind="vm.model.capitalQCZ_gtzj"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
						
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSHTZ"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
							
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalOther"></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
				
					
				</td>
					
			</tr>
		</table>
		 <div class="toolbar">
	  	<button class="btn btn-xs btn-success" ng-click="vm.dialog_addPlan()"><span class="glyphicon glyphicon-plus"></span>新增项目计划</button> 
	  	<button class="btn btn-primary btn-xs" ng-click="vm.grid.saveAsExcel()"><span class="glyphicon glyphicon-download-alt"></span> 导出Excel</button>
	  </div> 
         <div class="grid" kendo-grid="vm.planGrid" k-options="vm.planGridOptions"></div>
    </form>
</div>

	<div id="addPlanList" class="myDialog modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 80px auto; width: 80%; max-width: 800px;">
				<div class="modal-content">
					<div class="modal-header bg-primary" style="height:30px;padding:5px;">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="modal-title">添加项目计划</span>
					</div>
					<div class="modal-body text-danger">
						<div class="grid" kendo-grid="grid" k-options="vm.addPlanGridOptions"></div>
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="vm.dialogConfirmSubmit()"
							class="btn btn-info btn-sm">确认</button>
						<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->