<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>	    
	      <li class="active">年度计划项目列表</li>
	  </ol>
	  
	  <div class="toolbar">
	  	<button class="btn btn-primary btn-sm" ng-click="vm.grid.saveAsExcel()"><span class="glyphicon glyphicon-download-alt"></span> 导出Excel</button>
	  </div> 
     <form id="form" name="form">   
     	        
         <div class="grid" kendo-grid="vm.grid" k-options="vm.gridOptions"></div>
    </form>
</div>


    <div id="shenbaoInfo" class="modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 80px auto; width: 80%; max-width: 1000px;">
				<div class="modal-content">
					<div class="modal-header bg-primary" style="height:30px;padding:5px;">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<span class="modal-title">详细信息</span>
					</div>
					<div class="modal-body text-danger">
						<div ng-include  src="'/contents/admin/management/task/html/yearPlan/master.html'"></div>  
					</div>
					<div class="modal-footer">
						<button type="button" ng-click="vm.dialogConfirmSubmit()"
							class="btn btn-info btn-sm">确认</button>
						<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">取消</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->