<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>	    
	      <li class="active">年度计划项目列表</li>
	  </ol>
	  
	  <div class="toolbar">
	  	<button class="btn btn-primary btn-sm" ng-click="vm.grid.saveAsExcel()"><span class="glyphicon glyphicon-download-alt"></span> 导出Excel</button>
	  </div> 
     <form id="form" name="form">   
     	        
         <div class="grid" kendo-grid="vm.grid" k-options="vm.gridOptions"></div>
    </form>
</div>