<div class="well well-lg">
	<table class="table table-bordered table-striped">
		<tr>
			<td class="formAlignRight" style="width:150px;">建设性质：<span class="required">(*)</span></td>
			<td>
				<select style="height:30px;" id="projectConstrChar_2" name="projectConstrChar_2" ng-model="vm.model.shenBaoInfo.projectConstrChar"
						ng-selected="vm.model.shenBaoInfo.projectConstrChar==x.id" data-val="true" data-val-required="必选" required>
					<option value="">---请选择---</option>
					<option ng-repeat="x in vm.basicData.projectConstrChar" value="{{x.id}}" ng-selected="vm.model.shenBaoInfo.projectConstrChar==x.id">{{x.description}}</option>
				</select>
				<!--	<span data-valmsg-for="projectConstrChar" data-valmsg-replace="true" class="required"></span>-->
				<span class="required" ng-show="formReply.projectConstrChar_2.$dirty && formReply.projectConstrChar_2.$invalid">必选</span>
			</td>
			<td style="width:50%;">
				<table class="table table-bordered table-striped" style="margin-bottom: 0;text-align: center;">
					<tr>
						<td colspan="2">
							<label>申请资金：</label>
							<span ng-bind="vm.sqPlanReachTotal()"></span>
							<label class="pull-right" style="color:silver">单位：万元</label>
						</td>
					</tr>
					<tr>
						<td>公共预算</td>
						<td>国土基金</td>
					</tr>
					<tr>
						<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.sqPlanReach_ggys"/></td>
						<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.sqPlanReach_gtzj"/></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr></tr>
	</table>
</div>
