<div class="well well-lg">
	<table class="table table-bordered table-striped">
		<tr>
			<td style="width:50%;">
				<table class="table table-bordered table-striped" style="margin-bottom: 0;text-align: center;">
					<tr>
						<td colspan="2">
							<label>申请资金：</label>
							<span ng-bind="vm.sqPlanReachTotal()"></span>
							<label class="pull-right" style="color:silver">单位：万元</label>
						</td>
					</tr>
					<tr>
						<td>公共预算</td>
						<td>国土基金</td>
					</tr>
					<tr>
						<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.sqPlanReach_ggys"/></td>
						<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.sqPlanReach_gtzj"/></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr></tr>
	</table>
</div>
