<!-- <div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
 -->
<form id="formReply" name="formReply">
	<div id="tabStrip" kendo-tab-strip="vm.tabStrip">
	    <ul >
	      <li id="tab1" class="k-state-active">项目基本信息</li>
	      <li id="tab2">项目单位信息</li>                
	      <li id="tab3">项目材料清单</li>
	      <li id="tab4" ng-show="vm.isCapitalApplyReport">资金申请报告</li>
	      <li id="tab5" ng-show="vm.isJihuaxiada">计划下达申请信息</li>
	    </ul>
      
		<div class="tab_content" id="div_tab1">
			<div ng-if="vm.isZFInvestment" ng-include  src="'/contents/admin/management/task/html/edit/basicInfo_ZF.html'"></div>
			<div ng-if="vm.isSHInvestment" ng-include  src="'/contents/admin/management/task/html/edit/basicInfo_SH.html'"></div>
		</div>
		<div class="tab_content" id="div_tab2">
		     <div ng-include  src="'/contents/admin/management/task/html/edit/unitInfo.html'"></div>
		</div>

        <div class="tab_content" id="div_tab3">
           	<div ng-include  src="'/contents/admin/management/task/html/edit/materialsInfo.html'"></div>
   		</div>
   		
   		<div class="tab_content" id="div_tab4" ng-show="vm.isCapitalApplyReport">
           	<div ng-if="vm.isCapitalApplyReport" ng-include  src="'/contents/admin/management/task/html/edit/capitalApplyReport.html'"></div>
   		</div>
   		
   		<div class="tab_content" id="div_tab5" ng-show="vm.isJihuaxiada">
           	<div ng-if="vm.isJihuaxiada" ng-include  src="'/contents/admin/management/task/html/edit/planReach.html'"></div>
   		</div>
   	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
		<button type="button" class="btn btn-success" ng-disabled="formReply.$invalid"
				ng-click="vm.saveShenBaoInfo()">保存</button>
	</div>
</form>