<style>
.title_font{
	font-family: SimHei;
	font-size:1.3em;
}

._table tr td{
	border: 1px solid black;
	font-family: SimSun;
	text-align: center;
}
.root_div{
	 min-height: 29.7cm;
}
.excel_div_portrait{
	position:relative;
	top:50%
	-webkit-transform:translateY(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}
.excel_div_transverse{
	position:relative;
	top:50%
	-webkit-transform:translateY(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
}
.table_title,.table_text{
	height:0.69cm;
}
.table_text_tip{
	color:red;
	font-weight: bold;
}
.dataTable .dataTr td{
	font-family: cursive;
}
</style>
<div class="well well-sm" style="background:white;border:0">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/managerCenter">首页</a></li>
	      <li><a class="text-primary" href="javascript:;" ui-sref="todo_audit">审批类个人待办</a></li>	 
	      <li class="active">打印预览</li>
	      <li><a href="javascript:window.history.back(-1)">返回</a></li>
	  </ol>
	  
	<div class="toolbar">
<!-- 		<a class="btn btn-success btn-sm" href="javascript:;" ui-sref="planReach"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回</a>
 -->		<button type="button" class="btn btn-success btn-sm" ng-click="vm.printBtn()"><span class="glyphicon glyphicon-print"></span>&nbsp;打印</button>
		<!-- <button type="button" class="btn btn-success btn-sm" ng-click="vm.clicks()"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;另存为...</button> -->	
	</div>
	
	<div style="position: relative;">
		<div id="printWindow" style="padding-bottom: 15px;">
			<h3 class="text-center" ng-bind="vm.model.applicationName"></h3>
			<br>
			<table class="_table" style="width:26cm;margin:0 auto;">
				<tr style="height:0.87cm;">
					<div style="    text-align: center;font-size: 36px;">深圳市光明区发展和财政局呈批表</div>
				</tr>
				<tr style="height:0.87cm;">
					<td colspan="2" style="text-align:left;border: 0;">紧急程度：<span ng-bind="vm.getBasicDataDesc(vm.draft.fileSet)"></span></td>
					
					<td colspan="2" style="text-align:right;border: 0;">密级：<span ng-bind="vm.getBasicDataDesc(vm.draft.hecretHierarchy)"></span></td>
					
					
				</tr>
				<tr style="height:0.87cm;">
					<td style="width:3.5cm; font-size: 23px;">拟稿单位：</td>
					<td style="font-size: 23px;" ng-bind="vm.draft.unitName"></td>
					<td style="width:3.5cm; font-size: 23px;">拟稿人：</td>
					<td style="font-size: 23px;" ng-bind="vm.userNameAndUnitName"></td>
				</tr>
				<tr style="height:0.87cm;">
					<td style="font-size: 23px;">项目编码：</td>
					<td style="font-size: 23px;" ng-bind="vm.model.shenBaoInfo.projectNumber"></td>
					<td style="font-size: 23px;">拟稿时间：</td>
					<td style="font-size: 23px;" ng-bind="vm.draft.draftDate"></td>
				</tr>
				<tr style="height:0.87cm;">
					<td style="font-size: 23px;">国家编码：</td>
					<td colspan="3" style="text-align: left;font-size: 23px;" ng-bind="vm.model.shenBaoInfo.countryNumber"></td>
				</tr>
				<tr style="height:0.87cm;">
					<td style="font-size: 23px;">标题：</td>
					<td colspan="3" style="text-align: left;font-size: 23px;" ng-bind="vm.draft.projectName"></td>
				</tr>
				<tr  ng-repeat="x in vm.taskRecord">
					<td colspan="4">
						<div style="text-align: left; font-size: 27px;">{{x.name}}</div>
						<div style="text-align: left; font-size: 20px;" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{x.msg}}</div>
						<div style="text-align: right; font-size: 20px;">{{x.id}}&nbsp;&nbsp;&nbsp;{{x.endTime | date:'yyyy-MM-dd hh:mm:ss'}}</div>
					</td>
				</tr>
				<tr style="height:0.87cm;">
					<td style="font-size: 23px;">发行范围：</td>
					<td colspan="3" style="text-align: left;style="font-size: 23px;"" ng-bind="vm.draft.scope"></td>
				</tr>
				<tr style="height:0.87cm;">
					<td style="font-size: 23px;">公开属性：</td>
					<td colspan="3"  style="text-align: left;style="font-size: 23px;"" ng-bind="vm.getBasicDataDesc(vm.draft.openType)"></td>
				</tr>
				<tr style="height:0.87cm;">
					<td  style="text-align: left;font-size: 23px;" colspan="4">打字：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp; 校对：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;监印：</td>
				</tr>
				<tr style="height:0.87cm;">
					<td  style="text-align: left;font-size: 23px;" colspan="4">联系人：{{vm.draft.mobileName}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					&nbsp;&nbsp;&nbsp;联系电话：{{vm.draft.mobilePhone}}</td>
				</tr>
				<tr style="height:0.87cm;">
					<td  style="text-align: left;font-size: 23px;" colspan="4">备注：{{vm.draft.keyWord}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>	
	