<style>
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align: middle;
}
</style>
<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		<li><a href="#/">首页</a></li>
		<li><a href="#/task/shenPi">已办审批类列表</a></li>
		<li class="active">办理详情</li>
	</ol>                
 	<form id="form" name="form">
 		<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>  		
 		<table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width:150px;">办理事项：</td>
				<td style="width:250px;" ng-bind="vm.getBasicDataDesc(vm.taskAudit.taskType)"></td>
				<td class="formAlignRight" style="width:150px;">项目名称：</td>
				<td>
					<span ng-bind="vm.model.shenBaoInfo.projectName"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目阶段：</td>
				<td>
					<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectStage)"></span>
				</td>
				<td class="formAlignRight">项目类型：</td>
				<td>
					<span ng-repeat="x in vm.projectTypes track by $index" ng-bind="vm.getBasicDataDesc(x)+' '"></span>
				</td>
			</tr>	
			<tr>
				<td class="formAlignRight">项目行业归口：</td>
				<td>
					<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectIndustry)"></span>
				</td>
				<td class="formAlignRight">项目分类：</td>
				<td>
					<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectClassify)"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目建设地址：</td>
				<td colspan="3">
					光明新区
			 		<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.divisionId)"></span>						
			 		<span ng-bind="vm.model.shenBaoInfo.projectAddress"></span>
				</td>		
			</tr>	
			<tr>
				<td class="formAlignRight">项目总投资：</td>
				<td>
					<span ng-bind="vm.model.shenBaoInfo.projectInvestSum | number:4"></span>&nbsp;(万元)		
				</td>
				<td class="formAlignRight">累计完成投资：</td>
				<td>
					<span ng-bind="vm.model.shenBaoInfo.projectInvestAccuSum | number:4"></span>&nbsp;(万元)				
				</td>
			</tr>	
			<tr>
				<td class="formAlignRight">项目简介：</td>
				<td colspan="3">
					<span  ng-bind="vm.model.shenBaoInfo.projectIntro"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">详细信息：</td>
				<td colspan="3" >
					<button class="btn btn-success btn-xs" ng-click="vm.dialog_shenbaoInfo()" >查看详细信息</button>
				</td>
			</tr>		
	</table>
	  		
  		<div class="bg-info text-info" style="padding: 10px;">处理流转信息</div>
		<table class="table table-bordered table-striped ">
			<tr ng-repeat="x in vm.taskAudit.taskRecordDtos | orderBy:'itemOrder':true">
				<td class="formAlignRight" style="width:180px;"  ng-bind="vm.getBasicDataDesc(x.thisProcess)"></td>
				
				<td>
					<div ng-bind="x.processSuggestion"></div>
					<div ng-if="x.thisProcess=='processStage_4'">
						<button ng-if="vm.isProcessStage_weituopishen" class="btn btn-success btn-xs" ng-click="vm.editApproval('look')">查看评审报批单</button>
						<button ng-if="vm.isProcessState_niwendengji" class="btn btn-success btn-xs" ng-click="vm.draftOpen('look')">查看发文拟稿单</button>
					</div>
					<label ng-if="x.attachmentDtos.length>0" class="pull-left">附件信息：</label>
					<div ng-repeat="y in x.attachmentDtos">
						<a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
					</div>
					<div class="text-right" ng-bind="x.thisUser"></div>
					<div class="text-right" ng-bind="vm.formatDate(x.createdDate)"></div>
				</td>
			</tr>
		</table>
    </form>   
</div>

<!-- 申报信息模态框 -->
<div id="shenbaoInfo" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">				
				<span aria-hidden="true">&times;</span>
			</button>
			<span class="modal-title">详细信息</span>
			</div>
			<div class="modal-body text-danger">
				<div ng-include  src="'/contents/admin/management/task/html/details/shenBaoInfoDetails.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-info btn-sm" data-dismiss="modal">确认</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 发文拟稿模态框 -->
<div id="draft_issued" class="draft_issued modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">				
				<span aria-hidden="true">&times;</span>
			</button>
			<span class="modal-title">填写拟稿纸</span>
			</div>
			 <div class="modal-body">
			 	<div ng-if="vm.isEditDraft" ng-include  src="'/contents/admin/management/task/audit/html/edit/draftIssued.html'"></div>
			 	<div ng-if="vm.isLookDraft" ng-include  src="'/contents/admin/management/task/audit/html/details/draftIssued.html'"></div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- 评审报批单模态框 -->
<div id="approval" class="approval modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">				
				<span aria-hidden="true">&times;</span>
			</button>
			<span class="modal-title">填写评审报批单</span>
			</div>
			 <div class="modal-body">
			 	<div ng-if="vm.isEditApproval" ng-include  src="'/contents/admin/management/task/audit/html/edit/approval.html'"></div>
			 	<div ng-if="vm.isLookApproval" ng-include  src="'/contents/admin/management/task/audit/html/details/approval.html'"></div>
            </div>
			<div class="modal-footer" >
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->