<div class="bg-info text-info" style="padding: 10px; ">项目责任单位信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:160px;">责任单位名称：<span class="required">(*)</span></td>
		<td colspan="3">
			<span ng-bind="vm.model.unitName"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">责任单位联系人：<span class="required">(*)</span></td>
		<td style="width:35%">
			<span ng-bind="vm.model.repUnitRepName"></span>
		</td>
		<td class="formAlignRight" style="width:160px;">责任单位联系电话：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.model.repUnitRepMobile" ></span>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>
<div class="bg-info text-info" style="padding: 10px; margin-bottom: 10px">项目基本信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目名称：</td>
		<td style="width:35%;">
			<span ng-bind="vm.model.projectName"></span>			
		</td>
		<td class="formAlignRight" style="width:180px;">项目阶段：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectStage)"></span>	
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">企业名称：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.model.companyName"></span>
		</td>
		<td class="formAlignRight">核准/备案批准文号：</td>
		<td>
			<span ng-bind="vm.model.approval_pzwh"></span>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight" style="width:150px;">项目联系人：</td>
		<td>
			<span ng-bind="vm.model.projectRepName"></span>
		</td>
		<td class="formAlignRight" style="width:180px;">项目联系电话：</td>
		<td>
			<span ng-bind="vm.model.projectRepMobile"></span>	
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目行业归口：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectIndustry)"></span>	
		</td>
		<td class="formAlignRight">项目类型：</td>
		<td>
			<span ng-repeat="x in vm.model.projectType" ng-bind="vm.getBasicDataDesc(x)+' '"></span>		
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">国民经济行业分类：</td>
		<td colspan="3" style="width:450px;">
			<span ng-bind="vm.getBasicDataDesc(vm.model.nationalIndustryParent)"  style="margin-right:24px;"></span>
			<span ng-bind="vm.getBasicDataDesc(vm.model.nationalIndustry)"></span>
		</td>
	</tr>
		
 	<tr>
		<td class="formAlignRight">项目建设地址：</td>	
		<td colspan="3">
		光明新区
			 <span ng-bind="vm.getBasicDataDesc(vm.model.divisionId)"></span>						
			 <span ng-bind="vm.model.projectAddress"></span>				
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td>
			<span id="beginDate" ng-bind="vm.model.beginDate | date:'yyyy-MM-dd'"></span>
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td>
			<span id="endDate" ng-bind="vm.model.endDate | date:'yyyy-MM-dd'"></span>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目投资情况：<span class="required">(*)</span></td>
		<td colspan="3">
			<table class="table table-bordered table-striped table-hover">
				<tr class="text-primary text-center">
					<td colspan="4">项目总投资：<span ng-bind="vm.model.projectInvestSum | number:4"></span>&nbsp;(万元)</td>
				</tr>
				<tr class="text-primary text-center">
					<td>地价</td>
					<td>设备投资</td>
					<td>建安投资</td>
					<td>流动资金及其他</td>
				</tr>
				<tr class="text-center">
					<td>
						<span ng-bind="vm.model.landPrice | number:4"></span>
					</td>
					<td>
						<span ng-bind="vm.model.equipmentInvestment | number:4"></span>
					<td>
						<span ng-bind="vm.model.buidSafeInvestment | number:4"></span>
					</td>
					<td>
						<span ng-bind="vm.model.capitalOther | number:4"></span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">建设规模：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（200字符以内）" ng-model="vm.model.projectGuiMo" disabled></textarea>													
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">建设用地情况：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：项目选址、项目用地面积及用地性质等（500字符以内）" ng-model="vm.model.constructionLand" disabled></textarea>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">投入使用后的效益：</td>
		<td colspan="3">
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：请简单说明项目投入使用后的效益（500字符以内）" ng-model="vm.model.useBenefits" disabled></textarea>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目基本信息备注：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.remark" disabled></textarea>												
		</td>
	</tr>
</table>


<div class="bg-info text-info" style="padding: 10px;">年度计划信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目进展：<span class="required">(*)</span></td>
		<td style="width:250px;" colspan="3">
			<textarea rows="3" cols="20" maxlength="500" style="height:121px;width: 99%;" ng-model="vm.model.yearImageSchedule" 
			placeholder="注：请简要说明项目现有进展和形象进度（500字符以内）" disabled></textarea>
		</td>
	</tr>

	<tr>
		<td class="formAlignRight">计划年度：</td>
		<td style="width:370px;"><span ng-bind="vm.model.planYear"></span></td>
		<td class="formAlignRight" style="width:150px;">年度投资：</td>
		<td>
			<span ng-bind="vm.model.applyYearInvest | number:4"></span>&nbsp;(万元)
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">年度建设内容：</td>
		<td colspan="3">
			<textarea class="form-control" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.yearConstructionContent" disabled></textarea>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">存在的问题：</td>
		<td>
			<textarea rows="3" cols="20" maxlength="500" style="width:98%" ng-model="vm.model.existingProblem"
				placeholder="注：请简要说明项目现在存在的问题（500字符以内）" disabled="disabled"></textarea>
		</td>
		<td class="formAlignRight">推进建议：</td>
		<td>
			<textarea rows="3" cols="20" maxlength="500" style="width:98%" ng-model="vm.model.moveSuggestion"
				placeholder="注：请简要说明对项目推进的建议（500字符以内）" disabled="disabled">
			</textarea>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">年度计划申报备注</div>
<table style="width:100%;" class="table  table-bordered table-striped">
	<tr>
		<td class="formAlignRight" style="width:150px;">申报信息备注：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.yearConstructionContentShenBao" disabled></textarea>												
		</td>
	</tr>
</table>


<div class="bg-info text-info" style="padding: 10px;">单位基本信息</div>
<table style="width:100%;" class="table  table-bordered table-striped">
	<tr>
		<td class="formAlignRight" style="width:150px;">单位名称：</td>
		<td colspan="3">
			<span ng-bind="vm.model.shenBaoUnitInfoDto.unitName"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">组织机构代码：</td>
		<td>
			<span ng-bind="vm.model.shenBaoUnitInfoDto.orgCode"></span>	
		</td>
	    <td class="formAlignRight" style="width:150px;">电话号码：</td>
	    <td>
	    	<span ng-bind="vm.model.shenBaoUnitInfoDto.unitTel"></span>
	    </td>
   </tr>
   <tr>
        <td class="formAlignRight">电子邮箱：</td>
        <td>
        	<span ng-bind="vm.model.shenBaoUnitInfoDto.unitEmail"></span>
        </td>
        <td class="formAlignRight">传真号码：</td>
        <td>
        	<span ng-bind="vm.model.shenBaoUnitInfoDto.unitFax"></span>
        </td>
   </tr>
</table>
		   
<div class="bg-info text-info" style="padding: 10px;">常用申报信息</div>
<table style="width:100%;" class="table  table-bordered table-striped">		
	<tr>
		<td class="formAlignRight" style="width:150px;">单位性质：</td>
		<td colspan="4">			
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoUnitInfoDto.unitProperty)"></span>
		</td>
	</tr>
	<tr>
	    <td class="formAlignRight">单位地址：</td>
	    <td colspan="4">
		    <span>光明新区</span>
		    <span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoUnitInfoDto.divisionId)"></span>
		    <span ng-bind="vm.model.shenBaoUnitInfoDto.unitAddress"></span>
		</td>
	 </tr>
	 <tr>
	    <td rowspan="3" class="formAlignRight">单位负责人：</td>
	    <td style="width:100px;">姓名：</td>
	    <td>
	    	<span id="unitResPerson" ng-bind="vm.model.shenBaoUnitInfoDto.unitResPerson"></span>
	    </td>
	    <td style="width:100px;">电话号码：</td>
	    <td>
	    	<span id="resPersonTel" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonTel"></span>
	    </td>
	 </tr>
	 <tr>
	    <td>手机：</td>	   
	    <td>
	    	<span id="resPersonMobile" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonMobile"></span>
	    </td>
	    <td>传真号码：</td>
	    <td>
	    	<span id="resPersonFax" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonFax"></span>
	    </td>
	 </tr>
	  <tr>
	    <td>Email</td>
	    <td colspan="3">
	    	<span id="resPersonEmail" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonEmail"></span>		     
	    </td>
	 </tr>
</table>

