<meta charset="UTF-8">

<!-- <div class="well well-sm" style="background:white;"> -->
	<div>
	<span>欢迎您：<b class="text-danger">${user}</b>,</span> <span>上次登录时间 ${lastLoginDate}</span>
	</div>
	
	<!-- <div class="container" style="background:green;heigt:40px">
		<div class="row clearfix">
			<div class="col-md-12 column">
				<ul class="breadcrumb">
					<li><a href="javascript:void(0)">单位月报中心</a></li>
                	<li><a href="javascript:void(0)" ui-sref="deptInfoMaintain"><span>单位信息维护</span></a></li>         
                	<li><a href="javascript:void(0)" ui-sref="projectMonthReport"><span>项目月报</span></a></li>          
                	<li><a href="javascript:void(0)" ui-sref="problemCoordinition"><span>问题协调</span></a></li>           
                	<li><a href="javascript:void(0)" ui-sref="suggestFeedback"><span>建议反馈</span></a></li>
               </ul>
            </div>
		</div>                                
     </div>
     
     <div style="background:green;heigt:30px">
     	<h5><strong>当前位置：</strong>首页>单位月报中心</h5>
     </div>
     
     <div>
     	<div style="width:500px;hight:300px">
     		<h5>通知公告</h5>
     	</div>
     	<div>
     		<h5>我的月报</h5>
     	</div>
     	<div>
     		<h5>温馨提示</h5>
     	</div>
     	<div>
     		<h5>最近操作</h5>
     	</div>
     </div>
</div>
deptInfoMaintain
<script src="/contents/app/deptInfoMaintain/deptInfoMaintain.ctrl.js"></script>
<script src="/contents/app/deptInfoMaintain/deptInfoMaintain.svc.js"></script>
projectMonthReport
<script src="/contents/app/projectMonthReport/projectMonthReport.ctrl.js"></script>
<script src="/contents/app/projectMonthReport/projectMonthReport.svc.js"></script>
problemCoordinition
<script src="/contents/app/problemCoordinition/problemCoordinition.ctrl.js"></script>
<script src="/contents/app/problemCoordinition/problemCoordinition.svc.js"></script>
suggestFeedback
<script src="/contents/app/suggestFeedback/suggestFeedback.ctrl.js"></script>
<script src="/contents/app/suggestFeedback/suggestFeedback.svc.js"></script> -->