<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
    	<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
        <li><a href="#/">首页</a></li>       
        <li><a href="#/creditInfo/illegalNameList">信用信息管理</a></li>
        <li><a href="#/creditInfo/illegalNameList">返回上一步</a></li>	        
        <li class="active">信用异常名详情</li>
    </ol>
</div>
		<div>
			<table class="table table-bordered" style="margin-bottom:0px;">
				<tr>
					<td colspan="6" class="bg-info">
		  				<span style="padding:10px;"><strong>信用异常名基本信息</strong></span>
		  			</td>
		  		</tr>
		  		<tr>
	  				<td class="formAlignRight">申报的项目名称：</td>
	  				<td style="width:25%">
						<span ng-bind="vm.illegalNameModel.projectName"></span>				
					</td>
	  				<td class="formAlignRight">项目代码：</td>
	  				<td style="width:25%">
						<span ng-bind="vm.illegalNameModel.projectNumber"></span>				
					</td>
	  			</tr>
	  			<tr>
	  				<td class="formAlignRight">申报的单位名称：</td>
	  				<td style="width:25%">
						<span ng-bind="vm.getUnitName(vm.illegalNameModel.unitName)"></span>				
					</td>
	  				<td class="formAlignRight">申报日期：</td>
	  				<td style="width:25%">
						<span ng-bind="vm.formatDate(vm.illegalNameModel.shenbaoDate)"></span>				
					</td>
	  			</tr>
	  			<tr>
	  				<td class="formAlignRight">监管部门：</span></td>
	  				<td style="width:25%">
	  					<span ng-bind="vm.illegalNameModel.departmentName"></span>	
	  				</td>
	  				<td class="formAlignRight">监管部门区划代码：</span></td>
	  				<td style="width:25%">
	  					<span ng-bind="vm.illegalNameModel.divisionCode"></span>
	  				</td>
	  			</tr>
	  			<tr>
	  				<td class="formAlignRight">异常情形代码：</span></td>
	  				<td style="width:25%">
	  					<span ng-bind="vm.illegalNameModel.illegalType"></span>
	  				</td>
	  				<td class="formAlignRight">异常级别：</span></td>
	  				<td style="width:25%">
	  					<span ng-bind="vm.illegalNameModel.illegalLevel"></span>
	  				</td>
	  			</tr>
	  			<tr>
	  				<td class="formAlignRight">异常行为内容：</td>
					<td style="width:25%" colspan="10" align="left">
						<span ng-bind="vm.illegalNameModel.illegalContent"></span>
					</td>
	  			</tr>
	  			<tr>
	  				<td class="formAlignRight">记录异常日期：</span></td>
	  				<td >
	  					<span ng-bind="vm.illegalNameModel.illegalDate"></span>
					</td>
	  				<td class="formAlignRight">有效标识：</span></td>
	  				<td style="width:25%">
	  					<span ng-bind="vm.illegalNameModel.validityFlag"></span>
	  				</td>
	  			</tr>
	  		</table>
		</div>

