	<div style="padding:5px;">
		<ol class="breadcrumb" style="background: #e2f0e7;">
			<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
	        <li><a href="#/">首页</a></li>
	    </ol>
	</div>
	
	<div style=" padding:0 10px;">
	
	
	<span class="glyphicon glyphicon-tag">
		<span class="text-danger" style="font-size:15px;"> 
		您好，欢迎登陆在线申报系统，你上次登陆是在 2017-05-22 14:33:06！
		</span>
	</span> 
	                                       
	                                    
</div>                           
	                                    
	                                
                            
                            
                            
                            
                                
                                        
	
		
                                                    
			
				
                                                               
                                                            
				
                                                                
                                                            
			

				
                                        
                                    
				
                                        
                                    
				
                                        
                                    
		
                                               
	
	


                                    
                                
  