<div class="bg-info text-info" style="padding: 10px;">项目批复信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:180px;">批复名称</td>
		<td style="width:180px;">批复时间</td>
		<td style="width:180px;">批复文号</td>
		<td>文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.uploadType">
		<td>{{x[1]}}</td>
		<td>
			<input type="text"  kendo-date-picker ng-model="vm.model['pifu'+x[0]+'_date']" k-format="'yyyy-MM-dd'" k-culture="'zh-CN'" onkeydown="return false;"/>	
		</td>
		<td><input type="text" ng-model="vm.model['pifu'+x[0]+'_wenhao']" /></td>
		<td class="clearfix">
		<div class="uploadBox pull-left"  data-type="{{x[0]}}">
		 <input name="files"
		        type="file"
		        kendo-upload
		        k-async="{saveUrl:'/common/save',removeUrl:'/common/remove',autoUpload:true}"
		        k-error="vm.uploadSuccess"
		        k-localization="{select:'上传文件'}"
		        k-showFileList="false"   
		        k-multiple="false"    
		        />
		        </div>
		         <div style="margin:3px;"  class="pull-left"
				 	  ng-repeat="y in vm.model.attachmentDtos" 
				 	  ng-show="y.type=='{{x[0]}}'"
				 		>
					 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
					<button class="btn btn-xs btn-danger" ng-click="vm.delFile($index)">删除</button>
				 </div>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">相关附件</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:350px">附件类型</td>
		<td>文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.materialsType">
		<td>{{x[1]}}</td>
		<td class="clearfix">
			<div class="uploadBox pull-left" data-type="{{x[0]}}">
				 <input name="files"
				        type="file"
				        kendo-upload
				        k-options="vm.uploadOptions" 
				        />
		      </div>
		      <div style="margin:3px;" class="pull-left"
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='{{x[0]}}'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
				<button class="btn btn-xs btn-danger" ng-click="vm.delFile($index)">删除</button>
			 </div>
		</td>
	</tr>
</table>