<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/managerCenter">首页</a></li>
	      <li><a href="#/shenbao">项目申报</a></li>	 
	      <li class="active">项目列表</li>
	  </ol>
	  <script type="text/template" id="columnBtns">
			<a class="btn btn-xs btn-primary" href="#/shenbao/{0}"><span class="glyphicon glyphicon-pencil"></span>申报</a>
	  </script>
	  <div class="toolbar">
	  	<div class="bg-danger text-danger" style="padding:10px;">
	  	<strong>还没有项目？</strong> 	  	
	  	<a class="btn btn-xs btn-danger" href="#/projectEdit/"><span class="glyphicon glyphicon-plus"></span>点击新建项目</a>
	  	</div>
	  	
	  </div> 
     <form id="form" name="form">          
         <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>
