<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/managerCenter">首页</a></li>
	      <li><a href="#/shenbao">项目申报</a></li>	 
	      <li class="active">项目列表</li>
	  </ol>
	  <script type="text/template" id="columnBtns">
			<button class="btn btn-xs btn-primary" data-toggle="modal" ng-click="vm.shenbaoBtn('{0}','{1}')"><span class="glyphicon glyphicon-pencil"></span>申报</a>
	  </script>
	  <div class="toolbar">
	  	<div class="bg-danger text-danger" style="padding:10px;">
	  		<strong>还没有项目？</strong> 	  	
	  		<a class="btn btn-xs btn-danger" href="#/projectEdit/"><span class="glyphicon glyphicon-plus"></span>点击新建项目</a>
	  		<a class="btn btn-xs btn-info" href="#/shenbao_records"><span class="glyphicon glyphicon-eye-open"></span>查看申报记录</a>
	  	</div>
	  </div> 
     <form id="form" name="form">          
         <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>
<!-- 项目申报选择项目申报阶段分类 模态框-->
<div class="modal fade" id="myModal"> 
	<div class="modal-dialog"> 
		<div class="modal-content"> 
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button>  			
				<h4 class="modal-title" id="myModalLabel">项目申报</h4> 
			</div> 
			<div class="modal-body">				
				<div class="form-group">
					<lable class="control-label col-sm-3" for="projectName">项目名称：</lable>
					<input type="text" class="col-sm-6" id="projectName" ng-model="vm.projectName" ng-disabled="true">
				</div>
				</br>
				<div class="form-group">
					<label class="control-label col-sm-3" for="projectShenBaoStage">项目申报阶段:</label>
					<select class="form-select" ng-model="vm.projectShenBaoStage">
						<option value="">---请选择---</option>
						<option ng-repeat="x in vm.basicData.projectStage" value="{{x.id}}">{{x.description}}</option>
					</select>
					<span ng-show="vm.isStageExist" class="errors">该申报阶段信息已存在,请重新选择!</span>
				</div>								
			</div>
			<div class="modal-footer"> 
				<button type="button" class="btn btn-success" ng-disabled="vm.isConfirm" ng-click="vm.confirm()">确定</button> 			
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button> 
			</div> 
		</div>
	</div>
</div>

