<style>
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align: middle;
}
label{font-weight:normal;}

.uploadBox .k-upload-status {
	display: none;
}

.uploadBox .k-header {
	background: transparent;
	border: 0px;
}

.uploadBox em {
	display: none;
}

.uploadBox .k-dropzone {
	padding: 0px;
	margin: 0px;
}
.uploadBox .k-upload-files{
display:none;
}
input.input-sm{height:30px; margin:0px; padding:0px;}
textarea.form-control {
	margin:0px; padding:0px;
}
.tab_content{
	padding:20px;
}
.modal{
	overflow-y:auto
}
.modal-open {
   overflow: scroll !important;
}
overflow: scroll !important;
</style>
<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		<li><a class="text-primary" href="#/managerCenter">首页</a></li>
		<li><a class="text-primary" href="#/shenbao">项目申报</a></li>
		<li><a class="text-primary" href="javascript:window.history.back(-1)"data-toggle="tooltip" data-placement="bottom" title="点击返回上一页面"><strong>返回</strong></a></li>	 
		<li class="active">记录详情</li>
	</ol>
	
	<div ng-if="vm.isZFInvestment" ng-include  src="'/contents/shenbaoAdmin/shenbao/html/details/shenBaoInfo_ZF.html'" ></div>
	<div ng-if="vm.isSHInvestment" ng-include  src="'/contents/shenbaoAdmin/shenbao/html/details/shenBaoInfo_SH.html'" ></div>
</div>
