<style>
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align: middle;
}
label{font-weight:normal;}

.uploadBox .k-upload-status {
	display: none;
}

.uploadBox .k-header {
	background: transparent;
	border: 0px;
}

.uploadBox em {
	display: none;
}

.uploadBox .k-dropzone {
	padding: 0px;
	margin: 0px;
}
.uploadBox .k-upload-files{
display:none;
}
input.input-sm{height:30px; margin:0px; padding:0px;}
textarea.form-control {
	margin:0px; padding:0px;
}
.tab_content{
	padding:20px;
}
.modal{
	overflow-y:auto
}
.modal-open {
   overflow: scroll !important;
}
overflow: scroll !important;
</style>
<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		<li><a href="#/managerCenter">首页</a></li>
		<li><a href="#/shenbao">项目申报</a></li>
		<li><a href="javascript:window.history.back(-1)">返回上一级</a></li>	 
		<li class="active">记录详情</li>
	</ol>
	<div class="bg-info text-info" style="padding: 10px; ">项目所属单位</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">项目所属单位：</td>
			<td>
				<span ng-bind="vm.model.shenBaoUnitInfoDto.unitName"></span>
			</td>
			<td class="formAlignRight" style="width:180px;">项目申报阶段：</td>
			<td>
				<span ng-bind="vm.getBasicDataDesc(vm.model.projectShenBaoStage)"></span>
			</td>
		</tr>
	</table>

<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>
<table class="table table-bordered table-striped ">	
	<tr>
		<td class="formAlignRight" style="width:150px;">项目名称：</td>
		<td  style="width:30%">
			<span id="projectName" ng-bind="vm.model.projectName"></span>		
		</td>
		<td class="formAlignRight" style="width:180px;">项目阶段：</td>
		<td>			
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectStage)"></span>			
		</td>
	</tr>
	<tr>
		<td class="formAlignRight" style="width:150px;">项目负责人名称：</td>
		<td>
			<span ng-bind="vm.model.projectRepName"></span>
		</td>
		<td class="formAlignRight" style="width:180px;">项目负责人电话：</td>
		<td>
			<span ng-bind="vm.model.projectRepMobile"></span>	
		</td>
	</tr>
	<tr>		
		<td class="formAlignRight">项目类别：</td>
		<td>
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectCategory)"></span>				
		</td>
		<td class="formAlignRight">项目分类：</td>
		<td>			
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectClassify)"></span>
		</td>	
	</tr>
	<tr>
		<td class="formAlignRight">项目行业归口：</td>
		<td>			
			<span ng-bind="vm.getBasicDataDesc(vm.model.projectIndustry)"></span>
		</td>
		<td class="formAlignRight">项目类型：</td>
		<td>
			<span ng-repeat="x in vm.model.projectType" ng-bind="vm.getBasicDataDesc(x)+' '"></span>					
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">功能分类科目：</td>
		<td>
			<span ng-bind="vm.model.functionSubjects"></span>
		</td>
		<td class="formAlignRight">政府经济分类科目：</td>
		<td>
			<span ng-bind="vm.model.econClassSubjects"></span>
		</td>
	</tr>
			
	<tr>
		<td class="formAlignRight">项目建设地址：</td>
		<td colspan="3">
		光明新区
			 <span ng-bind="vm.getBasicDataDesc(vm.model.divisionId)"></span>						
			 <span ng-bind="vm.model.projectAddress"></span>				
		</td>		
	</tr>
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td>
			<span id="beginDate" ng-bind="vm.model.beginDate | date:'yyyy-MM-dd'"></span>
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td>
			<span id="endDate" ng-bind="vm.model.endDate | date:'yyyy-MM-dd'"></span>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目总投资：</td>
		<td>
			<span id="projectInvestSum" ng-bind="vm.model.projectInvestSum | number:4"></span>&nbsp;(万元)
		</td>
		<td class="formAlignRight">累计完成投资：</td>
		<td>
			<span id="projectInvestAccuSum" ng-bind="vm.model.projectInvestAccuSum | number:4"></span>&nbsp;(万元)
		</td>
	</tr>
					
	<tr>
		<td class="formAlignRight">资金来源：</td>
		<td colspan="3" >
			<table class="table table-bordered table-striped table-hover" >
				<tr class="text-primary text-center">
					<td>市投资</td>
					<td>区投资</td>
					<td>中央预算内投资</td>
					<td>社会投资</td>					
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								<td>专项基金</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSCZ_ggys | number:4"></td>
								<td ng-bind="vm.model.capitalSCZ_gtzj | number:4"></td>
								<td ng-bind="vm.model.capitalSCZ_zxzj | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土基金</td>
								
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalQCZ_ggys | number:4"></td>
								<td ng-bind="vm.model.capitalQCZ_gtzj | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>-</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalZYYS | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>				
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalSHTZ | number:4"></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td ng-if="vm.model.capitalOtherType"><span ng-bind="vm.getBasicDataDesc(vm.model.capitalOtherType)"></span></td>															
								<td ng-if="!vm.model.capitalOtherType">-</td>
							</tr>
							<tr>
								<td ng-bind="vm.model.capitalOther | number:4"></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
				<table class="table table-bordered ">
				<tr>
					<td class="text-center" style="width:100px;" >"其他"的来源途径说明：</td>
					<td>
						<textarea class="form-control input-sm" maxlength="200" style="width:99%;" ng-model="vm.model.capitalOtherDescription" placeholder="注：200字符以内" disabled></textarea>																				
					</td>
				</tr>
				<tr>
					<td>资金总计：</td>
					<td >
						<span id="capitalTotal" ng-bind="vm.capitalTotal() | number:4"></span>&nbsp;(万元)
					</td>								
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目简介：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：项目简介（500字符以内）" ng-model="vm.model.projectIntro" disabled></textarea>													
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">建设规模：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（200字符以内）" ng-model="vm.model.projectGuiMo" disabled></textarea>													
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目基本信息备注：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.remark" disabled></textarea>												
		</td>
	</tr>
</table>

<div ng-show="vm.isYearPlan">
	<div class="bg-info text-info" style="padding: 10px;">年度计划信息</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">项目建设性质</td>
			<td colspan="3">
				<span ng-bind="vm.model.projectConstrCharDesc"></span>
			</td>
		</tr>
		
		<tr>
			<td class="formAlignRight">项目总投资：</td>
			<td>
				<span ng-bind="vm.model.projectInvestSum | number:4"></span>&nbsp;(万元)			
			</td>
			<td class="formAlignRight">累计投资：</td>
			<td>
				<span ng-bind="vm.model.projectInvestAccuSum | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：</td>
			<td style="width:250px;">
				<span ng-bind="vm.model.planYear"></span>
			</td>
			<td class="formAlignRight" style="width:150px;">申请年度投资：</td>
			<td>
				<span id="applyYearInvest" name="applyYearInvest" ng-bind="vm.model.applyYearInvest | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width:150px;">公共预算：</td>
			<td style="width:250px;">
				<span id="capitalSCZ_ggys_TheYear" name="capitalSCZ_ggys_TheYear" ng-bind="vm.model.capitalSCZ_ggys_TheYear | number:4"></span>&nbsp;(万元)
			</td>
			<td class="formAlignRight" style="width:150px;">国土资金：</td>
			<td>
				<span id="capitalSCZ_gtzj_TheYear" name="capitalSCZ_gtzj_TheYear" ng-bind="vm.model.capitalSCZ_gtzj_TheYear | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">其他投资：</td>
			<td colspan="3">
				<span ng-bind="vm.model.capitalSCZ_qita | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" >"其他"的来源途径说明：</td>
			<td colspan="3">
				<textarea class="form-control input-sm" style="width:99%;" ng-model="vm.model.capitalOtherDescriptionShenBao" disabled></textarea>									
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：</td>
			<td colspan="3">
				<textarea rows="3" cols="20" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.yearConstructionContent" disabled></textarea>
			</td>
		</tr>
	</table>
</div>

<div ng-show="vm.isYearPlan">
	<div class="bg-info text-info" style="padding: 10px;">{{vm.model.planYear +1}}年度计划信息</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：</td>
			<td style="width:250px;">
				<span>{{vm.model.planYear +1}}</span>
			</td>
			<td class="formAlignRight" style="width:150px;">申请年度投资：</td>
			<td>
				<span id="applyYearInvest" name="applyYearInvest" ng-bind="vm.model.applyYearInvest_LastYear | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width:150px;">公共预算：</td>
			<td style="width:250px;">
				<span id="capitalSCZ_ggys_LastYear" name="capitalSCZ_ggys_LastYear" ng-bind="vm.model.capitalSCZ_ggys_LastYear | number:4"></span>&nbsp;(万元)
			</td>
			<td class="formAlignRight" style="width:150px;">国土资金：</td>
			<td>
				<span id="capitalSCZ_gtzj_LastYear" name="capitalSCZ_gtzj_LastYear" ng-bind="vm.model.capitalSCZ_gtzj_LastYear | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">其他投资：</td>
			<td colspan="3">
				<span ng-bind="vm.model.capitalSCZ_qita_LastYear | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" >"其他"的来源途径说明：</td>
			<td colspan="3">
				<textarea class="form-control input-sm" style="width:99%;" ng-model="vm.model.capitalOtherDescriptionShenBao_LastYear" disabled></textarea>									
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：</td>
			<td colspan="3">
				<textarea rows="3" cols="20" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.yearConstructionContentLastYear" disabled></textarea>
			</td>
		</tr>	
	</table>
</div>

<div ng-show="vm.isYearPlan">
	<div class="bg-info text-info" style="padding: 10px;">{{vm.model.planYear +2}}年度计划信息</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：</td>
			<td style="width:250px;">
				<span>{{vm.model.planYear +2}}</span>
			</td>
			<td class="formAlignRight" style="width:150px;">申请年度投资：</td>
			<td>
				<span id="applyYearInvest" name="applyYearInvest" ng-bind="vm.model.applyYearInvest_LastTwoYear | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width:150px;">公共预算：</td>
			<td style="width:250px;">
				<span id="capitalSCZ_ggys_LastTwoYear" name="capitalSCZ_ggys_LastTwoYear" ng-bind="vm.model.capitalSCZ_ggys_LastTwoYear | number:4"></span>&nbsp;(万元)
			</td>
			<td class="formAlignRight" style="width:150px;">国土资金：</td>
			<td>
				<span id="capitalSCZ_gtzj_LastTwoYear" name="capitalSCZ_gtzj_LastTwoYear" ng-bind="vm.model.capitalSCZ_gtzj_LastTwoYear | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">其他投资：</td>
			<td colspan="3">
				<span ng-bind="vm.model.capitalSCZ_qita_LastTwoYear | number:4"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" >"其他"的来源途径说明：</td>
			<td colspan="3">
				<textarea class="form-control input-sm" style="width:99%;" ng-model="vm.model.capitalOtherDescriptionShenBao_LastTwoYear" disabled></textarea>									
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：</td>
			<td colspan="3">
				<textarea rows="3" cols="20" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.yearConstructionContentLastTwoYear" disabled></textarea>
			</td>
		</tr>
	</table>
</div>

<div ng-show="vm.isYearPlan">
	<div class="bg-info text-info" style="padding: 10px;">年度计划申报备注</div>
	<table style="width:100%;" class="table  table-bordered table-striped">
		<tr>
			<td class="formAlignRight" style="width:150px;">申报信息备注：</td>
			<td colspan="3" >
				<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.yearConstructionContentShenBao" disabled></textarea>												
			</td>
		</tr>
	</table>
</div>

<div class="bg-info text-info" style="padding: 10px;">单位基本信息</div>
<table style="width:100%;" class="table  table-bordered table-striped">
	<tr>
		<td width="120">单位名称<span class="required ">(*)</span></td>
		<td colspan="4" class="RborderNone">
			<span id="unitName" ng-bind="vm.model.shenBaoUnitInfoDto.unitName"></span>
		</td>
	</tr>
	<tr>
		<td>组织机构代码</td>
				<td colspan="2">
					<span id="orgCode" ng-bind="vm.model.shenBaoUnitInfoDto.orgCode"></span>			
				</td>
	    <td width="100">电话号码</td>
	    <td>
	    	<span id="unitTel" ng-bind="vm.model.shenBaoUnitInfoDto.unitTel"></span>
	    </td>
   </tr>
   <tr>
        <td>电子邮箱</td>
        <td colspan="2">
        	<span id="unitEmail" ng-bind="vm.model.shenBaoUnitInfoDto.unitEmail"></span>
        </td>
        <td>传真号码</td>
        <td>
        	<span id="unitFax" ng-bind="vm.model.shenBaoUnitInfoDto.unitFax"></span>
        </td>
   </tr>
</table>
		   
<div class="bg-info text-info" style="padding: 10px;">常用申报信息</div>
<table style="width:100%;" class="table  table-bordered table-striped">		
	<tr>
		<td width="20%">单位性质</td>
		<td colspan="4">			
			<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoUnitInfoDto.unitProperty)"></span>
		</td>
	</tr>
	<tr>
	    <td>单位地址</td>
	    <td colspan="4">
		    <span>光明新区</span>
		    <span id="divisionId" ng-bind="vm.model.shenBaoUnitInfoDto.divisionId" style="display:none"></span>
		    <span ng-bind="vm.model.shenBaoUnitInfoDto.divisionDesc"></span>
		    <span id="unitAddress" ng-bind="vm.model.shenBaoUnitInfoDto.unitAddress"></span>
		</td>
	 </tr>
	 <tr>
	    <td rowspan="3">单位负责人</td>
	    <td width="60">姓名</td>
	    <td>
	    	<span id="unitResPerson" ng-bind="vm.model.shenBaoUnitInfoDto.unitResPerson"></span>
	    </td>
	    <td>电话号码</td>
	    <td>
	    	<span id="resPersonTel" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonTel"></span>
	    </td>
	 </tr>
	 <tr>
	    <td>手机</td>	   
	    <td>
	    	<span id="resPersonMobile" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonMobile"></span>
	    </td>
	    <td>传真号码</td>
	    <td>
	    	<span id="resPersonFax" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonFax"></span>
	    </td>
	 </tr>
	  <tr>
	    <td>Email</td>
	    <td colspan="3">
	    	<span id="resPersonEmail" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonEmail"></span>		     
	    </td>
	 </tr>
</table>


<div class="bg-info text-info" style="padding: 10px;">项目批复信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:180px;">批复名称</td>
		<td style="width:180px;">批复时间</td>
		<td style="width:180px;">批复文号</td>
		<td >文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.uploadType">
		<td >{{x[1]}}</td>
		<td >
			<span ng-bind="vm.model['pifu'+x[0]+'_date'] | date:'yyyy-MM-dd'"></span>
		</td>
		<td><span ng-bind="vm.model['pifu'+x[0]+'_wenhao']"></span></td>
		<td class="clearfix">			
	         <div style="margin:3px;"  class="pull-left"
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='{{x[0]}}'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
			 </div>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">相关附件</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:350px">附件类型</td>
		<td>文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.materialsType">
		<td ng-bind-html="vm.html(x[1])"></td>
		<td>
		      <div style="margin:3px;"  class="pull-left"
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='{{x[0]}}'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
			 </div>
		</td>
	</tr>
</table>
</div>
