<style>
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align: middle;
}
label{font-weight:normal;}

.uploadBox .k-upload-status {
	display: none;
}

.uploadBox .k-header {
	background: transparent;
	border: 0px;
}

.uploadBox em {
	display: none;
}

.uploadBox .k-dropzone {
	padding: 0px;
	margin: 0px;
}
.uploadBox .k-upload-files{
display:none;
}
input.input-sm{height:30px; margin:0px; padding:0px;}
textarea.form-control {
	margin:0px; padding:0px;
}
.tab_content{
	padding:20px;
}
overflow: scroll !important;
</style>
<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		<li><a href="#/managerCenter">首页</a></li>
		<li><a href="#/shenbao">项目申报</a></li>
		<li><a href="#/shenbao_records">申报记录</a></li>	 
		<li class="active">记录详情</li>
	</ol>
	<div class="bg-info text-info" style="padding: 10px; ">项目所属单位</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">项目所属单位：<span class="required">(*)</span></td>
		<td>
			<span ng-bind="vm.model.unitName" style="display:none"></span>
			<span ng-bind="vm.model.shenBaoUnitInfoDto.unitName"></span>
		</td>
	</tr>
	</table>

<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<span ng-bind="vm.model.projectShenBaoStage" style="display:none"></span>
	</tr>
	<tr>
		<td class="formAlignRight" style="width:150px;">项目代码：<span class="required">(*)</span></td>
		<td style="width:250px;">
			<span id="id" name="id" ng-bind="vm.model.id" style="display:none"></span>
			<span id="projectNumber" name="projectNumber" ng-bind="vm.model.projectNumber"></span>
		</td>
		<td class="formAlignRight" style="width:150px;">项目名称：<span class="required">(*)</span></td>
		<td>
			<span id="projectName" name="projectName" ng-bind="vm.model.projectName"></span>		
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目阶段：<span class="required">(*)</span></td>
		<td>
			<span id="projectStage" name="projectStage" ng-bind="vm.model.projectStage" style="display:none"></span>
			<span ng-bind="vm.model.projectStageDesc"></span>			
		</td>
		<td class="formAlignRight">项目类别：</td>
		<td>
			<span ng-bind="vm.model.projectCategoryDesc"></span>				
		</td>		
	</tr>
	<tr>
		<td class="formAlignRight">项目类型：</td>
		<td colspan="3">
			<span id="projectType" name="projectType" ng-bind="vm.model.projectType" style="display:none"></span>
			<span ng-bind="vm.model.projectTypeDesc"></span>					
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目行业归口：<span class="required">(*)</span></td>
		<td>
			<span id="projectIndustry" name="projectIndustry" ng-bind="vm.model.projectIndustry" style="display:none"></span>
			<span ng-bind="vm.model.projectIndustryDesc"></span>
		</td>
		<td class="formAlignRight">项目分类：<span class="required">(*)</span></td>
		<td>
			<span id="projectClassify" name="projectClassify" ng-bind="vm.model.projectClassify" style="display:none"></span>
			<span ng-bind="vm.model.projectClassifyDesc"></span>
		</td>
	</tr>
		
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td>
			<span id="beginDate" name="beginDate" ng-bind="vm.model.beginDate | date:'yyyy-MM-dd'"></span>
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td>
			<span id="endDate" name="endDate" ng-bind="vm.model.endDate | date:'yyyy-MM-dd'"></span>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目建设地址：<span class="required">(*)</span></td>
		<td colspan="3">
			<textarea id="projectAddress" name="projectAddress" rows="2" cols="" class="form-control" ng-model="vm.model.projectAddress" disabled></textarea>						
		</td>		
	</tr>
	
	<tr>
		<td class="formAlignRight">项目总投资：<span class="required">(*)</span></td>
		<td>
			<span id="projectInvestSum" name="projectInvestSum" ng-bind="vm.model.projectInvestSum | number:2"></span>&nbsp;(万元)
		</td>
		<td class="formAlignRight">累计完成投资：<span class="required">(*)</span></td>
		<td>
			<span id="projectInvestAccuSum" name="projectInvestAccuSum" ng-bind="vm.model.projectInvestAccuSum | number:2"></span>&nbsp;(万元)
		</td>
	</tr>
					
	<tr>
		<td class="formAlignRight">资金筹措方案：</td>
		<td colspan="3" >
			<table class="table table-bordered table-striped table-hover" >
				<tr class="text-primary text-center">
					<td>市财政</td>
					<td>区财政</td>
					<td>社会投资</td>					
					<td>其他</td>
				</tr>
				<tr class="text-center">
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td >公共预算</td>
								<td>国土资金</td>
								<td>专项资金</td>
							</tr>
							<tr>
								<td><span ng-bind="vm.model.capitalSCZ_ggys | number:2"></span></td>
								<td><span ng-bind="vm.model.capitalSCZ_gtzj | number:2"></span></td>
								<td><span ng-bind="vm.model.capitalSCZ_zxzj | number:2"></span></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered " style="margin:0px">
							<tr>
								<td>公共预算</td>
								<td>国土资金</td>
								
							</tr>
							<tr>
								<td><span ng-bind="vm.model.capitalQCZ_ggys | number:2"></span></td>
								<td><span ng-bind="vm.model.capitalQCZ_gtzj | number:2"></span></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td>-</td>
							</tr>
							<tr>
								<td><span ng-bind="vm.model.capitalSHTZ | number:2"></span></td>
							</tr>
						</table>
					</td>
					<td style="padding:0px;border: 0px;">
						<table class="table table-bordered" style="margin:0px">
							<tr>
								<td><span ng-bind="vm.model.capitalOtherTypeDesc"></span></td>
							</tr>
							<tr>
								<td><span ng-bind="vm.model.capitalOther | number:2"></span></td>
							</tr>
						</table>
					</td>
				</tr>
				</table>
				<table class="table table-bordered ">
				<tr>
					<td class="text-center" style="width:100px;" >"其他"的来源途径说明：</td>
					<td >
						<textarea class="form-control input-sm" style="width:99%;" ng-model="vm.model.capitalOtherDescription" placeholder="注：200字符以内" disabled></textarea>									
					</td>
				</tr>
				<tr>
					<td>资金总计：</td>
					<td >
						<span id="capitalTotal" ng-bind="vm.capitalTotal() | number:2"></span>&nbsp;(万元)
					</td>								
				</tr>
			</table>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目简介：</td>
		<td colspan="3" >
			<textarea class="form-control" mark_maxlength="500" style="height:121px;width: 99%;" placeholder="注：项目简介（500字符以内）" ng-model="vm.model.projectIntro" disabled></textarea>													
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">建设规模：</td>
		<td colspan="3" >
			<textarea class="form-control" mark_maxlength="500" style="height:121px;width: 99%;" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（200字符以内）" ng-model="vm.model.projectGuiMo" disabled></textarea>													
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">备注：</td>
		<td colspan="3" >
			<textarea class="form-control" mark_maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.remark" disabled></textarea>												
		</td>
	</tr>				
	</div>
</table>

<div ng-show="vm.isYearPlan">
	<div class="bg-info text-info" style="padding: 10px;">年度计划信息</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">项目建设性质</td>
			<td colspan="3">
				<span ng-bind="vm.model.projectConstrCharDesc"></span>
			</td>
		</tr>
		
		<tr>
			<td class="formAlignRight">项目总投资：<span class="required">(*)</span></td>
			<td>
				<span ng-bind="vm.model.projectInvestSum | number:2"></span>&nbsp;(万元)			
			</td>
			<td class="formAlignRight">累计投资：<span class="required">(*)</span></td>
			<td>
				<span ng-bind="vm.model.projectInvestAccuSum | number:2"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：<span class="required">(*)</span></td>
			<td style="width:250px;">
				<span ng-bind="vm.model.planYear"></span>
			</td>
			<td class="formAlignRight" style="width:150px;">申请年度投资：<span class="required">(*)</span></td>
			<td>
				<span id="applyYearInvest" name="applyYearInvest" ng-bind="vm.model.applyYearInvest | number:2"></span>&nbsp;(万元)
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：<span class="required">(*)</span></td>
			<td colspan="3">
				<textarea rows="3" cols="20" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.yearConstructionContent" disabled></textarea>
			</td>
		</tr>	
	</table>
</div>

<div class="bg-info text-info" style="padding: 10px;">单位基本信息</div>
<table width="100%" class="table  table-bordered table-striped">
	<tr>
		<td width="120">单位名称<span class="required ">(*)</span></td>
		<td colspan="4" class="RborderNone">
			<span id="unitName" name="unitName" ng-bind="vm.model.shenBaoUnitInfoDto.unitName"></span>
		</td>
	</tr>
	<tr>
		<td>组织机构代码</td>
				<td colspan="2">
					<span id="orgCode" name="orgCode" ng-bind="vm.model.shenBaoUnitInfoDto.orgCode"></span>			
				</td>
	    <td width="100">电话号码<span class="required">(*)</span></td>
	    <td>
	    	<span id="unitTel" name="unitTel" ng-bind="vm.model.shenBaoUnitInfoDto.unitTel"></span>
	    </td>
   </tr>
   <tr>
        <td>电子邮箱<span class="required">(*)</span></td>
        <td colspan="2">
        	<span id="unitEmail" name="unitEmail" ng-bind="vm.model.shenBaoUnitInfoDto.unitEmail"></span>
        </td>
        <td>传真号码<span class="required">(*)</span></td>
        <td>
        	<span id="unitFax" name="unitFax" ng-bind="vm.model.shenBaoUnitInfoDto.unitFax"></span>
        </td>
   </tr>
</table>
		   
<div class="bg-info text-info" style="padding: 10px;">常用申报信息</div>
<table width="100%" class="table  table-bordered table-striped">		
	<tr>
		<td width="20%">单位性质<span class="required">(*)</span></td>
		<td colspan="4">
			<span id="unitProperty" name="unitProperty" ng-bind="vm.model.shenBaoUnitInfoDto.unitProperty" style="display:none"></span>
			<span ng-bind="vm.model.shenBaoUnitInfoDto.unitPropertyDesc"></span>
		</td>
	</tr>
	<tr>
	    <td>单位地址<span class="required">(*)</span></td>
	    <td colspan="4">
		    <span>光明新区</span>
		    <span id="divisionId" name="divisionId" ng-bind="vm.model.shenBaoUnitInfoDto.divisionId" style="display:none"></span>
		    <span ng-bind="vm.model.shenBaoUnitInfoDto.divisionDesc"></span>
		    <span id="unitAddress" name="unitAddress" ng-bind="vm.model.shenBaoUnitInfoDto.unitAddress"></span>
		</td>
	 </tr>
	 <tr>
	    <td rowspan="3">单位负责人<span class="required">(*)</span></td>
	    <td width="60">姓名</td>
	    <td>
	    	<span id="unitResPerson" name="unitResPerson" ng-bind="vm.model.shenBaoUnitInfoDto.unitResPerson"></span>
	    </td>
	    <td>电话号码</td>
	    <td>
	    	<span id="resPersonTel" name="resPersonTel" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonTel"></span>
	    </td>
	 </tr>
	 <tr>
	    <td>手机</td>	   
	    <td>
	    	<span id="resPersonMobile" name="resPersonMobile" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonMobile"></span>
	    </td>
	    <td>传真号码</td>
	    <td>
	    	<span id="resPersonFax" name="resPersonFax" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonFax"></span>
	    </td>
	 </tr>
	  <tr>
	    <td>Email</td>
	    <td colspan="3">
	    	<span id="resPersonEmail" name="resPersonEmail" ng-bind="vm.model.shenBaoUnitInfoDto.resPersonEmail"></span>		     
	    </td>
	 </tr>	
	<tr>
	  <td rowspan="3">项目联系人<span class="required">(*)</span></td>
	  <td>姓名</td>
	  <td>
	  	<span id="unitContactPerson" name="unitContactPerson" ng-bind="vm.model.shenBaoUnitInfoDto.unitContactPerson"></span>
	  </td>
	  <td>电话号码</td>
	  <td>
	  	<span id="contactPersonTel" name="contactPersonTel" ng-bind="vm.model.shenBaoUnitInfoDto.contactPersonTel"></span>
	  </td>
	</tr>
	<tr>
	  <td>手机</td>	
	  <td>
	  	<span id="contactPersonMobile" name="contactPersonMobile" ng-bind="vm.model.shenBaoUnitInfoDto.contactPersonMobile"></span>
	  </td>
	  <td>传真号码</td>
	  <td>
	  	<span id="contactPersonFax" name="contactPersonFax" ng-bind="vm.model.shenBaoUnitInfoDto.contactPersonFax"></span>	    	
	  </td>
	</tr>
	<tr>
	  <td>Email</td>
	  <td colspan="3">
	  	<span id="contactPersonEmail" name="contactPersonEmail" ng-bind="vm.model.shenBaoUnitInfoDto.contactPersonEmail"></span>
	  </td>
	</tr>	
</table>


<div class="bg-info text-info" style="padding: 10px;">项目批复信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:180px;">批复名称</td>
		<td style="width:180px;">批复时间</td>
		<td style="width:180px;">批复文号</td>
		<td >文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.uploadType">
		<td >{{x[1]}}</td>
		<td >
			<span ng-bind="vm.model['pifu'+x[0]+'_date'] | date:'yyyy-MM-dd'"></span>
		</td>
		<td><span ng-bind="vm.model['pifu'+x[0]+'_wenhao']"></span></td>
		<td class="clearfix">			
	         <div style="margin:3px;"  class="pull-left"
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='{{x[0]}}'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
			 </div>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">相关附件</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td style="width:350px">附件类型</td>
		<td>文件上传</td>
	</tr>
	<tr ng-repeat="x in vm.materialsType">
		<td>{{x[1]}}</td>
		<td>
		      <div style="margin:3px;"  class="pull-left"
			 	  ng-repeat="y in vm.model.attachmentDtos" 
			 	  ng-show="y.type=='{{x[0]}}'"
			 		>
				 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
			 </div>
		</td>
	</tr>
</table>
</div>
