<style>
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
	.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #ddd;
	vertical-align: middle;
}

label {
	font-weight: normal;
}
</style>

<div class="well well-sm" style="background: white;">
	<ol class="breadcrumb">
		<li style="color: #0b8d39; padding-left: 15px;">当前位置：</li>
		<li><a href="#/">首页</a></li>
		<li><a href="#/task/plan">已办计划类列表</a></li>
		<li class="active">办理详情</li>
		<li>
			<a href="javascript:window.history.back(-1)" class="text-info" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="点击返回上一页面"><strong>返回</strong></a>
		</li>
	</ol>
	<form id="form" name="form">
		<div class="bg-info text-info" style="padding: 10px;">申报基本信息</div>
		<table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width: 150px;">申报阶段：</td>
				<td style="width: 250px;"
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectShenBaoStage)">
				<td class="formAlignRight" style="width: 150px;">项目名称：</td>
				<td><span ng-bind="vm.model.shenBaoInfo.projectName"></span></td>
			</tr>
			<tr>
				<td class="formAlignRight">项目阶段：</td>
				<td><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectStage)"></span>
				</td>
				<!--<td class="formAlignRight">项目类型：</td>-->
				<!--<td><span ng-repeat="x in vm.projectTypes"-->
					<!--ng-bind="vm.getBasicDataDesc(x)+' '"></span></td>-->
			</tr>
			<tr>
				<td class="formAlignRight">项目行业归口：</td>
				<td><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectIndustry)"></span>
				</td>
				<td class="formAlignRight">国家编码：</td>
                <td><span
                    ng-bind="vm.model.shenBaoInfo.countryNumber"></span>
                </td>
				<!--
				<td class="formAlignRight">项目分类：</td>
				<td><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectClassify)"></span>
				</td>
				-->
			</tr>
			<tr>
				<td class="formAlignRight">国民经济行业分类：</td>
				<td colspan="3" style="width: 450px;"><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustryParent)"
					style="margin-right: 24px;"></span> <span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustry)"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目建设地址：</td>
				<td colspan="3">光明区 <span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.divisionId)"></span>
					<span ng-bind="vm.model.shenBaoInfo.projectAddress"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目总投资：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.projectInvestSum | number:4"></span>&nbsp;(万元)
				</td>

				<td class="formAlignRight">累计完成投资：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.projectInvestAccuSum | number:4"></span>&nbsp;(万元)
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">计划申请资金-公共预算：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.sqPlanReach_ggys | number:4"></span>&nbsp;(万元)
				</td>

				<td class="formAlignRight">计划申请资金-国土资金：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.sqPlanReach_gtzj | number:4"></span>&nbsp;(万元)
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">计划安排资金-公共预算：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.apPlanReach_ggys | number:4"></span>&nbsp;(万元)
				</td>

				<td class="formAlignRight">计划安排资金-国土资金：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.apPlanReach_gtzj | number:4"></span>&nbsp;(万元)
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目简介：</td>
				<td colspan="3"><span
					ng-bind="vm.model.shenBaoInfo.projectIntro"></span></td>
			</tr>
			<tr>
				<td class="formAlignRight">详细信息：</td>
				<td colspan="3">
					<button class="btn btn-success btn-xs"
						ng-click="vm.dialog_shenbaoInfo()">查看申报信息</button>
					<!-- <button class="btn btn-success btn-xs"
						ng-click="vm.dialog_shenbaoInfoEdit()">复核申报信息</button> -->
				</td>
			</tr>
		</table>

		<div class="bg-info text-info" style="padding: 10px;">业务办理</div>
		<table class="table table-bordered table-striped ">
			<tr ng-repeat="x in vm.taskRecord | orderBy:'endTime'"
				ng-if="x.isJuzhang != 'yes'">
				<td class="formAlignRight" style="width: 150px;" ng-bind="x.name"></td>
				<td>
					<div ng-bind="x.msg"></div>
					<div class="text-right" ng-bind="x.id"></div>
					<div class="text-right" ng-bind="x.endTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
				</td>
			</tr>
		</table>
		<div class="bg-info text-info" style="padding: 10px;">局领导意见</div>
		<table class="table table-bordered table-striped ">
			<tr ng-repeat="x in vm.taskRecord | orderBy:'endTime'"
				ng-if="x.isJuzhang == 'yes'">
				<td class="formAlignRight" style="width: 150px;" ng-bind="x.name"></td>
				<td>
					<div ng-bind="x.msg"></div>
					<div class="text-right" ng-bind="x.id"></div>
					<div class="text-right" ng-bind="x.endTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
				</td>
			</tr>
		</table>
		<div class="bg-info text-info" style="padding: 10px;">相关附件</div>
		<table class="table table-bordered table-striped">
			<tr>
				<td class="formAlignRight" style="width: 150px;">审批相关附件：</td>
				<td>
					<div>
						<div style="margin: 3px;"
							ng-repeat="y in vm.model.shenBaoInfo.attachmentDtos"
							>
							<a href="/contents/upload/{{y.url}}" target="_blank"
								ng-bind="y.name"></a>
						</div>
					</div>
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- 申报信息模态框 -->
<div id="shenbaoInfo" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">详细信息</span>
			</div>
			<div class="modal-body">
				<div ng-include
					src="'/contents/admin/management/task/html/details/shenBaoInfoDetails.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- 申报信息复核模态框 -->
<div id="shenbaoInfoEdit" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		 style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">复核申报信息</span>
			</div>
			<div class="modal-body">
				<div ng-include
					 src="'/contents/admin/management/task/html/edit/shenBaoInfoEdit.html'"></div>
			</div>
			<!--<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success"
						ng-click="vm.saveShenBaoInfo()">保存</button>
			</div>-->
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->