<style>
.div_border_left{
	border:1px solid #a8a8f7;
	background-color:#f5eef4;
	padding:10px;
	margin:10px 5px 10px 15px;
	width:48%;
	height:48%
}
.div_border_right{
	border:1px solid #a8a8f7;
	background-color:#f5eef4;
	padding:10px;
	margin:10px 15px 10px 15px;
	width:47%;
	height:48%
}
.div_border_bottom{
	margin:8px;
}
</style>
<div style="padding:5px;">
	<ol class="breadcrumb" style="background: #e2f0e7;">
		<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
        <li><a href="#/">首页</a></li>
    </ol>
</div>

<div style="padding:0 10px;">
	<span class="glyphicon glyphicon-tag">
		<span class="text-danger" style="font-size:15px;">
		您好，欢迎登陆在线申报系统，你上次登陆是在 <span>${lastLoginDate}</span> ！
		</span>
	</span>                                  
</div>

<div style="width:100%;height:500px;">
	<div class="div_border_left pull-left">
		<div class="div_border_bottom">
			<button class="btn btn-primary btn-sm">最新动态</button>
		</div>
		<div class="div_border_bottom">
			<table class="table table-bordered" style="font-size:12px;">
				<tr class="bg-info">
					<th width="200px;">名称</th>					
					<th>信息</th>
					<th width="120px;">状态</th>
					<th width="132px;">时间</th>
				</tr>
				<tr ng-repeat="x in vm.model.task | limitTo :2" style="background: white;">
					<td ng-if="x.taskType == vm.taskType_yearPlan">
						<a href="#/shenbao_record/{{x.relId}}">{{x.title}}</a>
					</td>
					<td ng-if="x.taskType == vm.taskType_monthReport">
						<a href="#/monthReportDetails/{{x.relId}}">{{x.title}}</a>
					</td>	
					<td ng-if="x.taskType ==  vm.taskType_JYS">
						<a href="#/shenbao_record/{{x.relId}}">{{x.title}}</a>
					</td>
					<td ng-if="x.taskType == vm.taskType_KXXYJBG">
						<a href="#/shenbao_record/{{x.relId}}">{{x.title}}</a>
					</td>
					<td ng-if="x.taskType == vm.taskType_CBSJYGS">
						<a href="#/shenbao_record/{{x.relId}}">{{x.title}}</a>
					</td>			
					<td ng-bind="x.processSuggestion" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap" title="{{x.processSuggestion}}"></td>
					<td ng-bind="vm.getBasicDataDesc(x.processState)"></td>
					<td ng-bind="vm.formatDateTime(x.createdDate)"></td>
				</tr>
			</table>
			<a href="#/task" class="btn btn-info btn-xs pull-right">更多>></a>
		</div>
	</div>
	<div class="div_border_right pull-right">
		<div class="div_border_bottom">
			<button class="btn btn-primary btn-sm">我的申报</button>
		</div>
		<div class="div_border_bottom">
			<table class="table table-bordered" style="font-size:12px;">
				<tbody>
					<tr class="bg-info">
						<th>项目名称</th>
						<th>申报类型</th>	
						<th>状态</th>
						<th width="132px;">申报时间</th>
					</tr>
   					<tr ng-repeat="x in vm.model.shenBaoInfo | limitTo :2" style="background: white;">
   						<td>
   							<a href="#/project/projectInfo/{{x.projectId}}/{{x.projectInvestmentType}}">{{x.projectName}}</a>
   						</td>
   						<td ng-bind="vm.getBasicDataDesc(x.projectShenBaoStage)"></td>
   						<td ng-bind="vm.getBasicDataDesc(x.processState)"></td>
   						<td ng-bind="vm.formatDate(x.createdDate)"></td>
   					</tr>   					   				                    
                 </tbody>
            </table>
            <a href="#/shenbao_records" class="btn btn-info btn-xs pull-right">更多>></a>
		</div>
	</div>
	<!-- <div class="div_border_left pull-left">
		<div class="div_border_bottom">
			<button class="btn btn-primary btn-sm">温馨提示</button>
		</div>
		<div class="div_border_bottom">
		
		</div>
	</div>
	<div class="div_border_right pull-right">
		<div class="div_border_bottom">
			<button class="btn btn-primary btn-sm">您最近的操作</button>
		</div>
	</div> -->
</div>                       
	                                    
	                                
                            
                            
                            
                            
                                
                                        
	
		
                                                    
			
				
                                                               
                                                            
				
                                                                
                                                            
			

				
                                        
                                    
				
                                        
                                    
				
                                        
                                    
		
                                               
	
	


                                    
                                
  