<div style="margin: 10px; padding: 10px;" class="bg-danger">
	<span class="glyphicon glyphicon-hand-down">&nbsp;年度调整计划</span>
</div>
<div class="well well-sm" style="background: white;">
	<form id="form" name="form" class="form-horizontal">
		<!-- <div style="margin-left:80px;marigin-top:50px;">
			可研报告项目<span class="required">(*)</span>：
			<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">关联项目</button>
		</div>
		<div style="margin-top:50px;text-align:center">
			<button class="btn btn-sm btn-success">保存</button>
		</div> -->
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>
						<div class="form-group">
							<label class="col-sm-4 control-label">是否批复项目建议书：<span class="errors">(*)</span></label>
							<div class="col-sm-6" >
								<input  type="radio" name="name" value="1" /><span>是</span>  
								<input  type="radio" name="name" value="0" /><span>否</span> 
							</div>
						</div>
					</td>
				</tr>
				
				<tr  style="display: none" id="cs">
					<td>
						<div class="form-group">
							<label class="col-sm-4 control-label">项目建议书项目:<span class="errors">(*)</span></label>
							<div class="col-sm-6">
								<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">关联项目</button>
							</div>
							<div>
						</div>
					</td>
				</tr>
				
				<tr  style="display: none" id="hl">
					<td>
						<table class="table table-bordered table-striped" style="text-align:center">
							<tbody>
								<tr>
			 						<td rowspan="2">次数</td>
			 						<td colspan="2">批文号</td>
			 						<td>批复金额</td>
			 					</tr>
			 					<tr>
			 						<td>深光发改</td>
			 						<td>号</td>
			 						<td></td>
			 					</tr>	
			 					<tr>
			 						<td>1</td>
			 						<td><input type="text" /></td>
			 						<td><input type="text" /></td>
			 						<td><input type="text" /></td>
			 					</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
			<tr>
				<td colspan="4" style="padding-top: 11px; padding-bottom: 30px; text-align: center;">
					<button type="submit" class="btn btn-success" >保存</button>
				</td>
			</tr>
		</table>
	</form>
</div>

<script type="text/javascript">
$(function(){
	  $(":radio").click(function(){
	   	  var value = $(this).val();
	   	  if(value == "1"){
	   		  $("#cs").show();
	   		  $("#hl").show();
	   	  }else{
	   		  $("#cs").hide();
	   		  $("#hl").hide();
	   	  }
	  });
	 });
</script>




<!-- 关联项目模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content" >
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">关联项目</h4>
			</div>
			<div class="modal-body"  >
				 <form id="form" name="form">
					<script type="text/template" id="columnBtns">
						<button class="btn btn-xs btn-primary" ng-click="{0}"><span class="glyphicon glyphicon-pencil"></span>关联项目</button>
					</script>
					<div class="grid" kendo-grid="grid" k-options="vm.gridOptions_relevance"></div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-success"
					ng-click="vm.goFillDeclarationInfo()">确定</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
	</div>
</div>
