<ion-modal-view ng-controller="LoginCtrl">
<ion-header-bar class="bar bar-header bar-positive disable-user-behavior">
<h1 class="title">登录</h1>
</div>
</ion-header-bar>
<ion-content>
<form name="loginForm" novalidate> 
  <div class="list">
    <label class="item item-input">
      <span class="input-label">用户名</span>
      <input type="text" ng-model="loginData.loginName" name="loginName" required>
    </label>
    <label class="item item-input">
      <span class="input-label">密码</span>
      <input type="password" ng-model="loginData.password" name="password" required>
    </label>

    <label class="item">
      <div id="errormsg">
         <div class="assertive" ng-show="(loginForm.loginName.$error.required && !loginForm.loginName.$pristine) || (loginForm.password.$error.required && !loginForm.password.$pristine)">请输入用户名和密码</div>
         <div class="assertive" ng-show="loginFailed">登录失败，用户名或密码错误</div>
      </div>
      <button class="button button-block button-positive" type="button" ng-disabled="loginForm.$invalid" ng-click="doLogin()">登录</button>
    </label>
  </div>
</form>
</ion-content>
</ion-modal-view>