<ion-view view-title="月报详情" hide-tabs="true">
<ion-content>

<div class="list-auto">
  <table class="table table-left">
    <tbody>
    	 <tr>
        <td colspan="4" class="color-black" style="text-align: center;">项目名称</td>
      </tr>
      <tr>
        <td class="color-black" style="width:35%;">项目名称</td>
        <td colspan="3" style="width:65%">{{project.projectName || '-'}}</td>
      </tr>
      <tr>
      	<td class="color-black">填报年份</td>
        <td>{{year || '-'}}</td>
        <td class="color-black">填报月份</td>
        <td>{{month || '-'}}</td>
      </tr>
      <tr>
        <td colspan="4" class="color-black" style="text-align: center;">联系人信息</td>
      </tr>
      <tr>
        <td class="color-black">填报人姓名 </td>
        <td class="color-black">{{monthReport.fillName || '-'}}</td>
        <td class="color-black">填报人手机 </td>
        <td class="color-black">{{monthReport.fillMobile || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目负责人 </td>
        <td class="color-black">{{monthReport.projectRepName || '-'}}</td>
        <td class="color-black">项目负责人电话 </td>
        <td class="color-black">{{monthReport.projectRepMobile || '-'}}</td>
      </tr>
      
      <!--项目进度信息begin-->
       <tr>
        <td colspan="4" class="color-black" style="text-align: center;">项目进度信息</td>
      </tr>
      <tr>
        <td class="color-black">开工日期 </td>
        <td class="color-black">{{monthReport.beginDate | date:'yyyy-MM-dd'}}</td>
        <td class="color-black">竣工日期 </td>
        <td class="color-black">{{monthReport.endDate | date:'yyyy-MM-dd'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目总投资 </td>
        <td class="color-black">{{monthReport.invertPlanTotal | number:4}}(万元)</td>
        <td class="color-black">截止上年底累计下达计划 </td>
        <td class="color-black">{{monthReport.releasePlanTotal | number:4}}(万元)</td>
      </tr>
      <tr>
        <td class="color-black">本年度安排计划 </td>
        <td class="color-black">{{vm.model.monthReport.thisYearPlanInvestment | number:4}}(万元)</td>
        <td class="color-black">本年度已下达计划 </td>
        <td class="color-black">{{monthReport.thisYearPlanHasInvestment | number:4}}(万元)</td>
      </tr>
      <tr>
        <td class="color-black">累计完成投资 </td>
        <td colspan="3" class="color-black">{{monthReport.actuallyFinishiInvestment | number:4}}(万元)</td>
      </tr>
      <tr>
        <td class="color-black">本月计划完成投资 </td>
        <td class="color-black">{{monthReport.thisMonthPlanInvestTotal | number:4}}(万元)</td>
        <td class="color-black">本月已完成投资 </td>
        <td class="color-black">{{monthReport.thisMonthInvestTotal | number:4}}(万元)</td>
      </tr>
      <tr>
        <td class="color-black">是否完成竣工决算 </td>
        <td colspan="3" class="color-black"></td>
      </tr>
  		<tr>
        <td class="color-black"> 年度工作目标 </td>
        <td colspan="3" class="color-black">{{monthReport.workTargets}}</td>
      </tr>    
     <tr>
        <td class="color-black"> 项目审批进度 </td>
        <td colspan="3" class="color-black">{{monthReport.projectApprovalProgress}}</td>
      </tr> 
      <tr>
        <td class="color-black"> 工程形象进度<br/>项目进度情况 </td>
        <td colspan="3" class="color-black">{{monthReport.projectImageProgress}}</td>
      </tr> 
       <tr>
        <td class="color-black" rowspan="4"> 进度安排 </td>
        <td colspan="3" class="color-black">预计1到3月份完成投资（万元）：{{monthReport.firstQuarCompInvestment | number:4}}</td>
      </tr> 
       <tr>
        <td colspan="3" class="color-black">预计1到6月份完成投资（万元）：{{monthReport.secondQuarCompInvestment | number:4}}</td>
      </tr> 
       <tr>
        <td colspan="3" class="color-black">预计1到9月份完成投资（万元）：{{monthReport.thirdQuarCompInvestment  | number:4}}</td>
      </tr> 
       <tr>
        <td colspan="3" class="color-black">预计1到12月份完成投资（万元）：{{monthReport.fourthQuarCompInvestment | number:4}}</td>
      </tr> 
      <!--项目进度信息end-->
      
      <!--问题与备注begin-->
       <tr>
        <td colspan="4" class="color-black" style="text-align: center;">问题与备注</td>
      </tr>
       <tr>
        <td class="color-black">项目存在问题 </td>
        <td colspan="3" class="color-black">
        	<table class="table  table-bordered table-striped" >
						<tbody>
							<tr class="bg-info" style="font-weight:bold">
								<td style="width:50px;">序号</td>
								<td>问题简介</td>
								<td>解决措施及建议</td>						
							</tr>
							<tr ng-repeat="x in monthReport.monthReportProblemDtos">
								<td><span>{{$index+1}}</span></td>
								<td>
									<textarea style='height: 102px; width: 307px;'								
										 cols='20' rows='2' ng-bind="monthReport.monthReportProblemDtos[$index].problemIntroduction" disabled>
									</textarea>
								</td>
								<td>
									<textarea style='height: 102px; width: 307px;'								
										 cols='20' rows='2' ng-bind="monthReport.monthReportProblemDtos[$index].solutionsAndSuggest" disabled>
									</textarea>
								</td>						
							</tr>
						</tbody>
					</table>
        	
        </td>
      </tr>
       <tr>
        <td class="color-black">备注 </td>
        <td colspan="3" class="color-black">{{monthReport.remark}}</td>
      </tr>
      <!--问题与备注end-->
      
      <!--文件begin-->
      <tr>
        <td colspan="4" class="color-black" style="text-align: center;">文件</td>
      </tr>
      <tr>
      	<td colspan="4">
      		<table style="width:100%;" class="table table-striped table-bordered ">					
						<tbody>
							<tr>
								<td>						
									<table style="width: 98%;" class="table  table-bordered table-striped">									
										<tbody>
											<tr>
												<th style="width:180px;" align="center" scope="col">附件类型</th>
												<th  align="center" scope="col">附件名称</th>	
											</tr>
											<tr ng-repeat="x in uploadType">
												<td rowspan="1"><span>{{x[1]}}</span></td>									
												<td >
												 <div style="margin:3px;" 
												 	  ng-repeat="y in monthReport.attachmentDtos" 
												 	  ng-show="y.type=='{{x[0]}}'"
												 		>
													 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
												 </div>									
												</td>															
											</tr>
										</tbody>
									</table>
								</td>
							</tr>						
						</tbody>
					</table>
      	</td>
      </tr>
      
      <!--文件end-->
    </tbody>
  </table>
</div>


</ion-content>
</ion-view>
