<ion-view view-title="项目申报信息" hide-tabs="true">
<ion-content>
<div class="list-auto">
  <table class="table table-left">
    <tbody>
      <tr>
        <td class="color-black" style="width:35%;">项目名称</td>
        <td style="width:65%">{{projectshenbao.projectName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目负责人名称</td>
        <td>{{projectshenbao.projectRepName || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目申报阶段</td>
        <td>{{projectshenbao.projectShenBaoStage | dict}}</td>
      </tr>
      <tr>
        <td class="color-black">项目审批状态 </td>
        <td class="color-black">{{projectshenbao.processState | dict}}</td>
      </tr>
      <tr>
        <td class="color-black">资金来源</td>
        <td>{{projectprocess.ProjectInfo.InvestSources || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">项目类型</td>
        <td>{{projectprocess.ProjectInfo.ProjectCategory || '-'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">至上年度投资资金</td>
        <td>{{projectprocess.ProjectInfo.InvestPreviousYear + '万' || '-'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">年度投资计划</td>
        <td>{{projectprocess.ProjectInfo.InvestAnnual + '万' || '-'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">本次申请投资计划</td>
        <td>{{'未知字段'}}</td>
      </tr>
      <tr ng-show='projectType == 2'>
        <td class="color-black">本年度主要建设内容</td>
        <td>{{projectprocess.ProjectInfo.ConstructionContent || '-'}}</td>
      </tr>
      <tr>
        <td class="color-black">建设规模</td>
        <td>{{projectprocess.ProjectInfo.ConstructionScale || '-'}}</td>
      </tr>
    </tbody>
  </table>
  
  <!--年度计划信息-->
    <table ng-show="projectshenbao.isYearPlan" class="table table-left">
    <tbody>
      <tr>
      <td colspan="2" class="color-black"><b>年度计划信息</b></td>
    </tr>
    
     <tr>
        <td class="color-black">项目建设性质</td>
        <td>{{projectshenbao.projectConstrCharDesc || '-'}}</td>
     </tr>
      <tr>
        <td class="color-black">建设单位名称</td>
        <td>       	
 	      	<div ng-repeat="x in projectshenbao.constructionUnit">
				<span>单位{{$index+1}}：</span>
				<span class="text-primary" ng-bind="projectshenbao.constructionUnit[$index]"></span>
			</div>				
        </td>
     </tr>
     <tr>
        <td class="color-black">项目总投资</td>
        <td>{{projectshenbao.projectInvestSum | number:4 }}</td>
     </tr>
     <tr>
        <td class="color-black">累计安排投资</td>
        <td>{{projectshenbao.apInvestSum | number:4}}</td>
     </tr>
     <tr>
        <td class="color-black">计划年度</td>
        <td>{{projectshenbao.planYear || '-'}}</td>
     </tr>
     <tr>
        <td class="color-black">年度建设内容</td>
        <td>{{projectshenbao.yearConstructionContent || '-'}}</td>
     </tr>
    </tbody>
  </table>
 
 
 
  <!--年度计划信息-->
    <table ng-show="projectshenbao.isYearPlan" class="table table-left">
    <tbody>
      	<tr>
      		<td colspan="2" class="color-black"><b>{{projectshenbao.planYear +1}}年度计划信息</b></td>
    	</tr>
    	<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：</td>
			<td style="width:250px;" colspan="3">
				<span>{{projectshenbao.planYear +1}}</span>
			</td>
		</tr>
     	<tr>
			<td class="formAlignRight">资金需求及来源：</td>
			<td colspan="3">
				<table class="table table-bordered table-striped table-hover">
					<tr class="text-primary text-center">
						<td colspan="2">申请年度投资：
							<span ng-bind="projectshenbao.applyYearInvest_LastYear | number:4"></span>&nbsp;(万元)
						</td>
					</tr>
					<tr>
						<td style="padding:0px;border: 0px;" colspan="4">
							<table class="table table-bordered" style="margin:0px;width:100%;">
								<tr>
									<td>公共预算</td>
									<td>国土基金</td>
									<td>其他</td>
								</tr>
								<tr>
									<td><span ng-bind="projectshenbao.capitalSCZ_ggys_LastYear | number:4"/></td>
									<td><span ng-bind="projectshenbao.capitalSCZ_gtzj_LastYear | number:4"/></td>
									<td><span ng-bind="projectshenbao.capitalSCZ_qita_LastYear | number:4"/></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" >"其他"的来源途径说明：</td>
			<td colspan="3">
				<textarea class="form-control input-sm" style="width:99%;" ng-model="projectshenbao.capitalOtherDescriptionShenBao_LastYear" disabled></textarea>									
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：</td>
			<td colspan="3">
				<textarea class="form-control" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="projectshenbao.yearConstructionContentLastYear" disabled></textarea>
			</td>
		</tr>	
		
    </tbody>
  </table>
  
    <!--年度计划信息-->
  <table ng-show="projectshenbao.isYearPlan" class="table table-left">
    <tbody>
      	<tr>
      		<td colspan="2" class="color-black"><b>年度计划申报备注</b></td>
    	</tr>   
	     <tr>
			<td class="formAlignRight" style="width:150px;">申报信息备注：</td>
			<td colspan="3" >
				<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;"  ng-model="projectshenbao.yearConstructionContentShenBao" disabled></textarea>												
			</td>
		</tr>
    </tbody>
  </table>
  
  
  
  <table class="table table-left">
    <tbody>
      	<tr>
      		<td colspan="2" class="color-black"><b>项目批复信息</b></td>
    	</tr>      	
    	<tr>
			<td style="width:180px;">批复名称</td>
			<td style="width:180px;">批复时间</td>
			<td style="width:180px;">批复文号</td>
			<td >文件</td>
		</tr>
		<tr ng-repeat="x in projectshenbao.uploadType">
			<td >{{x[1]}}</td>
			<td >
				<span ng-bind="projectshenbao['pifu'+x[0]+'_date'] | date:'yyyy-MM-dd'"></span>
			</td>
			<td><span ng-bind="projectshenbao['pifu'+x[0]+'_wenhao']"></span></td>
			<td class="clearfix">			
		         <div style="margin:3px;"  class="pull-left"
				 	  ng-repeat="y in projectshenbao.attachmentDtos" 
				 	  ng-show="y.type=='{{x[0]}}'"
				 		>
					 <a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name"></a>
				 </div>
			</td>
		</tr>
	
    </tbody>
  </table>
  
  
  <table class="table table-left">
    <tbody>
      <tr>
      <td colspan="2" class="color-black"><b>申报材料</b></td>
    </tr>
      <tr ng-repeat="pa in projectprocess.ProjectAttachmentList">
        <td class="color-black" style="width:35%;">{{pa.AttachmentTypeName}}</td>
        <td style="width:65%">{{pa.FileName}}</td>
      </tr>
      
    </tbody>
  </table>
</div>


</ion-content>
</ion-view>
