<ion-modal-view ng-controller="SelectMonthCtrl">
<ion-header-bar class="bar bar-header bar-positive disable-user-behavior">
<h1 class="title">选择月份</h1>
</div>
</ion-header-bar>
<ion-content> 
<div class='padding'>{{year}}年项目进度</div>

<ul class="month">
  <li ng-click="selectMonth(1)"><a >1<span>月</span></a></li>
  <li ng-click="selectMonth(2)"><a >2<span>月</span></a></li>
  <li ng-click="selectMonth(3)"><a >3<span>月</span></a></li>
  <li ng-click="selectMonth(4)"><a >4<span>月</span></a></li>
  <li ng-click="selectMonth(5)"><a >5<span>月</span></a></li>
  <li ng-click="selectMonth(6)"><a >6<span>月</span></a></li>
  <li ng-click="selectMonth(7)"><a >7<span>月</span></a></li>
  <li ng-click="selectMonth(8)"><a >8<span>月</span></a></li>
  <li ng-click="selectMonth(9)"><a >9<span>月</span></a></li>
  <li ng-click="selectMonth(10)"><a >10<span>月</span></a></li>
  <li ng-click="selectMonth(11)"><a >11<span>月</span></a></li>
  <li ng-click="selectMonth(12)"><a >12<span>月</span></a></li>
</ul>
</ion-content>
</ion-modal-view>
