<ion-view view-title="项目信息">
<ion-nav-bar class="bar-positive">
	 
	<ion-nav-buttons side="right"> 
<!--	<button class="button button-clear" ng-hide="isEdit" ng-click="onEdit()">编辑</button>
	<button class="button button-clear" ng-show="isEdit" ng-click="onDone()">完成</button>-->
	</ion-nav-buttons>
</ion-nav-bar>
<ion-content>

<div class="bg-search">
	<div class="search-banner">
		<div class="item item-input search">
			<input type="text" placeholder="搜索" ng-model="querydata.keyword" >
			<button class="ion-search" ng-click="search()"></button>
		</div>
	</div>
</div>

<ul class="hotkey">
	<li on-hold="onEdit()" ng-repeat="snap in snapshots" class="{{closeCircleClass}}">
		<a  href="#/tab/project-list?snapshot={{snap.ID}}">{{snap.SnapshootName}}</a>
		<i class="ion-close-circled" ng-click="delete({{snap.ID}})" ng-hide="snap.IsSystem"></i>
	</li>
</ul>
</ion-content>
</ion-view>



