 
 <ion-view class="bg-main" hide-nav-bar="true" >
 <ion-content>
      <div class="main">
      
         <div class="app-title zoomIn animate" style="animation-duration:1.5s"><img src="img/app-title.png"></div>
          
          
          <!--B:main-nav-->
          <div class="main-nav clearfix">
              <div class="col">
                  <a href="#/tab/planning">
                      <span class="icons icons-calendar-white"></span>
                      <h4>计划编制</h4>
                  </a>    
              </div>
              <div class="col">
                  <a href="#tab/chats">
                      <span class="icons icons-statistics-white"></span>
                      <h4>统计分析</h4>
                  </a>
              </div>
              <div class="col">
                  <a href="#tab/project">
                      <span class="icons icons-box-white"></span>
                      <h4>项目库</h4>
                  </a>    
              </div>
              <div class="col">
                  <a href="#/tab/location">
                      <span class="icons icons-local-white"></span>
                      <h4>地理位置</h4>
                  </a>
              </div>
          </div>
          <!--E:main-nav-->      
          
      </div>
      <!--E:main-->
      <div class="bgsky"></div>
      <!--<span class="btn-settings icons icons-settings-white"></span>-->
    </ion-content>
 </ion-view >