<form id="formApproval" name="form">
	<div class="page-header" style="text-align: center;">
		<h1>项目评审报批单</h1>
	</div>
	<div class="pull-right">
		<p>日期：<span ng-bind="vm.approval.beginDate | date:'yyyy年MM月dd日'"></span></p>
	</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">项目名称：</td>
			<td style="text-align: center;">
				<span ng-bind="vm.approval.projectName"></span>
			</td>
			<td class="formAlignRight" style="width:150px;">项目代码：</td>
			<td style="text-align: center;">
				<span ng-bind="vm.approval.projectNumber"></span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">建设单位：</td>
			<td style="text-align: center;">
				<span ng-bind="vm.approval.constructionUnit"></span>
			</td>
			<td class="formAlignRight">编制部门：</td>
			<td style="text-align: center;">
				<span ng-bind="vm.approval.unitName"></span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">评审类别：</td>
			<td style="width: 333px;text-align: center;">
				<span ng-bind="vm.getBasicDataDesc(vm.approval.approvalType)"></span>
			</td>
		</tr>
		<tr>
			<td colspan="4" style="text-align: center;">
				<p style="font-size: 20px;">送审资料情况</p>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">经办人：</td>
			<td colspan="3">
				<textarea class="form-control" id="processSuggestion_JBR" name="processSuggestion_JBR"  maxlength="500" rows="3"
						ng-model="vm.approval.processSuggestion_JBR" data-val="true" data-val-required="必填" placeholder="注：500字符以内"
						ng-change="vm.checkLength(vm.approval.processSuggestion_JBR,500,'processSuggestion_JBRTips')">
				</textarea>
				<span data-valmsg-for="processSuggestion_JBR" data-valmsg-replace="true" class="required"></span>
				<div>
					<label class="pull-left">上传附件：</label>
					<div class="uploadBox pull-left" data-type="approval">
					 	<input type="file" name="files" kendo-upload k-options="vm.uploadOptions_approval"/>
			        </div>
			        <div style="margin-left:180px;" ng-repeat="x in vm.approval.attachmentDtos">
			 			<a href="/contents/upload/{{x.url}}" target="_blank" ng-bind="x.name"></a>
						<button class="btn btn-xs btn-danger" ng-click="vm.delFile_approval($index)">删除</button>
		 			</div>
				</div>
				<div class="pull-right">
					<p>经办人：<span ng-bind="vm.processRoleName"></span></p>
					<p>日期：<span ng-bind="vm.approval.beginDate  | date:'yyyy-MM-dd'"></span></p>
				</div>
			</td>
		</tr>
	</table>
</form>