<form id="formDraft" name="form" class="clearfix" autofocus="autofocus">
    <div ng-repeat="y in vm.attachmentDtos" ng-if="y.type == 'zhengwenFile'" style="width: 60%;float:left;">
        <!--<a href="/contents/upload/{{y.url}}" target="_blank" ng-bind="y.name" ng-click=""></a>-->
        <iframe style="height: 810px;border:none;"
                ng-src="{{'/management/word/html/online?attachId='+y.id}}" width="100%"
                id="wordOnlineIframe"></iframe>
    </div>
    <div class="form-info" style="margin-left:61%;max-height: 830px;overflow-y: auto">

        <div class="input-group title" style="display:block;">
            <span class="input-group-addon" style="float: left;height: 40px;line-height: 40px;padding: 0;">文件标题</span>
            <div  ng-bind="vm.draft.projectName" title={{vm.draft.projectName}} ></div>
        </div>
        <div class="input-group">
            <span class="input-group-addon">发文字号</span>
            <input type="text" class="form-control input-sm" id="issuedNumber" name="issuedNumber"
                   ng-model="vm.draft.issuedNumber"/>
        </div>
      <!--   <div class="input-group no_edit">
            <span class="input-group-addon">申报单位</span>
            <span class="form-control" ng-bind="vm.draft.unitName"></span>
        </div> -->
        <div class="input-group no_edit">
            <span class="input-group-addon">拟稿单位拟稿人</span>
            <span class="form-control" ng-bind="vm.userNameAndUnitName"></span>
        </div>
       <div class="input-group no_edit">
            <span class="input-group-addon">总投资</span>
            <span class="form-control">{{vm.draft.capitalTotal}}&nbsp;（万元）</span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">公开类型</span>
            <span class="form-control" style="height: auto;">
				<label ng-repeat="x in vm.basicData.openType">
                    <input type="radio" name="openType" value="{{x.id}}" ng-model="vm.draft.openType"
                           ng-checked="x.id == vm.draft.openType" data-val="true" data-val-required="必选"/>
                    <span style="margin-right: 8px;">{{x.description}}</span>
			    </label>
			    <span data-valmsg-for="openType" data-valmsg-replace="true" class="required"></span>
			</span>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><span class="{{vm.getBasicDataComment(vm.draft.fileSet)}}">文件缓急</span></span>
            <select class="form-control input-sm" id="fileSet" name="fileSet" ng-model="vm.draft.fileSet"
                    data-val="true" data-val-required="必选">
                <option value="">-&#45;&#45;请选择-&#45;&#45;</option>
                <option ng-repeat="y in vm.basicData.fileSet" ng-selected="vm.draft.fileSet==y.id" value="{{y.id}}" class="{{vm.getBasicDataComment(y.id)}}">
                    {{y.description}}
                </option>
            </select>
            <span data-valmsg-for="fileSet" data-valmsg-replace="true" class="required"></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">文件种类</span>
            <select class="form-control input-sm" id="documentType" name="documentType" ng-model="vm.draft.documentType"
                    data-val="true" data-val-required="必选">
                <option value="">-&#45;&#45;请选择-&#45;&#45;</option>
                <option ng-repeat="y in vm.basicData.documentType" value="{{y.id}}">{{y.description}}</option>
            </select>
            <span data-valmsg-for="documentType" data-valmsg-replace="true" class="required"></span>
        </div>
         <div class="input-group">
            <span class="input-group-addon">代拟稿</span>
            <span class="form-control">
				<label >
                    <input type="radio" name="drafts" id="drafts" value="true" ng-model="vm.draft.drafts" ng-checked="vm.draft.drafts"/>是&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="drafts" id="drafts" value="false" ng-model="vm.draft.drafts" ng-checked="!vm.draft.drafts"/>否
			    </label>
			    <span data-valmsg-for="openType" data-valmsg-replace="true" class="required"></span>
			</span>
        </div>
       <div class="input-group">
            <span class="input-group-addon">联系人</span>
            <input type="text" class="form-control input-sm" name="mobileName" ng-model="vm.draft.mobileName"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">联系方式</span>
            <textarea type="text" class="form-control input-sm" name="mobilePhone" ng-model="vm.draft.mobilePhone"/>
        </div>
        <div class="input-group">
            <span class="input-group-addon">拟稿时间</span>
            <input class="form-control" type="text" id="draftDate" name="draftDate" onkeydown="return false;"
                   ng-model="vm.draft.draftDate" kendo-date-picker k-format="'yyyy-MM-dd'" k-culture="'zh-CN'"/>
            <span data-valmsg-for="draftDate" data-valmsg-replace="true" class="required"></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">秘密等级</span>
            <select class="form-control input-sm" id="hecretHierarchy" name="hecretHierarchy"
                    ng-model="vm.draft.hecretHierarchy" data-val="true" data-val-required="必选">
                <option value="">-&#45;&#45;请选择-&#45;&#45;</option>
                <option ng-repeat="y in vm.basicData.hecretHierarchy" value="{{y.id}}">{{y.description}}</option>
            </select>
            <span data-valmsg-for="hecretHierarchy" data-valmsg-replace="true" class="required"></span>
        </div>
        <div class="input-group">
            <span class="input-group-addon">发行范围</span>
            <input type="text" class="form-control input-sm" id="scope" name="scope" ng-model="vm.draft.scope"/>
        </div>
        <!-- <div class="input-group">
            <span class="input-group-addon">标题</span>
            <input type="text" class="form-control input-sm" id="title" name="title" ng-model="vm.draft.title"/>
        </div> -->
        <div class="input-group">
            <span class="input-group-addon">备注</span>
            <textarea class="form-control" id="keyWord" name="keyWord" maxlength="255" rows="3"
                      ng-model="vm.draft.keyWord" placeholder="注：255字符以内"></textarea>
        </div>
        
        <div class="input-group" style="display: block;margin-bottom: 10px;">
            <span class="input-group-addon" style="float: left;height: 40px;">正文下载</span>
            <a ng-repeat="y in vm.attachmentDtos"
                 style="display:block;padding: 5px;border:1px solid #ddd;height: 40px;margin-left:125px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                 ng-if="y.type == 'zhengwenFile'" href="/management/word/downloadCommon/{{y.url}}"
                 ng-bind="y.name"></a>
        </div>
        <div class="input-group clearfix " style="display: block;margin-bottom: 10px;">
        	<span class="input-group-addon" style="float: left;height: 30px;">其他附件</span>
            <div class="uploadBox pull-left" data-type="fawemFile">
                <input type="file" name="files" kendo-upload k-options="vm.uploadOptions_shenpi"/>
            </div>
        </div>
        <div style="margin:3px;" ng-repeat="y in vm.attachmentDtos" ng-if="y.type == 'fawemFile'">
            <a href="/contents/upload/{{y.url}}" ng-bind="y.name" target="_blank" style="font-size: 18px;"></a>
            <button class="btn btn-xs btn-danger" ng-click="vm.delFile_shenpi($index)">删除</button>
        </div>
        </div>
</form>