<div class="bg-info text-info" style="padding: 10px;">续建信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">年度建设内容：<span class="required">(*)</span></td>
		<td>
			<textarea rows="3" cols="20" maxlength="500" style="height:121px;width: 99%;" id="yearConstructionContent_xj" name="yearConstructionContent_xj" ng-model="vm.model.yearConstructionContent"
				placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" data-val="true" data-val-required="必填" ng-change="vm.checkLength(vm.model.yearConstructionContent,500,'yearConstructionContent_xjTips')"></textarea>
			<span data-valmsg-for="yearConstructionContent_xj" data-valmsg-replace="true" class="required"></span>
			<div class="tipfont">您还可以输入<span id="yearConstructionContent_xjTips"><font size="5">500</font></span>个字符!</div>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">上年度项目形象进度：<span class="required">(*)</span></td>
		<td>
			<textarea rows="3" cols="20" maxlength="500" style="height:121px;width: 99%;" id="lastYearImageSchedule" name="lastYearImageSchedule" ng-model="vm.model.lastYearImageSchedule"
				placeholder="请简要概述上年度项目形象进度：备注（500字符以内）" data-val="true" data-val-required="必填" ng-change="vm.checkLength(vm.model.lastYearImageSchedule,500,'lastYearImageScheduleTips')"></textarea>
			<span data-valmsg-for="lastYearImageSchedule" data-valmsg-replace="true" class="required"></span>
			<div class="tipfont">您还可以输入<span id="lastYearImageScheduleTips"><font size="5">500</font></span>个字符!</div>
		</td>
	</tr>
</table>
