<div class="bg-info text-info" style="padding: 10px;">年度计划信息</div>
<table class="table table-bordered table-striped ">
<tr>
		<td class="formAlignRight" style="width:150px;">计划年度：<span class="required">(*)</span></td>
		<td style="width:250px;">
			<input class="Wdate form-control input-sm" style="width:180px;" type="text" id="d15" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy'})"/>
		</td>
		<td class="formAlignRight" style="width:150px;">申请年度投资：<span class="required">(*)</span></td>
		<td >
			<input type="text" style="width:100px" class="form-control input-sm" id="projectInvestSum" name="projectInvestSum" ng-model="vm.model.projectInvestSum" data-val="true" data-val-required="必填"/> (万元)
			<span data-valmsg-for="projectInvestSum" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目总投资：<span class="required">(*)</span></td>
		<td >
			<input type="text" style="width:100px" class="form-control input-sm" id="projectInvestSum" name="projectInvestSum" ng-model="vm.model.projectInvestSum" data-val="true" data-val-required="必填"/> (万元)
			<span data-valmsg-for="projectInvestSum" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight">累计投资：<span class="required">(*)</span></td>
		<td >
			<input type="text" style="width:100px" class="form-control input-sm" id="projectInvestSum" name="projectInvestSum" ng-model="vm.model.projectInvestSum" data-val="true" data-val-required="必填"/> (万元)
			<span data-valmsg-for="projectInvestSum" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	
</table>