<div class="bg-info text-info" style="padding: 10px;">年度计划信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:150px;">项目建设性质：<span class="required">(*)</span></td>
		<td colspan="3">
			<select style="height:30px;" id="projectConstrChar" name="projectConstrChar" ng-model="vm.model.projectConstrChar" data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.projectConstrChar" value="{{x.id}}">{{x.description}}</option>
			</select>
			<span data-valmsg-for="projectConstrChar" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目总投资：<span class="required">(*)</span></td>
		<td>
			<span id="projectInvestSum" ng-bind="vm.model.projectInvestSum | number:4"></span>&nbsp;(万元)			
		</td>
		<td class="formAlignRight">累计投资：<span class="required">(*)</span></td>
		<td>
			<input type="text" style="width:100px" class="form-control input-sm" id="projectInvestAccuSum" name="projectInvestAccuSum" ng-model="vm.model.projectInvestAccuSum" data-val="true" data-val-required="必填"/>&nbsp;(万元)
			<span data-valmsg-for="projectInvestAccuSum" data-valmsg-replace="true" class="required"></span>			
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">计划年度：<span class="required">(*)</span></td>
		<td style="width:250px;">
			<input class="Wdate form-control input-sm" style="width:180px;" type="text" id="planYear" name="planYear"
			 onFocus="WdatePicker({dateFmt:'yyyy'})" onChange="" ng-model="vm.model.planYear" data-val="true" data-val-required="必填"/>
			<span data-valmsg-for="planYear" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight" style="width:150px;">申请年度投资：<span class="required">(*)</span></td>
		<td>
			<input type="text" style="width:100px" class="form-control input-sm" id="applyYearInvest" name="applyYearInvest" ng-model="vm.model.applyYearInvest" data-val="true" data-val-required="必填"/>&nbsp;(万元)
			<span data-valmsg-for="applyYearInvest" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">本年度建设任务：<span class="required">(*)</span></td>
		<td colspan="3">
			<textarea rows="3" cols="20" maxlength="500" style="height:121px;width: 99%;" id="yearConstructionTask" name="yearConstructionTask" ng-model="vm.model.yearConstructionTask" 
				placeholder="请简要概述年度计划建设的任务：备注（500字符以内）" data-val="true" data-val-required="必填" ng-change="vm.checkLength(vm.model.yearConstructionTask,500,'yearConstructionTaskTips')"></textarea>
			<span data-valmsg-for="yearConstructionTask" data-valmsg-replace="true" class="required"></span>
			<div class="tipfont">您还可以输入<span id="yearConstructionTaskTips"><font size="5">500</font></span>个字符!</div>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">年度建设内容：<span class="required">(*)</span></td>
		<td colspan="3">
			<textarea rows="3" cols="20" maxlength="500" style="height:121px;width: 99%;" id="yearConstructionContent" name="yearConstructionContent" ng-model="vm.model.yearConstructionContent"
				placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" data-val="true" data-val-required="必填" ng-change="vm.checkLength(vm.model.yearConstructionContent,500,'yearConstructionContentTips')"></textarea>
			<span data-valmsg-for="yearConstructionContent" data-valmsg-replace="true" class="required"></span>
			<div class="tipfont">您还可以输入<span id="yearConstructionContentTips"><font size="5">500</font></span>个字符!</div>
		</td>
	</tr>
</table>
