<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
    	<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
	  	<li><a href="#/">首页</a></li>
      	<li><a href="#/catalog/policyCatalog">政策目录管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
   <!--  <div>
    	<table>
    		<tr>
    			<td>
    				<button type="button" style="margin-right:20px;margin-bottom:10px;" ng-show="vm.projectIndustryButton"
    				ng-click="vm.showEncourge()" class="btn btn-success btn-sm pull-right">鼓励类</button>
    			</td>
    			<td>
    				<button type="button" style="margin-right:20px;margin-bottom:10px;" ng-hide="vm.projectTypeButton"
    				ng-click="vm.showAllow()" class="btn btn-success btn-sm pull-right">允许类</button>
    			</td>
    			<td>
    				<button type="button" style="margin-right:20px;margin-bottom:10px;" ng-hide="vm.constructionTypeButton"
    				ng-click="vm.showLimit()" class="btn btn-success btn-sm pull-right">限制类</button>
    			</td>
    		</tr>
    	</table>
    </div> -->
    
   
    <div class="toolbar">
		<a class="btn btn-sm btn-primary" href="#/catalog/policyCatalogEdit"><span class="glyphicon glyphicon-plus"></span>新增类型</a> 
		<button class="btn btn-sm btn-danger" ng-click="vm.deleteFirstPolicyCatalogs()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-remove"></span>批量删除</button>
    </div>
    <script type="text/template" id="columnBtns">
		<button class="btn btn-xs btn-danger" ng-click="vm.deleteFirstPolicyCatalog('{0}')"><span class="glyphicon glyphicon-remove"></span>删除</button>
		<a class="btn btn-xs btn-primary" href="#/catalog/policyCatalogSecondList/{0}"><span class="glyphicon glyphicon-pencil"></span>编制</a>
		<a class="btn btn-xs btn-success" href="#/catalog/policyCatalogEdit/{0}/"><span class="glyphicon glyphicon-pencil"></span>修改</a>
	</script>
	
    <div ng-hide="vm.projectIndustry" 	class="grid" kendo-grid="grid" k-options="vm.policyCatalogGrid"></div>
        
</div>



