<style>
.div_parent{
 	width:100%;
    height:700px;
	vertical-align: middle;
 	position:relative;
}
.div_child {
	width:600px;
	height:400px;
	margin: auto;  
	position: absolute;  
	top: 0; left: 0; bottom: 0; right: 0; 
	border: 1px solid #b59898;
}
.div_child_custom{
	width:700px;
	height:580px;
	margin: auto;  
	position: absolute;  
	top: 0; left: 0; bottom: 0; right: 0; 
	border: 1px solid #b59898;
}
.div_tiaojian{
    display: inline;
    border: 1px dashed;
    margin-bottom: 10px;
}
.lable_tiaojian{
	padding-left: 0;
	margin-left: 20px;
}
</style>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		<li><a href="#/">首页</a></li>
		<li>决策辅助系统</li>
		<li><a href="javascript::" ui-sref="statisticalAnalysis">统计分析主页</a></li>
		<li class="active">{{vm.title}}</li>	 
	</ol>
	
	<div class="div_parent">
		<!-- 审批类固定类 -->
		<div class="div_child" ng-if="vm.isApprovalFixed">
			<form class="form-horizontal" role="form" style="margin-top: 100px;">
				<div class="form-group"> 
					<label class="col-md-3 control-label">筛选条件：</label>
					<div class="col-md-9">
						<div style="display: flex;">
							<span style="padding: 5px 10px 0 0;">批复时间时间</span>
							<input type="number" class="Wdate form-control input-sm" style="width:180px;" ng-model="vm.pifuDate"
								onClick="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy',onpicked: function(){$(this).trigger('change')}})" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">导出项：</label>
					<div class="col-md-9">
						<div style="margin-bottom: 10px;">
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForApproval?classDesc=industry&approvalYear={{vm.pifuDate}}">按项目行业分类</a>
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForApproval?classDesc=unit&approvalYear={{vm.pifuDate}}">按申报单位分类</a>
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForApproval?classDesc=approval&approvalYear={{vm.pifuDate}}">按审批阶段分类</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- 审批类自定义条件 -->
		<div class="div_child_custom" ng-if="vm.isApprovalCustom">
			<form class="form-horizontal" role="form" style="margin-top: 10px;" ng-submit="vm.exportExcelForApprovalByCustom()">
				<div class="form-group">
					<label class="col-md-2 control-label lable_tiaojian">批复时间范围：</label>
					<div class="col-md-9" style="margin-bottom: 10px;">
						<input type="number" class="Wdate form-control input-sm" style="width:180px;" ng-model="vm.pifuDateBegin"
								onClick="WdatePicker({isShowClear:false,readOnly:false,dateFmt:'yyyy',onpicked: function(){$(this).trigger('change')}})" />
						<span>~</span>
						<input type="number" class="Wdate form-control input-sm" style="width:180px;" min={{vm.pifuDateBegin}} ng-model="vm.pifuDateEnd"
								onClick="WdatePicker({isShowClear:false,readOnly:false,dateFmt:'yyyy',onpicked: function(){$(this).trigger('change')}})" />
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">行业分类：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.projectIndustry_ZF | orderBy:'itemOrder'">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectIdustry(x.id)"/>{{x.description}}&nbsp;&nbsp;
						</label>
					</div>
							
					<label class="col-md-2 control-label lable_tiaojian">审批阶段：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.projectShenBaoStage | orderBy:'itemOrder'" ng-show="vm.basicData.approvalStage.indexOf(x.id)>-1">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectStage(x.id)"/>{{x.description}}&nbsp;&nbsp;
						</label>
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">申报单位：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.userUnit">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectUnit(x.id)"/>{{x.unitName}}&nbsp;&nbsp;
						</label>
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">总投资范围：</label>
					<div class="col-md-9" style="margin-bottom: 10px;">
						<input type="number" step="any" class="form-control" style="width:200px;" ng-model="vm.projectInvestSumBegin"/>
						<span>~</span>
						<input type="number" step="any" class="form-control" style="width:200px;" min={{vm.projectInvestSumBegin}} ng-model="vm.projectInvestSumEnd"/>
						<span>（万元）</span>
					</div>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-success btn-sm">导出</button>
				</div>
			</form>	
		</div>
		<!-- 计划类固定类 -->
		<div class="div_child" ng-if="vm.isPlanFixed">
			<form class="form-horizontal" role="form" style="margin-top: 100px;">
				<div class="form-group"> 
					<label class="col-md-3 control-label">筛选条件：</label>
					<div class="col-md-9">
						<div style="display: flex;">
							<span style="padding: 5px 10px 0 0;">计划下达时间</span>
							<input type="number" class="Wdate form-control input-sm" style="width:180px;" ng-model="vm.pifuDate"
								onClick="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy',onpicked: function(){$(this).trigger('change')}})" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">导出项：</label>
					<div class="col-md-9">
						<div style="margin-bottom: 10px;">
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForPlan?classDesc=industry&planYear={{vm.pifuDate}}">按项目行业分类</a>
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForPlan?classDesc=unit&planYear={{vm.pifuDate}}">按项目建设单位分类</a>
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForPlan?classDesc=plan&planYear={{vm.pifuDate}}">按计划类型分类</a>
						</div>
					</div>
				</div>
			</form>
		</div>
		<!-- 计划类自定义条件类 -->
		<div class="div_child_custom" ng-if="vm.isPlanCustom">
			<form class="form-horizontal" role="form" style="margin-top: 10px;" ng-submit="vm.exportExcelForPlanByCustom()">
				<div class="form-group">
					<label class="col-md-3 control-label lable_tiaojian">计划下达时间范围：</label>
					<div class="col-md-8" style="margin-bottom: 10px;">
						<input type="number" class="Wdate form-control input-sm" style="width:180px;" ng-model="vm.planYearBegin"
								onClick="WdatePicker({isShowClear:false,readOnly:false,dateFmt:'yyyy',onpicked: function(){$(this).trigger('change')}})" />
						<span>~</span>
						<input type="number" min={{vm.planYearBegin}} class="Wdate form-control input-sm" style="width:180px;" ng-model="vm.planYearEnd"
								onClick="WdatePicker({isShowClear:false,readOnly:false,dateFmt:'yyyy',onpicked: function(){$(this).trigger('change')}})" />
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">行业分类：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.projectIndustry_ZF | orderBy:'itemOrder'">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectIdustry(x.id)"/>{{x.description}}&nbsp;&nbsp;
						</label>
					</div>
							
					<label class="col-md-2 control-label lable_tiaojian">项目阶段：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.projectStage">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectStage(x.id)"/>{{x.description}}&nbsp;&nbsp;
						</label>
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">申报单位：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.userUnit">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectUnit(x.id)"/>{{x.unitName}}&nbsp;&nbsp;
						</label>
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">总投资范围：</label>
					<div class="col-md-9" style="margin-bottom: 10px;">
						<input type="number" step="any" class="form-control" style="width:200px;" ng-model="vm.projectInvestSumBegin"/>
						<span>~</span>
						<input type="number" step="any" class="form-control" style="width:200px;" min={{vm.projectInvestSumBegin}} ng-model="vm.projectInvestSumEnd"/>
						<span>（万元）</span>
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">下达资金范围：</label>
					<div class="col-md-9" style="margin-bottom: 10px;">
						<input type="number" step="any" class="form-control" style="width:200px;" ng-model="vm.projectApPlanReachSumBegin"/>
						<span>~</span>
						<input type="number" step="any" class="form-control" style="width:200px;" min={{vm.projectApPlanReachSumBegin}} ng-model="vm.projectApPlanReachSumEnd"/>
						<span>（万元）</span>
					</div>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-success btn-sm" style="margin-top: -30px;">导出</button>
				</div>
			</form>	
		</div>
		<!-- 项目总库固定类 -->
		<div class="div_child" ng-if="vm.isProjectFixed">
			<form class="form-horizontal" role="form" style="margin-top: 100px;">
				<div class="form-group"> 
					<label class="col-md-3 control-label">筛选条件：</label>
					<div class="col-md-5">
						<select class="form-control" ng-model="vm.isIncludLibrary">
							<option value="true" ng-selected="vm.isIncludLibrary == true">已纳入项目库</option>
							<option value="false" ng-selected="vm.isIncludLibrary == false">未纳入项目库</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-md-3 control-label">导出项：</label>
					<div class="col-md-9">
						<div style="margin-bottom: 10px;">
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForProject?classDesc=unit&isIncludLibrary={{vm.isIncludLibrary}}">按项目单位分类</a>
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForProject?classDesc=category&isIncludLibrary={{vm.isIncludLibrary}}">按项目类别分类</a>
						</div>
						<div>
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForProject?classDesc=industry&isIncludLibrary={{vm.isIncludLibrary}}">按项目行业分类</a>
							<a class="btn btn-success btn-sm" href="/management/auxDeci/statisticalAnalysis/exportExcelForProject?classDesc=stage&isIncludLibrary={{vm.isIncludLibrary}}">按项目阶段分类</a>
						</div>
					</div>
				</div>
			</form>	
		</div>
		<!-- 项目总库自定义类 -->
		<div class="div_child_custom" ng-if="vm.isProjectCustom">
			<form class="form-horizontal" role="form" style="margin-top: 10px;" ng-submit="vm.exportExcelForProjectByCustom()">
				<div class="form-group"> 
					<label class="col-md-2 control-label lable_tiaojian">行业分类：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.projectIndustry_ZF | orderBy:'itemOrder'">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectIdustry(x.id)"/>{{x.description}}&nbsp;&nbsp;
						</label>
					</div>
							
					<label class="col-md-2 control-label lable_tiaojian">项目阶段：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.projectStage">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectStage(x.id)"/>{{x.description}}&nbsp;&nbsp;
						</label>
					</div>
							
					<label class="col-md-2 control-label lable_tiaojian">项目类别：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.projectCategory">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectCategory(x.id)"/>{{x.description}}&nbsp;&nbsp;
						</label>
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">申报单位：</label>
					<div class="col-md-9 div_tiaojian">
						<label class="control-label" ng-repeat="x in vm.basicData.userUnit">
							<input type="checkbox" value="{{x.id}}" ng-click="vm.selectProjectUnit(x.id)"/>{{x.unitName}}&nbsp;&nbsp;
						</label>
					</div>
					
					<label class="col-md-2 control-label lable_tiaojian">总投资范围：</label>
					<div class="col-md-9" style="margin-bottom: 10px;">
						<input type="number" step="any" class="form-control" style="width:200px;" ng-model="vm.projectInvestSumBegin"/>
						<span>~</span>
						<input type="number" step="any" class="form-control" style="width:200px;" min="{{vm.projectInvestSumBegin}}" ng-model="vm.projectInvestSumEnd"/>
						<span>（万元）</span>
					</div>
				</div>
				<div class="form-group text-center">
					<button type="submit" class="btn btn-success btn-sm">导出</button>
				</div>
			</form>	
		</div>
	</div>
</div>

	