<div class="bg-info text-info" style="padding: 10px; ">项目责任单位信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:160px;">责任单位名称：<span class="required">(*)</span></td>
		<td colspan="3">
			<span ng-bind="vm.getUnitName(vm.model.shenBaoInfo.unitName)"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">责任单位联系人：<span class="required">(*)</span></td>
		<td style="width:35%">
			<input type="text" class="form-control input-sm" id="repUnitRepName" name="repUnitRepName" ng-model="vm.model.shenBaoInfo.repUnitRepName" data-val="true" data-val-required="必填"/>
			<span data-valmsg-for="repUnitRepName" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight" style="width:160px;">责任单位联系电话：<span class="required">(*)</span></td>
		<td>
			<input type="text" class="form-control input-sm" style="width:200px;" id="repUnitRepMobile" name="repUnitRepMobile" ng-model="vm.model.shenBaoInfo.repUnitRepMobile"
				data-val="true" data-val-required="必填" placeholder="填写手机号或固话"
				data-val-regex="号码不合理！" data-val-regex-pattern="^((0\d{2,3}-\d{7,8})|(\d{7,8})|(1[3|4|5|7|8][0-9]\d{4,8}))$"/>
			<span data-valmsg-for="repUnitRepMobile" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">项目基本信息</div>
<table class="table table-bordered table-striped ">
	<tr>
		<td class="formAlignRight" style="width:160px;">项目名称：<span class="required">(*)</span></td>
		<td style="width:35%">
			<input type="text" class="form-control input-sm" id="projectName" name="projectName" ng-model="vm.model.shenBaoInfo.projectName" data-val="true" data-val-required="必填"/>
			<span data-valmsg-for="projectName" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight" style="width:160px;">项目阶段：<span class="required">(*)</span></td>
		<td>
			<select id="projectStage" name="projectStage" style="height:30px;" ng-model="vm.model.shenBaoInfo.projectStage" data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="stage in vm.basicData.projectStage" value="{{stage.id}}">{{stage.description}}</option>
			</select>
			<span data-valmsg-for="projectStage" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">企业名称：<span class="required">(*)</span></td>
		<td>
			<input type="text" class="form-control input-sm" id="companyName" name="companyName" ng-model="vm.model.shenBaoInfo.companyName" data-val="true" data-val-required="必选"/>
			<span data-valmsg-for="companyName" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight">核准/备案批准文号：</td>
		<td>
			<input type="text" placeholder="格式：xxx〔xx〕xx号" style="width:200px" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.approval_pzwh"/>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目联系人：<span class="required">(*)</span></td>
		<td>
			<input type="text" class="form-control input-sm" id="projectRepName" name="projectRepName" ng-model="vm.model.shenBaoInfo.projectRepName"
				data-val="true" data-val-required="必填"/>
			<span data-valmsg-for="projectRepName" data-valmsg-replace="true" class="required"></span>
		</td>
		<td class="formAlignRight">项目联系人电话：<span class="required">(*)</span></td>
		<td>
			<input type="text" class="form-control input-sm" style="width:200px;" id="projectRepMobile" name="projectRepMobile" ng-model="vm.model.shenBaoInfo.projectRepMobile"
				data-val="true" data-val-required="必填" placeholder="填写手机号或固话"
				data-val-regex="号码不合理！" data-val-regex-pattern="^((0\d{2,3}-\d{7,8})|(\d{7,8})|(1[3|4|5|7|8][0-9]\d{4,8}))$"/>
			<span data-valmsg-for="projectRepMobile" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目行业归口：<span class="required">(*)</span></td>
		<td>
			<select id="projectIndustry" name="projectIndustry" style="height:30px;" ng-model="vm.search.projectIndustryParent"  ng-change="vm.projectIndustryChange()"
			 data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.projectIndustry | orderBy:'itemOrder'" value="{{x.id}}" ng-bind="x.description"></option>
			</select>
			<span data-valmsg-for="projectIndustry" data-valmsg-replace="true" class="required"></span>
			
			<select id="industry" name="industry"  style="height:30px;" ng-model="vm.model.shenBaoInfo.projectIndustry"  ng-show="vm.basicData.projectIndustryChildren.length>1" data-val="true" data-val-required="必选">
				<option value="">---请选择---</option>	
				<option ng-repeat="x in vm.basicData.projectIndustryChildren | orderBy:'itemOrder'" ng-selected="vm.model.shenBaoInfo.projectIndustry==x.id" value="{{x.id}}" ng-bind="x.description"></option>
			</select>
			<span data-valmsg-for="industry" data-valmsg-replace="true" class="required"></span>	
		</td>
		
		<td class="formAlignRight">项目类型：</td>
		<td colspan="3">
			<label ng-repeat="x in vm.basicData.projectType" ng-hide="x.description == '海绵项目' || x.description == '治水项目'">
				<input type="checkbox" name="projectType" ng-checked="vm.model.shenBaoInfo.projectType.indexOf(x.id) != -1" ng-click="vm.updateSelection(x.id)"
				 />{{x.description}}&nbsp;&nbsp;
			</label>					
		</td>
			
	</tr>
	
	<tr>
		<td class="formAlignRight">项目开工日期：</td>
		<td >
			<input type="text" id="beginDate" name="beginDate" placeholder="格式：yyyy-MM-dd"
			 ng-model="vm.model.shenBaoInfo.beginDate" kendo-date-picker k-format="'yyyy-MM-dd'" k-culture="'zh-CN'"/>		 						
		</td>
		<td class="formAlignRight">项目竣工日期：</td>
		<td >
			<input type="text" id="endDate" name="endDate" placeholder="格式：yyyy-MM-dd"
			 ng-model="vm.model.shenBaoInfo.endDate" kendo-date-picker k-format="'yyyy-MM-dd'" k-culture="'zh-CN'"/>									
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">项目建设地址：<span class="required">(*)</span></td>	
		<td colspan="3">
		    <select class="form-select pull-left" style="margin-right:10px;height:30px;">
		    	<option>光明新区</option>
		    </select>
		    <select class="form-select pull-left" style="margin-right:10px;height:30px;" id="divisionId" name="divisionId" ng-model="vm.model.shenBaoInfo.divisionId" data-val="true" data-val-required="必选">
		    	<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.area_Street" value="{{x.id}}">{{x.description}}</option>
			</select>
			<span data-valmsg-for="divisionId" data-valmsg-replace="true" class="required"></span>
			 <input type="text" class="form-control input-sm pull-left" style="width:500px;" id="projectAddress" name="projectAddress" ng-model="vm.model.shenBaoInfo.projectAddress" data-val="true" data-val-required="必填"/>
			 <span data-valmsg-for="projectAddress" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目投资情况：<span class="required">(*)</span></td>
		<td colspan="3">
			<table class="table table-bordered table-striped table-hover">
				<tr class="text-primary text-center">
					<td colspan="4">项目总投资：<span ng-bind="vm.investTotal() | number:4"></span>&nbsp;(万元)</td>
				</tr>
				<tr class="text-primary text-center">
					<td>地价</td>
					<td>设备投资</td>
					<td>建安投资</td>
					<td>流动资金及其他</td>
				</tr>
				<tr class="text-center">
					<td>
						<input type="number" step="any" style="width:150px" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.landPrice"/>
					</td>
					<td>
						<input type="number" step="any" style="width:150px" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.equipmentInvestment"/>
					</td>
					<td>
						<input type="number" step="any" style="width:150px" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.buidSafeInvestment"/>
					</td>
					<td>
						<input type="number" step="any" style="width:150px" class="form-control input-sm" ng-model="vm.model.shenBaoInfo.capitalOther"/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	
	
	<tr>
		<td class="formAlignRight">建设规模：<span class="required">(*)</span></td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" id="projectGuiMo" name="projectGuiMo" placeholder="注：房建工程请填写建筑栋数、建筑面积或改造面积；学校、医院还需填写学位或床位。道路请填写道路等级、车道数、长度。管网请填写长度及处理能力。依次类推（500字符以内）" ng-model="vm.model.shenBaoInfo.projectGuiMo" ng-change="vm.checkLength(vm.model.shenBaoInfo.projectGuiMo,500,'projectGuiMo_SHTips')" data-val="true" data-val-required="必填"></textarea>													
			<div class="tipfont">您还可以输入<span id="projectGuiMo_SHTips"><font size="5">500</font></span>个字符!</div>
			<span data-valmsg-for="projectGuiMo" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">项目建设用地情况：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" id="constructionLand" name="constructionLand" placeholder="注：项目选址、项目用地面积及用地性质等（500字符以内）" ng-model="vm.model.shenBaoInfo.constructionLand" ng-change="vm.checkLength(vm.model.shenBaoInfo.constructionLand,500,'constructionLandTips')"></textarea>													
			<div class="tipfont">您还可以输入<span id="constructionLandTips"><font size="5">500</font></span>个字符!</div>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">投入使用后的效益：<span class="required">(*)</span></td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" id="useBenefits" name="useBenefits" placeholder="注：请简单说明项目投入使用后的效益（500字符以内）" ng-model="vm.model.shenBaoInfo.useBenefits" ng-change="vm.checkLength(vm.model.shenBaoInfo.useBenefits,500,'useBenefitsTips')" data-val="true" data-val-required="必填"></textarea>													
			<div class="tipfont">您还可以输入<span id="useBenefitsTips"><font size="5">500</font></span>个字符!</div>
			<span data-valmsg-for="useBenefits" data-valmsg-replace="true" class="required"></span>
		</td>
	</tr>
	
	<tr>
		<td class="formAlignRight">备注：</td>
		<td colspan="3" >
			<textarea class="form-control" maxlength="500" style="height:121px;width: 99%;" placeholder="注：备注（500字符以内）" ng-model="vm.model.shenBaoInfo.remark" ng-change="vm.checkLength(vm.model.shenBaoInfo.remark,500,'remark_SHTips')"></textarea>												
			<div class="tipfont">您还可以输入<span id="remark_SHTips"><font size="5">500</font></span>个字符!</div>
		</td>
	</tr>
</table>