<div class="bg-info text-info" style="padding: 10px;">单位基本信息sasd</div>
<table style="width:100%;" class="table  table-bordered table-striped">
	<tr>
		<td width="150px;" class="formAlignRight">单位名称：<span class="required ">(*)</span></td>
		<td colspan="4">
			<input type="text" autocomplete="off" class="form-control input-sm" id="unitName" name="unitName" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitName" data-val="true" data-val-required="必填" required/>
			<!--<span data-valmsg-for="unitName" data-valmsg-replace="true" class="errors"></span>-->
			<span class="required" ng-show="form.unitName.$dirty && form.unitName.$invalid">必填</span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">组织机构代码：<span class="required">(*)</span></td>
		<td colspan="2">
			<!--<input class="form-control input-sm" type="text" maxlength="50" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.orgCode"  />-->
			<input type="text" autocomplete="off" class="form-control input-sm" id="orgCode" maxlength="50" name="orgCode"
				   ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.orgCode" data-val="true" data-val-required="必填"
				    data-val-regex="组织机构代码不合理！" placeholder="请填写非中文代码"
				   ng-pattern="/^[^\u4e00-\u9fa5]+$/" required/>
			<!--<span data-valmsg-for="orgCode" data-valmsg-replace="true" class="required"></span>-->
			<span class="required" ng-show="form.orgCode.$dirty && form.orgCode.$invalid">组织机构代码不合理</span>
		</td>
		<td width="100" class="formAlignRight">电话号码：<span class="required">(*)</span></td>
		<td>
			<!--  <input type="text" class="form-control input-sm" id="unitTel" name="unitTel" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitTel"
              data-val="true" data-val-required="必填"/>
              <span data-valmsg-for="unitTel" data-valmsg-replace="true" class="errors"></span>-->
			<input type="text" autocomplete="off" class="form-control input-sm" id="unitTel" name="unitTel"
				   ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitTel" placeholder="填写手机号或固话"
				   data-val="true" data-val-required="必填" maxlength="13"
				   data-val-regex="电话号码不合理！"
				   ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/" required/>
			<!--<span data-valmsg-for="unitTel" data-valmsg-replace="true" class="required"></span>-->
			<span class="required" ng-show="form.unitTel.$dirty && form.unitTel.$invalid">电话号码不合理</span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">电子邮箱：</td>
		<td colspan="2">
			<input type="email" autocomplete="off" class="form-control input-sm" id="unitEmail" name="unitEmail" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitEmail" />
			<span data-valmsg-for="unitEmail" data-valmsg-replace="true" class="errors"></span>
			<!--<span ng-show="myForm.unitEmail.$error.email" class="errors">请输入合法邮箱地址</span>-->
			<span class="required" ng-show="form.unitEmail.$dirty && form.unitEmail.$invalid">请输入合法邮箱地址</span>
		<td class="formAlignRight">传真号码：</td>
		<td>
			<!-- <input type="text" class="form-control input-sm" id="unitFax" name="unitFax" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitFax"/>-->
			<input type="text" autocomplete="off" class="form-control input-sm" id="unitFax" maxlength="50"
				   name="unitFax" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitFax"
				   data-val="true"
				   data-val-regex="传真号码不合理！"
				   ng-pattern="/^[+]{0,1}(\d){1,3}[ ]?([-]?((\d)|[ ]){1,12})+$/"/>
			<!--<span data-valmsg-for="unitFax" data-valmsg-replace="true" class="required"></span>-->
			<span class="required" ng-show="form.unitFax.$dirty && form.unitFax.$invalid">传真号码不合理</span>
	</tr>
</table>

<div class="bg-info text-info" style="padding: 10px;">申报信息</div>
<table width="100%" class="table  table-bordered table-striped">
	<tr>
		<td width="150px;" class="formAlignRight">单位性质：<span class="required">(*)</span></td>
		<td colspan="4">
			<select id="unitProperty" name="unitProperty" class="form-select" style="height:30px;" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitProperty" data-val="true" data-val-required="必选" required>
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.unitProperty" value="{{x.id}}">{{x.description}}</option>
			</select>
			<!--<span data-valmsg-for="unitProperty" data-valmsg-replace="true" class="errors"></span>-->
			<span class="required" ng-show="form.unitProperty.$dirty && form.unitProperty.$invalid">必选</span>
		</td>
	</tr>
	<tr>
		<td class="formAlignRight">单位地址：<span class="required">(*)</span></td>
		<td colspan="4">
			<select class="form-select pull-left" style="margin-right:10px;height:30px;">
				<option>光明区</option>
			</select>
			<select class="form-select pull-left" style="margin-right:10px;height:30px;" id="divisionId" name="divisionId" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.divisionId" data-val="true" data-val-required="必选" required>
				<option value="">---请选择---</option>
				<option ng-repeat="x in vm.basicData.area_Street" value="{{x.id}}">{{x.description}}</option>
			</select>
			<!--<span data-valmsg-for="divisionId" data-valmsg-replace="true" class="errors"></span>-->
			<span class="required" ng-show="form.divisionId.$dirty && form.divisionId.$invalid">必选</span>
			<input type="text" autocomplete="off" class="form-control input-sm pull-left" style="width:500px;" id="unitAddress" name="unitAddress" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitAddress" data-val="true" data-val-required="必填" required/>
			<!--<span data-valmsg-for="unitAddress" data-valmsg-replace="true" class="errors"></span>-->
			<span class="required" ng-show="form.unitAddress.$dirty && form.unitAddress.$invalid">必填</span>
		</td>
	</tr>
	<tr>
		<td rowspan="3" class="formAlignRight">单位负责人：<span class="required">(*)</span></td>
		<td width="100px;">姓名：<span class="required">(*)</span></td>
		<td>
			<input class="form-control input-sm" type="text" autocomplete="off" id="unitResPerson" name="unitResPerson" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.unitResPerson" data-val="true" data-val-required="必填" required/>
			<!--<span data-valmsg-for="unitResPerson" data-valmsg-replace="true" class="errors"></span>-->
			<span class="required" ng-show="form.unitResPerson.$dirty && form.unitResPerson.$invalid">必填</span>
		</td>
		<td width="100px;">电话号码：<span class="required">(*)</span></td>
		<td>
			<!--<input class="form-control input-sm" type="text" id="resPersonTel" name="resPersonTel" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.resPersonTel"
                data-val="true" data-val-required="必填"/>
           <span data-valmsg-for="resPersonTel" data-valmsg-replace="true" class="errors"></span>-->
			<input type="text" autocomplete="off" class="form-control input-sm" id="resPersonTel" name="resPersonTel"
				   ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.resPersonTel"
				   data-val="true" data-val-required="必填" maxlength="13" placeholder="填写手机号或固话"
				   data-val-regex="电话号码不合理！"
				   ng-pattern="/^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/" required/>
			<!--<span data-valmsg-for="resPersonTel" data-valmsg-replace="true" class="required"></span>-->
			<span class="required" ng-show="form.resPersonTel.$dirty && form.resPersonTel.$invalid">必填</span>
		</td>
	</tr>
	<tr>
		<td>手机：<span class="required">(*)</span></td>
		<td>
			<!--<input class="form-control input-sm" type="text" id="resPersonMobile" name="resPersonMobile" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.resPersonMobile"
                data-val="true" data-val-required="必填"/>
           <span data-valmsg-for="resPersonMobile" data-valmsg-replace="true" class="errors"></span>-->

			<input type="text" autocomplete="off" class="form-control input-sm" id="resPersonMobile" name="resPersonMobile"
				   ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.resPersonMobile"
				   data-val="true" data-val-required="必填" maxlength="11" data-val-length-max="11" placeholder="填写手机号"
				   data-val-regex="手机号码不合理！" ng-pattern="/^1[34578]\d{9}$/" required/>
			<!--<span data-valmsg-for="resPersonMobile" data-valmsg-replace="true" class="required"></span>-->
			<span class="required" ng-show="form.resPersonMobile.$dirty && form.resPersonMobile.$invalid">必填</span>
		</td>
		<td>传真号码</td>
		<td>
			<!--<input class="form-control input-sm" type="text" maxlength="50" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.resPersonFax"  />-->
			<input type="text" autocomplete="off" class="form-control input-sm" id="resPersonFax" maxlength="50"
				   name="resPersonFax" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.resPersonFax"
				   data-val="true"
				   data-val-regex="传真号码不合理！"
				   ng-pattern="/^[+]{0,1}(\d){1,3}[ ]?([-]?((\d)|[ ]){1,12})+$/"/>
			<!--<span data-valmsg-for="resPersonFax" data-valmsg-replace="true" class="required"></span>-->
			<span class="required" ng-show="form.resPersonFax.$dirty && form.resPersonFax.$invalid">传真号码不合理</span>
		</td>
	</tr>
	<tr>
		<td>Email</td>
		<td colspan="3">
			<input type="email" autocomplete="off" class="form-control input-sm" id="resPersonEmail" name="resPersonEmail" ng-model="vm.model.shenBaoInfo.shenBaoUnitInfoDto.resPersonEmail" />
			<span data-valmsg-for="resPersonEmail" data-valmsg-replace="true" class="errors" ></span>
			<!--<span ng-show="myForm.resPersonEmail.$error.email" class="errors">请输入合法邮箱地址</span>-->
			<span class="required" ng-show="form.resPersonEmail.$dirty && form.resPersonEmail.$invalid">请输入合法邮箱地址</span>
		</td>
	</tr>
</table>