body{
	background-image:url(images/bg1.jpg);
    background-size: 100% 100%;
    background-attachment:fixed;
}

ul{
	padding:0px;
	margin-bottom:0px;

}
ul li{
	list-style:none;
}
.wrap-1200{
	width:1200px;
	margin:0 auto;
	
}
.wrap-960{
	width:960px;
	margin:0 auto;
	
}
.user_icon{
    background: url(images/user_icon.jpg) no-repeat left bottom;
    width: 29px;
    height: 29px;
    margin-top: 5px;
    border-radius: 20px;
    margin-right: 10px;
}

.logo{
	background:url(images/logo.png) no-repeat;
	width:403px;
	height:101px;
    margin-top: -10px;
}
.contact{
	background:url(images/contact.png) no-repeat;
    width: 417px;
	height:61px;
	
}
.top{
    background: rgba(0, 0, 0, 0.33);
    height: 40px;
}
.menu{
	background:#8fc31f;
}

.menu li{
    float: left;
    list-style: none;
    line-height: 50px;
    width: 191.6px;
    height: 50px;
    text-align: center;
    border-right: 1px solid #acd598;
	
}

.menu a{
   display: block;
    font-size: 18px;
}
.focus{
    background: #004986 !important;
}
.menu a:link{
	color:white;
	text-decoration:none;
	font-size:18px;
	font-weight:bold;
}
.menu a:visited{
	color:white;
	text-decoration:none;
}
.menu a:hover {
    color: #eff8ff;
}
.cs-icon-index{
    padding: 0px 15px;
    background:url(images/menuicon.png) no-repeat ;
}
.process{
	background:url(images/process.jpg) no-repeat;
	width:960px;
	height:40px;
}
.wapper{
    width: 1100px;
    margin: auto;
}
.list-top{
    padding-top: 10px;
    font-size: 14px;
    color: #5c5c5c;
}
.list-content-box{
    min-height: 285px;
    border: 3px solid #eeeeee;
    border-top:none;
}
.list-content-box .bg-info {
    background-color: #eeeeee;
}

.list-content-box>.table-bordered>tbody>.bg-info>th{
    border: 1px solid #eeeeee;
    border-left-color:#fff;
    border-right-color: #fff;
    vertical-align:middle
}
.list-content-box>.table-bordered>tbody>.bg-info>th:first-child{
    border-left-color:#eeeeee;
}
.list-content-box>.table-bordered>tbody>.bg-info>th:last-child{
    border-right-color:#eeeeee;
}
.cs-btn{
    background-color: #8fc31f;
    border-color: #8fc31f;
}
footer{
    background: rgba(0, 0, 0, 0.48);
    position: fixed;
    width: 100%;
    left: 0px;
    bottom: 0px;
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-align: center;
}

/* .bg_pic{
	background:url(images/bgpic.jpg) no-repeat   center bottom;
	margin:0 auto;
	min-height:900px;
} */

/* begin cx */
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align:middle
}
.form-select{
  height:30px;
  border:1px solid #ddd;
}
.text-overflow{  
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 .tab {
        padding:5px;
      }
 .tab  li{
        list-style: none;
        float:left ;
        margin-left:5px;
        line-height: 30px;
      }
      
.td_bottom{
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 0px solid #ddd; 
}
.td_top{
  border-top: 0px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
    line-height: 150%; 
}
.form-text{
  border: #f2f2f2 1px solid;
    border-top-color: #c8c8c8;
    border-right-color: #c8c8c8;
    padding: 0 0px;
    font-size: 12px;
    color: #0E6CAD;
}
.search input{
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
/* end cx */

@media screen and (max-width: 1900px) {
    body {
        background-size:auto;
    }
}
td .btn{
    margin-bottom: 5px;
    min-width: 60px;
    padding: 3px 5px
}