body{
	background:#d8eaf0 url(images/bg1.jpg) repeat-x;
}

ul{
	padding:0px;
	margin-bottom:0px;

}
ul li{
	list-style:none;
}
.wrap-1160{
	width:1160px;
	margin:0 auto;
	
}
.wrap-960{
	width:960px;
	margin:0 auto;
	
}
.user_icon{
	background: url(images/user_icon.jpg) no-repeat left bottom;
	width:29px;
	height:29px;
	
}

.logo{
	background:url(images/logo.jpg) no-repeat;
	width:403px;
	height:101px;
}
.contact{
	background:url(images/contact.jpg) no-repeat;
	width:330px;
	height:101px;
	
}
.menu{
	background:#0b8d39;
}

.menu li{
	float:left;
	margin-left:50px;
	list-style:none;
	line-height:45px;
	
}

.menu a:link{
	color:white;
	text-decoration:none;
	font-size:14px;
	font-weight:bold;
}
.menu a:visited{
	color:white;
	text-decoration:none;
}
.menu a:hover{
	color:yellow;
}
.process{
	background:url(images/process.jpg) no-repeat;
	width:960px;
	height:40px;
}
/* .bg_pic{
	background:url(images/bgpic.jpg) no-repeat   center bottom;
	margin:0 auto;
	min-height:900px;
} */

/* begin cx */
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
    vertical-align:middle
}
.form-select{
  height:30px;
  border:1px solid #ddd;
}
.text-overflow{  
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
 .tab {
        padding:5px;
      }
 .tab  li{
        list-style: none;
        float:left ;
        margin-left:5px;
        line-height: 30px;
      }
      
.td_bottom{
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 0px solid #ddd; 
}
.td_top{
  border-top: 0px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px;
    line-height: 150%; 
}
.form-text{
  border: #f2f2f2 1px solid;
    border-top-color: #c8c8c8;
    border-right-color: #c8c8c8;
    padding: 0 0px;
    font-size: 12px;
    color: #0E6CAD;
}
.search input{
    height: 30px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
/* end cx */