<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/managerCenter">首页</a></li>
	      <li><a class="text-primary" href="javascript:;" ui-sref="planReach">计划下达</a></li>
	      <li class="active">主动下达</li>
	  </ol>
	<div class="toolbar" >
		<a class="btn btn-primary btn-sm" href="javascript:window.history.back(-1)"><span
				class="glyphicon glyphicon-chevron-left"></span>返回</a>
	</div>
	<div class="grid" kendo-grid="grid" k-options="vm.gridOptions_active"></div>


</div>
