<style>
.k-grid tbody tr {
	cursor: move;
}

.disabled {
	cursor: default;
	text-decoration: none;
	pointer-events: none;
}
</style>
<div class="well well-sm" style="background: white;">
	<ol class="breadcrumb">
		<li style="color: #0b8d39; padding-left: 15px;">当前位置：</li>
		<li><a href="#/">首页</a></li>
		<li>打包计划信息列表</li>
		<li class="active">打包计划编制页</li>

		<li><a href="javascript:window.history.back(-1)">返回</a></li>
	</ol>

	<div class="bg-info text-info" style="padding: 10px;">
		<strong>打包计划基本信息</strong>
	</div>
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width: 150px;">名称：</td>
			<td style="width: 300px;" ng-bind="vm.model.name">
			</td>
			<td class="formAlignRight" style="width: 150px;">年度：</td>
			<td ng-bind="vm.model.year"></td>
		</tr>
		<tr>
			<td class="formAlignRight">总指标：</td>
			<td colspan="3" ng-bind="vm.model.totalMoney"></td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width: 150px;">国土指标：</td>
			<td style="width: 300px;" ng-bind="vm.model.gtMoney">
			</td>
			<td class="formAlignRight" style="width: 150px;">公共指标：</td>
			<td ng-bind="vm.model.ggMoney"></td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width: 150px;">本单位国土指标：</td>
			<td style="width: 300px;" ng-bind="vm.model.capitalSCZ_gtzj_TheYear">
			</td>
			<td class="formAlignRight" style="width: 150px;">本单位公共指标：</td>
			<td ng-bind="vm.model.capitalSCZ_ggys_TheYear"></td>
		</tr>
		<tr>
			<td class="formAlignRight">备注：</td>
			<td colspan="3" ng-bind="vm.model.remark"></td>
		</tr>
	</table>
	<div>
		<button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal">
			<span class="glyphicon glyphicon-plus"></span>添加项目
		</button>
		<button class="btn btn-sm btn-danger" ng-click="vm.projectDeletes()">
			<span class="glyphicon glyphicon-trash"></span>&nbsp;批量删除
		</button>
	</div>
	<div class="grid" kendo-grid="grid" k-options="vm.shenBaoInfo_gridOptions_plan"></div>
</div>
<script type="text/template" id="columnBtns_button_2">
	<button class="btn btn-xs btn-success" ng-if="{1}" ng-click="vm.startProcessOne('{0}')" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-pencil"></span>提交</button>
	<button class="btn btn-xs btn-success" ng-click="vm.deleteProcessOne('{0}')"><span class="glyphicon glyphicon-pencil"></span>撤销</button>
</script>
<script type="text/template" id="input_plan">
	<input type="number" step="any" style="width:100px" id="capitalSum1" ng-if="{2}" 
data-val="true" data-val-regex="金额格式有误"  data-val-regex-pattern="^\d+(\.\d+)?$"
ng-model="dataItem.sqPlanReach_ggys" value="{1}" ng-blur="vm.addmoney('{0}',dataItem.sqPlanReach_ggys,dataItem.sqPlanReach_gtzj)"/>
	<span ng-if="!{2}" ng-bind="vm.gg['{0}']"></span>
<span data-valmsg-for="capitalSum1" data-valmsg-replace="true" class="required"></span>
</script>
<script type="text/template" id="input2_plan">
	<input type="number" step="any" style="width:100px" id="capitalSum2" ng-if="{2}" 
data-val="true" data-val-regex="金额格式有误"  data-val-regex-pattern="^\d+(\.\d+)?$"
ng-model="dataItem.sqPlanReach_gtzj" value="{1}" ng-blur="vm.addmoney('{0}',dataItem.sqPlanReach_ggys,dataItem.sqPlanReach_gtzj)"/>
	<span ng-if="!{2}" ng-bind="vm.gt['{0}']"></span>
<span data-valmsg-for="capitalSum2" data-valmsg-replace="true" class="required"></span>
</script>
<!-- ng-blur="vm.addmoney('{0}')" -->
<!--项目申报记录模态框 -->
<div class="modal fade" id="myModal" role="dialog" data-backdrop="static" data-keyboard="true">
	<div class="modal-dialog" style="width: 800px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">项目数据</h4>
			</div>
			<div class="modal-body">
				<div class="projectsGrid" kendo-grid="vm.projectsGrid"
					k-options="vm.gridOptions_shenbaoInfo"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm"
					data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-success btn-sm"
					ng-click="vm.dialogConfirmSubmit_shenBaoInfo_plan()">确认</button>
			</div>
		</div>
	</div>
</div>

<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
