<style>
    .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
        border: 1px solid #ddd;
        vertical-align: middle;
    }

    label {
        font-weight: normal;
    }

    .uploadBox .k-upload-status {
        display: none;
    }

    .uploadBox .k-header {
        background: transparent;
        border: 0px;
    }

    .uploadBox em {
        display: none;
    }

    .uploadBox .k-dropzone {
        padding: 0px;
        margin: 0px;
    }

    .uploadBox .k-upload-files {
        display: none;
    }

    input.input-sm {
        height: 30px;
        margin: 0px;
        padding: 0px;
    }

    textarea.form-control {
        margin: 0px;
        padding: 0px;
    }

    .tab_content {
        padding: 20px;
    }
</style>

<table class="table table-striped table-bordered">
    <tr>
        <td class="formAlignRight" style="width:120px;">标题：<span class="required">(*)</span></td>
        <td>
            <input type="text" class="form-control input-sm" id="applicationName" name="applicationName" ng-model="vm.model.applicationName" data-val="true" data-val-required="必填"/>
            <span data-valmsg-for="applicationName" data-valmsg-replace="true" class="required"></span>
        </td>
        <td class="formAlignRight">申报单位：</td>
        <td ng-bind="vm.userUnit.unitName"></td>
    </tr>
    <tr>
        <td class="formAlignRight">负责人：<span class="required">(*)</span></td>
        <td>
            <input type="text" class="form-control input-sm" id="resPerson" name="resPerson" ng-model="vm.model.resPerson" data-val="true" data-val-required="必填"/>
            <span data-valmsg-for="resPerson" data-valmsg-replace="true" class="required"></span>
        </td>
        <td class="formAlignRight">负责人电话：<span class="required">(*)</span></td>
        <td>
          <!--  <input type="text" class="form-control input-sm" id="resPersonTel" name="resPersonTel" ng-model="vm.model.resPersonTel" data-val="true" data-val-required="必填"/>
            <span data-valmsg-for="resPersonTel" data-valmsg-replace="true" class="required"></span>-->
            <input type="text" class="form-control input-sm" id="resPersonTel" name="resPersonTel"
                   placeholder="填写手机号或固话"
                   ng-model="vm.model.resPersonTel"
                   data-val="true" data-val-required="必填" maxlength="13"
                   data-val-regex="负责人电话不合理！"
                   data-val-regex-pattern="^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$"/>
            <span data-valmsg-for="resPersonTel" data-valmsg-replace="true" class="required"></span>

        </td>
    </tr>
    <tr>
        <td class="formAlignRight">申请时间：<span class="required">(*)</span></td>
        <td>
            <input type="text" class="Wdate form-control input-sm" style="width:180px;" ng-model="vm.model.applicationTime" id="applicationTime" name="applicationTime"
                   onClick="WdatePicker({isShowClear:false,readOnly:false,dateFmt:'yyyy-MM-dd',onpicked: function(){$(this).trigger('change')}})" data-val="true" data-val-required="必填"/>
            <span data-valmsg-for="applicationTime" data-valmsg-replace="true" class="required"></span>
        </td>
        <td class="formAlignRight" style="width:150px;">计划年度：<span class="required">(*)</span></td>
		<td>
			<input class="Wdate form-control input-sm" style="width:200px;" type="text" 
			id="year" name="year" onFocus="WdatePicker({isShowClear:false,readOnly:true,dateFmt:'yyyy'})" onchange=""
			ng-model="vm.model.year" data-val="true" data-val-required="必填" />
			<span data-valmsg-for="year" data-valmsg-replace="true" class="required"></span>
		</td>
    </tr>
    <tr>
        <td>
            <label class="pull-left">申报文件扫描件：</label>
        </td>
        <td colspan="3">
            <div>

                <div class="uploadBox pull-left" data-type="shenbaoSMFile">
                    <input type="file" name="files" kendo-upload
                           k-options="vm.uploadOptions"/>
                </div>
                <div style="margin: 3px;" ng-repeat="y in vm.model.attachmentDtos">
                    <a href="/contents/upload/{{y.url}}" target="_blank"
                       ng-bind="y.name"></a>
                    <button class="btn btn-xs btn-danger"
                            ng-click="vm.delFile($index)">删除
                    </button>
                </div>
            </div>
        </td>
    </tr>
</table>