<style>
.title_font{
	font-family: SimHei;
	font-size:1.3em;
}

._table tr td{
	border: 1px solid black;
	font-family: SimSun;
	text-align: center;
}
.root_div{
	 min-height: 29.7cm;
}
.excel_div_portrait{
	position:relative;
	top:50%
	-webkit-transform:translateY(25%);
	-ms-transform: translateX(25%);
	transform: translateX(25%);
}
.excel_div_transverse{
	position:relative;
	top:50%
	-webkit-transform:translateY(20%);
	-ms-transform: translateX(20%);
	transform: translateX(20%);
}
.table_title,.table_text{
	height:0.69cm;
}
.table_text_tip{
	color:red;
	font-weight: bold;
}
.dataTable .dataTr td{
	font-family: cursive;
}
</style>
<div class="well well-sm" style="background:white;border:0">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/managerCenter">首页</a></li>
	      <li><a class="text-primary" href="javascript:;" ui-sref="planReach">计划下达</a></li>	 
	      <li class="active">打印预览</li>
	  </ol>
	  
	<div class="toolbar">
		<a class="btn btn-success btn-sm" href="javascript:;" ui-sref="planReach"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;返回</a>
		<button type="button" class="btn btn-success btn-sm" ng-click="vm.printBtn()"><span class="glyphicon glyphicon-print"></span>&nbsp;打印</button>
	</div>
	
	<div style="position: relative;">
		<div id="printWindow" style="padding-bottom: 15px;">
			<h3 class="text-center" ng-bind="vm.model.applicationName"></h3>
			<br>
			<table class="_table" style="width:27.7cm;margin:0 auto;">
				<tr style="height:0.87cm;">
					<td colspan="3" style="text-align:left;border: 0;"></td>
					<td style="text-align:right;border: 0;">资金：万   元</td>
				</tr>
				<tr>
					<td colspan="4">
						<table style="margin: 10px;" class="dataTable">
							<tr class="text-center table_title">
								<td style="width:1.49cm;" rowspan="2">序号</td>
								<td style="width:5.00cm" rowspan="2">建设单位</td>
								<td style="width:5.00cm" rowspan="2">项目名称</td>
								<td style="width:4.50cm" rowspan="2">建设规模</td>
								<td style="width:2cm" rowspan="2">项目类别</td>
								<td style="width:2cm" rowspan="2">总投资</td>
								<td colspan="2">本年度安排投资</td>
								<td style="width:3cm" rowspan="2">备注</td>
								<!--<td style="width:3cm" rowspan="2">计划文号</td>-->
							</tr>
							<tr class="text-center table_title">
								<td style="width:2cm;">公共预算</td>
								<td style="width:2cm;">国土资金</td>
							</tr>
							<tr ng-repeat="x in vm.shenbaoList" class="dataTr">
								<td ng-bind="$index+1"></td>
                                <td ng-bind="vm.userUnit.unitName"></td>
                                <td>{{x.projectName}}<br>{{x.countryNumber}}</td>
								<td ng-bind="x.projectGuiMo"></td>
								<td ng-bind="vm.getBasicDataDesc(x.projectCategory)"></td>
								<td ng-bind="x.projectInvestSum"></td>
								<td ng-bind="x.capitalAP_ggys_TheYear"></td>
								<td ng-bind="x.capitalAP_gtzj_TheYear"></td>
								<td ng-bind="x.remark"></td>
								<!--<td ng-bind="x.projectInvestSum"></td>-->
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>	
	