<meta charset="UTF-8">
<div ng-include src="'/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background: white;">
	<ol class="breadcrumb">
		<li><a href="">深圳市龙岗区发展和改革局项目处理表</a></li>
	</ol>
			<form id="form" name="form">
				<div>
				<div class="bg-danger text-danger" style="padding: 10px; margin-bottom: 10px">
			政府投资项目审批 
		</div>
					<table  class="table table-bordered">
						<tr>
							<td width="200px;" class="formAlignRight">项目名称</td>
							<td colspan="3">布吉甘坑垃圾填埋场渗滤液处理站升级改造工程</td>
						</tr>
						<tr>
							<td class="formAlignRight">项目代码</td>
							<td></td>
							<td class="formAlignRight">申报单位</td>
							<td>龙岗区城管局</td>
						</tr>
						<tr>
							<td class="formAlignRight">收文日期</td>
							<td>2016-04-01</td>
							<td class="formAlignRight">收文编号</td>
							<td>A20160831</td>
						</tr>
						<tr>
							<td class="formAlignRight">项目阶段</td>
							<td>项目总概算</td>
							<td class="formAlignRight">行业归口</td>
							<td>市容环境提升</td>
						</tr>
						<tr>
							<td class="formAlignRight">项目地址</td>
							<td>龙岗区布吉街道</td>
							<td class="formAlignRight">投资总额</td>
							<td>1302.646818</td>
						</tr>
						<tr>
							<td class="formAlignRight">项目简介</td>
							<td colspan="3">布吉甘坑渗滤液处理站为150吨/日，按《GB1668-1997》二级排放标准执行，根据国家环保部2008年颁布的《生活垃圾填埋场污染控制标准》（GB16889-2008）需将布吉甘坑渗滤液处理站进行升级改造。</td>
						</tr>
						<tr>
							<td class="formAlignRight">申报材料</td>
							<td colspan="3"><a>关于申请对布吉甘坑填埋场渗滤液处理站升级改造工作概算书进行评审的函.PDF</a> <br /> <a>关于向市发改委申请对布吉甘坑垃圾填埋场渗滤液处理站技术升级改造工程概算书进行评审的函(区发改).doc</a>
								<br /> <a>龙岗区布吉甘坑垃圾填埋场渗滤液处理技术升级改造工程概算书.rar</a> <br /></td>
						</tr>
						<tr>
							<td class="formAlignRight">申报表</td>
							<td colspan="3"><button type="button" class="btn btn-info" ng-click="vm.checkDeclare()">查看申报表</button>&nbsp;
							               <button type="button" class="btn btn-info" ng-click="vm.reviewDeclare()">复核申报表</button></td>
						</tr>
						<tr>
							<td colspan="4"><h4 align="center">以上信息为项目单位填报</h4></td>
						</tr>
						<tr>
							<td class="formAlignRight">补充项目相关附件</td>
							<td colspan="3"><a></a>
								<div></div></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>人秘科分办意见</span></td>
							<td colspan="3"><table>
									<tr>
										<td>转请投资科处理。</td>
									</tr>
									<tr>
										<td>张聪<br /> 2016-04-01
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>科室分办意见</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td>请范怡办理。</td>
									</tr>
									<tr>
										<td>谢云涛<br /> 2016-04-05
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>经办人办理</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td >该项目已与市发改委沟通由我区进行概算评审(见深龙发改〔2016〕403号 ），请小唐处理．</td>
									</tr>
									<tr>
										<td>范怡<br /> 2016-06-14
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>经办人初审意见</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td><table  class="table table-bordered">
												<tr>
													<td width="150" class="formAlignRight">项目建设依据</td>
													<td>2012年度深圳市治污保洁工程任务表（第二批）。</td>
												</tr>
												<tr>
													<td class="formAlignRight">项目建设内容</td>
													<td>布吉甘坑渗滤液处理站为150吨/日，按《GB1668-1997》二级排放标准执行，根据国家环保部2008年颁布的《生活垃圾填埋场污染控制标准》（GB16889-2008）需将布吉甘坑渗滤液处理站进行升级改造。；布吉甘坑渗滤液处理站为150吨/日，由于达不到国家2008年颁布的标准，需对其进行升级改造。
													</td>
												</tr>
												<tr>
													<td class="formAlignRight">投资概算及资金来源</td>
													<td>项目总投资为1302.646818万元,其中：建安费1125.578474万元，预备费37.941169万元，其他费用0万元。资金来源:市财政1302.646818万元，区财政0万元，国土资金0万元，专项资金0万元，中央投资0万元，部省0万元，自筹0万元，政府统筹0万元，教育费附加0万元，其他0万元
													</td>
												</tr>
												<tr>
													<td class="formAlignRight">其他</td>
													<td></td>
												</tr>
												<tr>
													<td class="formAlignRight">文件打印</td>
													<td>
													  <button type="button" class="btn btn-info" ng-click="vm.projectApproval()">项目评审报批单</button>
													
													</td>
												</tr>
											</table></td>
									</tr>
									<tr>
										<td>拟对该项目送审，请科长批示。</td>
									</tr>
									<tr>
										<td>唐铭希<br /> 2016-06-20
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>科长审核意见</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td>已核，呈领导审批。</td>
									</tr>
									<tr>
										<td>谢云涛<br /> 2016-06-23
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>分管局领导审核意见</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td>同意。</td>
									</tr>
									<tr>
										<td>廖少达<br /> 2016-06-23
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>送审意见</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td><table>
												<tr>
													<td>项目建设依据</td>
													<td>2012年度深圳市治污保洁工程任务表（第二批）。</td>
												</tr>
												<tr>
													<td>项目建设内容</td>
													<td>布吉甘坑渗滤液处理站为150吨/日，按《GB1668-1997》二级排放标准执行，根据国家环保部2008年颁布的《生活垃圾填埋场污染控制标准》（GB16889-2008）需将布吉甘坑渗滤液处理站进行升级改造。；布吉甘坑渗滤液处理站为150吨/日，由于达不到国家2008年颁布的标准，需对其进行升级改造。
													</td>
												</tr>
												<tr>
													<td>投资概算及资金来源</td>
													<td>项目总投资为1302.646818万元,其中：建安费1125.578474万元，预备费37.941169万元，其他费用0万元。资金来源:市财政1302.646818万元，区财政0万元，国土资金0万元，专项资金0万元，中央投资0万元，部省0万元，自筹0万元，政府统筹0万元，教育费附加0万元，其他0万元
													</td>
												</tr>
												<tr>
													<td>其他</td>
													<td></td>
												</tr>
												<tr>
													<td>文件打印</td>
													<td><button type="button" class="btn btn-info" ng-click="vm.projectReviewEntrust()">项目评审委托书</button></td>
													
												</tr>
											</table></td>
									</tr>
									<tr>
										<td>上述项目送审已经局领导批示同意，请评审中心尽快组织评审，并出具评审意见书。</td>
									</tr>
									<tr>
										<td>唐铭希<br /> 2016-06-27
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>评审中心分办意见</span></td>
							<td colspan="3"><table>
									<tr>
										<td>根据投资科意见，本项目现行进行审计结算，经长时间暂停后，现作退文处理。</td>
									</tr>
									<tr> 
										<td>吕思思<br /> 2016-09-28 <br /><button type="button" class="btn btn-info" ng-click="vm.reviewResult()">查看评审结果</button></td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>退文意见</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td><table>
												<tr>
													<td>项目建设依据</td>
													<td>2012年度深圳市治污保洁工程任务表（第二批）。</td>
												</tr>
												<tr>
													<td>项目建设内容</td>
													<td>布吉甘坑渗滤液处理站为150吨/日，按《GB1668-1997》二级排放标准执行，根据国家环保部2008年颁布的《生活垃圾填埋场污染控制标准》（GB16889-2008）需将布吉甘坑渗滤液处理站进行升级改造。；布吉甘坑渗滤液处理站为150吨/日，由于达不到国家2008年颁布的标准，需对其进行升级改造。
													</td>
												</tr>
												<tr>
													<td>投资概算及资金来源</td>
													<td>项目总投资为1302.646818万元,其中：建安费1125.578474万元，预备费37.941169万元，其他费用0万元。资金来源:市财政1302.646818万元，区财政0万元，国土资金0万元，专项资金0万元，中央投资0万元，部省0万元，自筹0万元，政府统筹0万元，教育费附加0万元，其他0万元
													</td>
												</tr>
												<tr>
													<td>其他</td>
													<td></td>
												</tr>
											</table></td>
									</tr>
									<tr>
										<td><table  class="table table-bordered">
												<tr>
													<td>申报材料不符合要求</td>
													<td></td>
												</tr>
												<tr>
													<td>项目立项依据不充分</td>
													<td></td>
												</tr>
												<tr>
													<td>建设内容不明确</td>
													<td></td>
												</tr>
												<tr>
													<td>投资概算及资金来源不合理</td>
													<td></td>
												</tr>
												<tr>
													<td>其他</td>
													<td>该项目为先审计后评概项目，有相关会议纪要，已与项目单位沟通，拟退文</td>
												</tr>
											</table></td>
									</tr>
									<tr>
										<td>拟退文，请谢科审核.</td>
									</tr>
									<tr>
										<td>唐铭希<br /> 2016-09-28
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight"><span>部门复核意见</span></td>
							<td colspan="3"><table  class="table table-bordered">
									<tr>
										<td>根据侯区会议纪要，审计完后直接批复概算</td>
									</tr>
									<tr>
										<td>谢云涛<br /> 2016-09-28
										</td>
									</tr>
								</table></td>
						</tr>
						<tr>
							<td class="formAlignRight">经办人办理结果：</td>
							<td colspan="3">批复金额：0 <br /></td>
						</tr>
					</table>
					<p>
                        <!-- <button type="button" class="btn btn-success">历史数据补充</button>
                        <button href="javascript:void(0)" ui-sref="takenTask" type="button" class="btn btn-success">返回</button>
                        <button type="button" class="btn btn-success">撤回</button>
                        <button type="button" class="btn btn-success">撤回下达资金</button>
                        <button type="button" class="btn btn-success">取消关注</button>
                        <button type="button" class="btn btn-success">添加关注</button> -->
                        <button type="button" class="btn btn-success" ng-click="vm.printProjectHandle()">打印项目处理表</button>
                        <button type="button" class="btn btn-success" ng-click="vm.flowPrint()">流程打印预览</button>
                        <button type="button" class="btn btn-success" ng-click="vm.flowSituation()">查看流转情况</button>
                        <button type="button" class="btn btn-success">查看项目库</button>
						
					</p>
				</div>
			</form>

		</div>
  <!-- 查看申报表 -->
  <div class="myDialog modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">查看申报表</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/checkDeclare.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end查看申报表 -->
  <!-- 复核申报表 -->
  <div class="myDialog1 modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">复核申报表</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/reviewDeclare.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">保存</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end复核申报表 -->
   <!-- 项目评审报批单 -->
  <div class="myDialog2 modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">项目评审报批单</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/projectApproval.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">打印</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end项目评审报批单 -->
    <!-- 项目评审委托书 -->
  <div class="myDialog3 modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">项目评审报批单</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/projectReviewEntrust.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">打印</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end项目评审委托书 -->
     <!-- 项目评审结果 -->
  <div class="myDialog4 modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">项目评审结果</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/reviewResult.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">打印</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end项目评审结果 -->
      <!-- 打印项目处理表 -->
  <div class="myDialog5 modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">打印项目处理表</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/printProjectHandle.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">打印</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end打印项目处理表 -->
<!-- 流程打印预览 -->
  <div class="myDialog6 modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">流程打印预览</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/flowPrint.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">打印</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end流程打印预览 -->
  <!-- 查看流转情况 -->
  <div class="myDialog7 modal fade" tabindex="-1" role="dialog">
			<div class="modal-dialog"
				style="margin: 120px auto; width: 1100px;">
				<div class="modal-content" >
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title text-info">查看流转情况</h4>
					</div>
					<div style="height: 600px; overflow:auto; width: 1100px;">
					<div class="modal-body text-danger" ng-include src="'/contents/home/takenTask/details/html/flowSituation.html'">
					     
					</div>
					
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-dismiss="modal">打印</button>
						<button type="button" class="btn btn-info" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
  <!-- end流程打印预览 -->



