<meta charset="UTF-8">

<link href="/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css"
	rel="stylesheet" />
<script src="/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background: white;">
	<ol class="breadcrumb">
		<li><a href="/admin/index#/">管理首页</a></li>
		<li class="active">修改密码</li>
	</ol>
	<form id="form" name="form">
		<div class="toolbar">
			<a class="btn btn-sm btn-primary" href="/admin/index#/"><span
				class="glyphicon glyphicon-chevron-left"></span>返回</a>
			<button class="btn btn-sm btn-success" ng-click="vm.changePwd()"
				ng-disabled="vm.isSubmit">
				<span class="glyphicon glyphicon-ok"></span>更新
			</button>
		</div>
		<div>
			<table style="width: 100%">
				<tr>
					<td class="formAlignRight" style="width: 150px;"></td>
					<td style="width: 400px;"><span class="errors">{{vm.message}}</span></td>
					<td></td>
				</tr>
				<tr>
					<td class="formAlignRight">密码： <span class="required">*</span></td>
					<td><input type="password" maxlength="200"
						class="form-control input-sm " ng-model="vm.model.password"
						id="password" name="password" data-val="true" data-val-required="必填"
						data-val-regex="必须为8位以上数字、字母和特殊符号的结合" data-val-regex-pattern="^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[\W_]).*.{8,}$"/></td>
					<td><span data-valmsg-for="password" data-valmsg-replace="true"
						class="errors"></span>
						<textarea id="rsaPrivateKey" rows="15" cols="65" style="display:none">
							dd6be3d4de56287b8c3616b33bc1b7a5a2bb9148252140262420ee047f83b3165fb7674a759d60c24b71fd5437c7810f127f2c4370c2d4bdfcb55c08f1b3c715b7b2f57228e78e34039d2b967f54a58e345bc91e3dd54c7bea86d73c9e2de968736bf2b97f50bea891aa3519ae7238d76dff57cabba7cc0d370775657f3b5c83
        				</textarea>
					</td>
				</tr>
				<tr>
					<td class="formAlignRight">确认密码： <span class="required">*</span></td>
					<td><input type="password" maxlength="200"
						class="form-control input-sm " ng-model="vm.model.passwordConfirm "
						id="passwordConfirm" name="passwordConfirm" data-val="true"
						data-val-required="必填" data-val-equalto="两次密码不一致"
						data-val-equalto-other="password"/></td>
					<td><span data-valmsg-for="passwordConfirm"
						data-valmsg-replace="true" class="errors"></span></td>
				</tr>
			</table>
		</div>
	</form>
</div>