<link href="/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<ol class="breadcrumb">
        <li><a  href="#/mediationUnitList">中介单位管理</a></li>       
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/mediationUnitList"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.createMediationUnit()"  ng-show="vm.page=='mediationUnitCreate'"><span class="glyphicon glyphicon-ok"></span>创建</button>
            <button class="btn btn-sm btn-success" ng-click="vm.updateMediationUnit()"  ng-show="vm.page=='mediationUnitUpdate'"><span class="glyphicon glyphicon-ok"></span>更新</button>
         </div>
         <table style="width:100%" class="table table-bordered table-striped">
            <tr>
                <td class="formAlignRight" style="width:15%">中介单位名称： <span class="required">(*)</span></td>
                <td>
                    <input  type="text" autocomplete="off" maxlength="200" style="width:50%" class="form-control input-sm "   ng-model="vm.model.mediationUnitName" id="mediationUnitName" name="mediationUnitName" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="mediationUnitName" data-valmsg-replace="true" class="required"></span>
                </td>
                <td class="formAlignRight" style="width:15%">中介单位地址： <span class="required">(*)</span></td>
                <td>
                    <input  type="text" autocomplete="off" maxlength="200" style="width:50%" class="form-control input-sm "   ng-model="vm.model.mediationUnitAddress" id="mediationUnitAddress" name="mediationUnitAddress" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="mediationUnitAddress" data-valmsg-replace="true" class="required"></span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight" style="width:15%">中介单位法人证照类型： <span class="required">(*)</span></td>
                <td>
                    <select id="credentialsType" name="credentialsType" style="height:30px;" ng-model="vm.model.credentialsType" data-val="true" data-val-required="必选"
                            ng-change="vm.change()">
						<option value="">---请选择---</option>
						<option ng-repeat="x in vm.basicData.credentialsType" value="{{x.id}}">{{x.description}}</option>
					</select>
			        <span data-valmsg-for="credentialsType" data-valmsg-replace="true" class="required"></span>
                </td>
                <td class="formAlignRight" style="width:15%">中介单位法人证照号： <span class="required">(*)</span></td>
                <td>
                    <input ng-if="vm.selectedIndex == ''" type="text" maxlength="200" style="width:50%" class="form-control input-sm "
                           ng-model="vm.model.credentialsNum" id="credentialsNum" name="credentialsNum" autocomplete="off" disabled="disabled"
                           data-val="true" data-val-required="必填" placeholder="请先选择证照类型"
                    />
                    <input ng-if="vm.selectedIndex == 'credentialsType_1'" type="text" maxlength="200" style="width:50%" class="form-control input-sm "
                            ng-model="vm.model.credentialsNum" id="credentialsNum" name="credentialsNum" autocomplete="off"
                            placeholder="请输入身份证证照号" data-val-regex="身份证证照号格式不正确" data-val-regex-pattern="(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)"
                            data-val="true" data-val-required="必填"
                    />
                    <input ng-if="vm.selectedIndex == 'credentialsType_2'" type="text" maxlength="200" style="width:50%" class="form-control input-sm "
                           ng-model="vm.model.credentialsNum" id="credentialsNum" name="credentialsNum" autocomplete="off"
                           placeholder="请输入护照证照号" data-val-regex="护照证照号格式不正确" data-val-regex-pattern="^([a-zA-z]|[0-9]){5,17}$"
                           data-val="true" data-val-required="必填"
                    />
                    <input ng-if="vm.selectedIndex == 'credentialsType_3'" type="text" maxlength="200" style="width:50%" class="form-control input-sm "
                           ng-model="vm.model.credentialsNum" id="credentialsNum" name="credentialsNum" autocomplete="off"
                           placeholder="请输入户口本证照号" data-val-regex="户口本证照号格式不正确" data-val-regex-pattern="(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)"
                           data-val="true" data-val-required="必填"
                    />
                    <input ng-if="vm.selectedIndex == 'credentialsType_4'" type="text" maxlength="200" style="width:50%" class="form-control input-sm "
                           ng-model="vm.model.credentialsNum" id="credentialsNum" name="credentialsNum" autocomplete="off"
                           placeholder="请输入军人证照号" data-val-regex="军人证证照号格式不正确" data-val-regex-pattern="^[\u4E00-\u9FA5](字第)([0-9a-zA-Z]{4,8})(号?)$"
                           data-val="true" data-val-required="必填"
                    />
                    <input ng-if="vm.selectedIndex == 'credentialsType_5'" type="text" maxlength="200" style="width:50%" class="form-control input-sm "
                           ng-model="vm.model.credentialsNum" id="credentialsNum" name="credentialsNum" autocomplete="off"
                           placeholder="请输入党员证照号"
                           data-val="true" data-val-required="必填"
                    />
                    <input ng-if="vm.selectedIndex == 'credentialsType_6'" type="text" maxlength="200" style="width:50%" class="form-control input-sm "
                           ng-model="vm.model.credentialsNum" id="credentialsNum" name="credentialsNum" autocomplete="off"
                           placeholder="其他证件号"
                           data-val="true" data-val-required="必填"
                    />
                    <span data-valmsg-for="credentialsNum"  data-valmsg-replace="true" class="required"></span>
                </td>
             <tr>
               <td class="formAlignRight" style="width:15%">主要联系人： <span class="required">(*)</span></td>
                <td>
                    <input  type="text" autocomplete="off" maxlength="200" style="width:50%" class="form-control input-sm "   ng-model="vm.model.contacts" id="contacts" name="contacts" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="contacts" data-valmsg-replace="true" class="required"></span>
                </td>
                <td class="formAlignRight" style="width:15%">主要联系人电话： <span class="required">(*)</span></td>
                <td>
                    <!--<input  type="text" maxlength="200" style="width:50%" class="form-control input-sm "   ng-model="vm.model.contactsTel" id="contactsTel" name="contactsTel" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="contactsTel" data-valmsg-replace="true" class="required"></span>-->
                    <input type="text" autocomplete="off" class="form-control input-sm" id="contactsTel" name="contactsTel"
                           style="width:50%"
                           placeholder="填写手机号或固话"
                           ng-model="vm.model.contactsTel"
                           data-val="true" data-val-required="必填" maxlength="13"
                           data-val-regex="电话号码不合理！"
                           data-val-regex-pattern="^(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$"/>
                    <span data-valmsg-for="contactsTel" data-valmsg-replace="true" class="required"></span>
                </td>
            </tr>
            <tr>
               <td class="formAlignRight" style="width:15%">中介单位资质： <span class="required">(*)</span></td>
                <td>
                    <input  type="text" autocomplete="off" maxlength="200" style="width:50%" class="form-control input-sm "   ng-model="vm.model.credentialsAptitude" id="credentialsAptitude" name="credentialsAptitude" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="credentialsAptitude" data-valmsg-replace="true" class="required"></span>
                </td>
             </tr>
            <tr>
             <td class="formAlignRight" style="width:15%">中介机构经营范围： <span class="required">(*)</span></td>
             <td colspan="3" style="padding: 10px;">
					<textarea id="businessScope" name="businessScope" rows="3" cols="20" maxlength="500" ng-model="vm.model.businessScope"
						placeholder="中介机构经营范围(500字符以内)" style="height: 120px; width: 99%;" data-val="true" data-val-required="必填"
						ng-change="vm.checkLength(vm.model.businessScope,500,'businessScopeTip')"></textarea>
					<span data-valmsg-for="businessScope" data-valmsg-replace="true" class="required"></span>
					<div class="tipfont">您还可以输入<span id="businessScopeTip"><font size="5">500</font></span>个字符!</div>
			 </td>
             </tr>
             <tr>
             <td class="formAlignRight" style="width:15%">备注：</td>
             <td colspan="3" style="padding: 10px;">
					<textarea id="comment" name="businessScope" rows="3" cols="20" maxlength="500" ng-model="vm.model.comment"
						placeholder="备注(500字符以内)" style="height: 120px; width: 99%;" 
						ng-change="vm.checkLength(vm.model.comment,500,'commentTip')"></textarea>
					<div class="tipfont">您还可以输入<span id="commentTip"><font size="5">500</font></span>个字符!</div>
			 </td>
             </tr>
              
			</table>
    </form>