<div class="bg-info text-info" style="padding: 10px;">年度计划信息</div>
<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">项目建设性质：</td>
			<td>
				<span ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectConstrChar)"></span>				
			</td>
			<td class="formAlignRight" style="width:150px;">建设单位名称：</td>
			<td>
				<div ng-repeat="x in vm.constructionUnits">
					<span>单位{{$index+1}}：</span>
					<span class="text-primary" ng-bind="vm.constructionUnits[$index]"/></span>
				</div>
			</td>
		</tr>
		
		<tr>
			<td class="formAlignRight">项目总投资：</td>
			<td>
				<span id="projectInvestSum" name="projectInvestSum" ng-bind="vm.model.shenBaoInfo.projectInvestSum | number:4"></span>&nbsp;(万元)
			</td>
			<td class="formAlignRight">累计安排投资：</td>
			<td>
				<span ng-bind="vm.model.shenBaoInfo.apInvestSum | number:4"></span>&nbsp;(万元)			
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：</td>
			<td style="width:250px;" colspan="3">
				<span ng-bind="vm.model.shenBaoInfo.planYear"></span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">资金需求及来源：</td>
			<td colspan="3">
				<table class="table table-bordered table-striped table-hover">
					<tr class="text-primary text-center">
						<td colspan="2">申请年度投资：
							<span ng-bind="vm.model.shenBaoInfo.applyYearInvest | number:4"></span>&nbsp;(万元)
						</td>
					</tr>
					<tr>
						<td style="padding:0px;border: 0px;" colspan="4">
							<table class="table table-bordered" style="margin:0px;width:100%;">
								<tr>
									<td>公共预算</td>
									<td>国土基金</td>
									<td>其他</td>
								</tr>
								<tr>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_ggys_TheYear | number:4"></span></td>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_gtzj_TheYear | number:4"></span></td>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_qita | number:4"></span></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" >"其他"的来源途径说明：</td>
			<td colspan="3">
				<textarea class="form-control" style="width:99%;" ng-model="vm.model.shenBaoInfo.capitalOtherDescriptionShenBao" disabled></textarea>									
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：</td>
			<td colspan="3">
				<textarea class="form-control" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.shenBaoInfo.yearConstructionContent" disabled></textarea>
			</td>
		</tr>	
	</table>
	
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：</td>
			<td style="width:250px;" colspan="3">
				<span>{{vm.model.shenBaoInfo.planYear +1}}</span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">资金需求及来源：</td>
			<td colspan="3">
				<table class="table table-bordered table-striped table-hover">
					<tr class="text-primary text-center">
						<td colspan="2">申请年度投资：
							<span ng-bind="vm.model.shenBaoInfo.applyYearInvest_LastYear | number:4"></span>&nbsp;(万元)
						</td>
					</tr>
					<tr>
						<td style="padding:0px;border: 0px;" colspan="4">
							<table class="table table-bordered" style="margin:0px;width:100%;">
								<tr>
									<td>公共预算</td>
									<td>国土基金</td>
									<td>其他</td>
								</tr>
								<tr>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_ggys_LastYear | number:4"></span></td>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_gtzj_LastYear | number:4"></span></td>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_qita_LastYear | number:4"></span></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" >"其他"的来源途径说明：</td>
			<td colspan="3">
				<textarea class="form-control" style="width:99%;" ng-model="vm.model.shenBaoInfo.capitalOtherDescriptionShenBao_LastYear" disabled></textarea>									
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：</td>
			<td colspan="3">
				<textarea class="form-control" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.shenBaoInfo.yearConstructionContentLastYear" disabled></textarea>
			</td>
		</tr>	
	</table>
	
	<table class="table table-bordered table-striped ">
		<tr>
			<td class="formAlignRight" style="width:150px;">计划年度：</td>
			<td style="width:250px;" colspan="3">
				<span>{{vm.model.shenBaoInfo.planYear +2}}</span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">资金需求及来源：</td>
			<td colspan="3">
				<table class="table table-bordered table-striped table-hover">
					<tr class="text-primary text-center">
						<td colspan="2">申请年度投资：
							<span ng-bind="vm.model.shenBaoInfo.applyYearInvest_LastTwoYear | number:4"></span>&nbsp;(万元)
						</td>
					</tr>
					<tr>
						<td style="padding:0px;border: 0px;" colspan="4">
							<table class="table table-bordered" style="margin:0px;width:100%;">
								<tr>
									<td>公共预算</td>
									<td>国土基金</td>
									<td>其他</td>
								</tr>
								<tr>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_ggys_LastTwoYear | number:4"></span></td>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_gtzj_LastTwoYear | number:4"></span></td>
									<td><span ng-bind="vm.model.shenBaoInfo.capitalSCZ_qita_LastTwoYear | number:4"></span></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight" >"其他"的来源途径说明：</td>
			<td colspan="3">
				<textarea class="form-control" style="width:99%;" ng-model="vm.model.shenBaoInfo.capitalOtherDescriptionShenBao_LastTwoYear" disabled></textarea>									
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">年度建设内容：</td>
			<td colspan="3">
				<textarea class="form-control" style="height:121px;width: 99%;" placeholder="请简要概述年度计划建设的内容：备注（500字符以内）" ng-model="vm.model.shenBaoInfo.yearConstructionContentLastTwoYear" disabled></textarea>
			</td>
		</tr>	
	</table>
	<table class="table table-bordered table-striped ">
		<tr>
		<td class="formAlignRight"  style="width:150px;">申报信息备注：</td>
		<td colspan="3" >
			<textarea class="form-control" style="height:121px;width: 99%;" placeholder="注：备注（200字符以内）" ng-model="vm.model.shenBaoInfo.yearConstructionContentShenBao" disabled></textarea>												
		</td>
	</tr>
</table>