<style>
.table-bordered>thead>tr>th, 
.table-bordered>tbody>tr>th, 
.table-bordered>tfoot>tr>th, 
.table-bordered>thead>tr>td, 
.table-bordered>tbody>tr>td, 
.table-bordered>tfoot>tr>td {
    border: 1px solid #ddd;
}
label{font-weight:normal;}

.uploadBox .k-upload-status {
	display: none;
}

.uploadBox .k-header {
	background: transparent;
	border: 0px;
}

.uploadBox em {
	display: none;
}

.uploadBox .k-dropzone {
	padding: 0px;
	margin: 0px;
}
.uploadBox .k-upload-files{
display:none;
}
</style>

<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/">首页</a></li>       
        <li>项目管理</li>         
        <li class="active" >新增项目</li>
    </ol>
    
   
         
  	<form>
  		<div ng-include  src="'/contents/admin/management/project/html/edit.html'"></div>
    </form>
     <div class="toolbar" style="text-align: center;">
	    <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit" ng-show="vm.page=='create'"><span class="glyphicon glyphicon-ok"></span>创建项目</button>
	    <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit" ng-show="vm.page=='update'"><span class="glyphicon glyphicon-ok"></span>更新项目</button>
    </div>
</div>