<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'/contents/common/dialog-confirm.tmpl.html'"></div>
<div class="well well-sm" style="background:white;">
	  <ol class="breadcrumb">
		  <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
		  <li><a href="#/">首页</a></li>
	      <li>项目管理</li>	 
	      <li class="active">项目列表</li>
	  </ol>
	  <script type="text/template" id="columnBtns">
			<a class="btn btn-xs btn-primary" href="#/projectEdit/{0}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
	  </script>
	  <div class="toolbar">
	  	<a class="btn btn-sm btn-primary" href="#/projectEdit/"><span class="glyphicon glyphicon-plus"></span>新增项目</a>
	  </div> 
     <form id="form" name="form">          
         <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>