<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li style="color:#0b8d39;padding-left:15px;"> 当前位置：</li>
        <li><a href="#/">首页</a></li>
        <li>项目管理</li>
        <li class="active">项目统计分析</li>
    </ol>
    <div class="row" style="height: 400px">
        <div class="col-md-12">
            <div id="stageStatistics" style="width: 100%; height: 400px" ></div>
        </div>
    </div>
    <div class="toolbar" />
    <div class="row">
        <div class="col-md-12">
            <div id="monRepStatistics" style="width: 100%; height: 400px" ></div>
        </div>
    </div>
    <div class="toolbar" />
    <div class="row">
        <div class="col-md-12">
            <div id="industryStatistics" style="width: 100%; height: 400px" ></div>
        </div>
    </div>
</div>
