<meta charset="UTF-8">

<div class="modal fade" id="myModal_details" tabindex="-1" role="dialog"> 
	<div class="modal-dialog" style="width: 800px"> 
		<div class="modal-content">
			<div class="modal-header bg-primary"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button> 
				<h4 class="modal-title" id="myModalLabel">{{vm.name}}（详情）<span style="float:right" ng-if="vm.beginTime">开始时间：{{vm.beginTime}}</span></h4> 
			</div> 
			<div class="modal-body">
				<form id="form" name="form">
					<table class="table table-bordered table-striped">
						<tr>
							<td>申报材料</td>
							<td>
						        <div style="margin:3px;" ng-repeat="x in vm.allAtts">
						 			<a href="/contents/upload/{{x.url}}" target="_blank" ng-bind="x.name" ng-if="x.businessType == 'shenBao'"></a>
				 				</div>
							</td>
						</tr>
						<tr>
							<td>审批材料</td>
							<td>
						        <div style="margin:3px;" ng-repeat="x in vm.allAtts">
						 			<a href="/contents/upload/{{x.url}}" target="_blank" ng-bind="x.name" ng-if="x.businessType == 'shenPi'"></a>
				 				</div>
							</td>
						</tr>
					</table>
					<div class="bg-info text-info" style="padding: 10px;">反馈意见</div>
					<table class="table table-bordered table-striped">
						<tr ng-repeat="x in vm.allComments | orderBy:'endTime'">
							<td class="formAlignRight" style="width:150px;"  ng-bind="x.name"></td>
							<td>
								<div ng-bind="x.msg"></div>
								<div class="text-right" ng-bind="x.id"></div>
								<div class="text-right" ng-bind="x.endTime"></div>
							</td>
						</tr>
					</table>
				</form>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 	
			</div> 
		</div><!-- /.modal-content -->
	</div>  
</div>
