<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <link rel="stylesheet" href="style.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/contents/libs/bootstrap/dist/css/bootstrap.min.css">
    <script src="js/jstools.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/raphael.js" type="text/javascript" charset="utf-8"></script>
    
	<script src="/contents/libs/jquery/jquery.js"></script>
    <script src="js/jquery/jquery.progressbar.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery/jquery.asyncqueue.js" type="text/javascript" charset="utf-8"></script>

    <script src="js/Color.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/Polyline.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ActivityImpl.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ActivitiRest.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/LineBreakMeasurer.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ProcessDiagramGenerator.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/ProcessDiagramCanvas.js" type="text/javascript" charset="utf-8"></script>
    
    
	<script src="/contents/libs/jquery-validation/jquery.validate.min.js"></script>
	<script src="/contents/libs/jquery-validation/jquery.validate.unobtrusive.min.js"></script>
	
	<script src="/contents/libs/bootstrap/customize/js/bootstrap.js"></script>
	
	<script src="/contents/libs/angular/angular.min.js"></script>
	<script src="/contents/libs/angular/sanitize.js"></script>
	<script src="/contents/libs/angular/angular-ui-router.js"></script>
	
	<script src="/contents/common/common.js"></script>
	
	<!--uploadify-->
    <link rel="stylesheet" href="/contents/libs/uploadify/uploadify.css" />
	<script src="/contents/libs/uploadify/jquery.uploadify.js"></script>
	<!--uploadify-->
    
    <style type="text/css" media="screen">

    </style>
</head>
<body id="ng-app" ng-app="monitorApp" ng-controller="monitorCtrl as vm">

<!-- <body> -->
<div class="wrapper">
    <div id="pb1"></div>

    <div id="overlayBox">
        <!-- <div id="diagramBreadCrumbs" class="diagramBreadCrumbs" onmousedown="return false"
             onselectstart="return false"></div>  -->   
        <!-- 流程图信息 -->
        <div id="diagramHolder" class="diagramHolder"></div>
        <!-- 显示信息 -->
        <!-- <div class="diagram-info" id="diagramInfo"></div> -->
    </div>
</div>
<script language='javascript'>
    var DiagramGenerator = {};
    var pb1;
    $(document).ready(function () {
        var query_string = {};
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            query_string[pair[0]] = pair[1];
        }

        var processDefinitionId = query_string["processDefinitionId"];
        var processInstanceId = query_string["processInstanceId"];
        var shenBaoInfoId = query_string["shenBaoInfoId"];
        var roleType = query_string["roleType"];
        /* var currentKey = query_string["currentKey"]; */
        
        console.log("Initialize progress bar");

        pb1 = new $.ProgressBar({
            boundingBox: '#pb1',
            label: 'Progressbar!',
            on: {
                complete: function () {
                    console.log("Progress Bar COMPLETE");
                    this.set('label', '');
                    if (processInstanceId) {
                        ProcessDiagramGenerator.drawHighLights(processInstanceId);
                    }
                },
                valueChange: function (e) {
                    this.set('label', e.newVal + '%');
                }
            },
            value: 0
        });
        console.log("Progress bar inited");
        
        ProcessDiagramGenerator.options = {
            diagramBreadCrumbsId: "diagramBreadCrumbs",
            diagramHolderId: "diagramHolder",
            diagramInfoId: "diagramInfo",
            on: {
                click: function (canvas, element, contextObject) {
           			var userId = contextObject.getProperty("userId");
					var taskId = contextObject.getProperty("taskId");
					var taskKey = contextObject.getId();
					var isHistory = contextObject.getProperty("isHistory");
					var name = contextObject.getProperty("name");
					var isSubShenBaoAtt = contextObject.getProperty("isSubShenBaoAtt");
					
					var $scope = angular.element("body").scope();
				    $scope.$apply(function () {
						$scope.vm.shenBaoInfoId = shenBaoInfoId;
						$scope.vm.name = name;
						$scope.vm.taskId = taskId;
					})
					
					$scope.vm.getAuthorityForCurTask(processInstanceId,taskId,taskKey,function(data){
						 var authorityForCurTask = data;
						 
	                	if(isHistory){
	                		$scope.vm.getShenPiDetails(shenBaoInfoId,taskId,taskKey);
	                    }else{
	                    	debugger
	                    	if(roleType && 'approvalUnit' == roleType && authorityForCurTask == 'true' && taskId){
	                    		if(isSubShenBaoAtt == 'true'){
	                    			$scope.vm.setShenPiconfig(taskKey);
	                    		}else{
	                    			/* $scope.$apply(function () { */
	                        			common.alert({
	                            			vm : $scope.vm,
	                    					msg : "建设单位还未提交申报材料"
	                            		})
	                        		/* }) */
	                    		}
	                    		
	                    	}else if(roleType && 'constructionUnit' == roleType && authorityForCurTask == 'true' && taskId && typeof(isSubShenBaoAtt) == "undefined" && taskKey != 'usertask26' && taskKey != 'usertask4' && taskKey != 'usertask18'){
	                    		$scope.vm.setShenBaoconfig(taskKey);
	                    		
	                    	}else if(roleType && 'constructionUnit' == roleType && authorityForCurTask == 'true' && taskId && isSubShenBaoAtt == "true"){
	                    		/* $scope.$apply(function () { */
	                    			common.alert({
	                        			vm : $scope.vm,
	                					msg : "您已上传申报材料"
	                        		})
	                    		/* }) */
	                    		
	                    	}else if(taskId){
	                    		/* $scope.$apply(function () { */
	                    			common.alert({
	                        			vm : $scope.vm,
	                					msg : "您无操作权限"
	                        		})
	                    		/* }) */
	                    	}else{
	                    		/* $scope.$apply(function () { */
	                    			common.alert({
	                        			vm : $scope.vm,
	                					msg : "未能操作环节"
	                        		})
	                    		/* }) */
	                    	}
	                    }
					});
					
                },
                rightClick: function (canvas, element, contextObject) {
                	
                }, 
                over: function (canvas, element, contextObject) {
                	
                },
               	out: function (canvas, element, contextObject) {
               		
                } 
            }
        };

        ActivitiRest.options = {
            processInstanceHighLightsUrl: "/process-instance/{processInstanceId}/highlights",
            processDefinitionUrl: "/process-definition/{processDefinitionId}/diagram-layout",
            processDefinitionByKeyUrl: "/process-definition/{processDefinitionKey}/diagram-layout"
        };

        if (processDefinitionId) {
            ProcessDiagramGenerator.drawDiagram(processDefinitionId);

        } else {
            alert("processDefinitionId parameter is required");
        }
    });


</script>
<script>
    (function () {
        'use strict';
        angular.module('monitorApp',[]).controller('monitorCtrl', function ($http,$scope) {
            var vm = this;
            var url_taskFeedback = "/management/supervision/task";
            
            vm.setShenPiconfig = function(taskKey){
            	$('#shenPiFiles').uploadify({
                    uploader: '/common/save',
                    swf: "/contents/libs/uploadify/uploadify.swf",
                    method: 'post',
                    multi: true,
                    auto: true,//自动上传
                    fileObjName: 'files',// 上传参数名称
                    fileSizeLimit: "1024MB",//上传文件大小限制
                    buttonText: '选择文档',
                    fileExt: '*.pdf;*.txt;*.png;*.jpg;*.doc;*.docx;*.wps',
                    fileTypeExts: '*.pdf;*.txt;*.png;*.jpg;*.doc;*.docx;*.wps',
                    fileTypeDesc: "请选择*.pdf;*.txt;*.png;*.jpg;*.doc;*.docx;*.wps",     // 文件说明
                    removeCompleted: true,   //设置已完成上传的文件是否从队列中移除，默认为true
                    onUploadSuccess: function (file, data, response) {
               			angular.forEach(eval("("+data+")").data, function (fileObj, index) {
                               $scope.$apply(function() {
                                   if(vm.shenPiAtts){
                                   	vm.shenPiAtts.push({
                                           name: fileObj.originalFilename,
                                           url: fileObj.randomName,
                                           shenBaoAttType: taskKey,
                                           businessType:'shenPi'
                                       });
                                   } else {
                                   	vm.shenPiAtts = [{
                                           name: fileObj.originalFilename,
                                           url: fileObj.randomName,
                                           shenBaoAttType: taskKey,
                                           businessType:'shenPi'
                                       }];
                                   }
                               });
                           })
                    }
                });
        		
        		//删除上传文件
       			vm.delFile_shenPi=function(idx){
           			var file = $scope.vm.shenPiAtts[idx];
           			if(file){
           				vm.shenPiAtts.splice(idx,1);
           			}
           	    };
           	    
           	    vm.checkLength = function(obj,max,id){
          			common.checkLength(obj,max,id);
               	};
           	    
           	 	$('#myModal_shenPi').modal('show');
            }
            
            vm.setShenBaoconfig = function(taskKey){
        		$('#shenBaoFiles').uploadify({
                    uploader: '/common/save',
                    swf: "/contents/libs/uploadify/uploadify.swf",
                    method: 'post',
                    multi: true,
                    auto: true,//自动上传
                    fileObjName: 'files',// 上传参数名称
                    fileSizeLimit: "1024MB",//上传文件大小限制
                    buttonText: '选择文档',
                    fileExt: '*.pdf;*.txt;*.png;*.jpg;*.doc;*.docx;*.wps',
                    fileTypeExts: '*.pdf;*.txt;*.png;*.jpg;*.doc;*.docx;*.wps',
                    fileTypeDesc: "请选择*.pdf;*.txt;*.png;*.jpg;*.doc;*.docx;*.wps",     // 文件说明
                    removeCompleted: true,   //设置已完成上传的文件是否从队列中移除，默认为true
                    onUploadSuccess: function (file, data, response) {
                    	angular.forEach(eval("("+data+")").data, function (fileObj, index) {
                            $scope.$apply(function() {
                                if(vm.shenBaoAtts){
                                	vm.shenBaoAtts.push({
                                        name: fileObj.originalFilename,
                                        url: fileObj.randomName,
                                        shenBaoAttType: taskKey,
                                        businessType:'shenBao'
                                    });
                                } else {
                                	vm.shenBaoAtts = [{
                                        name: fileObj.originalFilename,
                                        url: fileObj.randomName,
                                        shenBaoAttType: taskKey,
                                        businessType:'shenBao'
                                    }];
                                }
                            });
                        })
                    }
                });
            	
        		//删除上传文件
       			vm.delFile_shenBao=function(idx){
           			var file = vm.shenBaoAtts[idx];
           			if(file){
           				vm.shenBaoAtts.splice(idx,1);
           			}
           	    };  	
        		
        		$('#myModal_shenBao').modal('show');
            }
            
            vm.subShenBaoAtts = function(){
            	if(!vm.shenBaoAtts || vm.shenBaoAtts.length == 0){
            		common.alert({
						vm : vm,
						msg : "还未上传附件"
					});
            	}else{
            		var httpOptions = {
        					method : 'post',
        					url : url_taskFeedback + "/subShenBaoAtts",
        					data:{"shenBaoInfoId":vm.shenBaoInfoId,"shenBaoAtts":vm.shenBaoAtts,"taskId":vm.taskId}
        				};
        			
        			var httpSuccess = function success(response) {
        				common.requestSuccess({
     						vm : vm,
     						response : response,
     						fn : function() {
     							common.alert({
     								vm : vm,
     								msg : "提交成功",
     								fn : function() {
     									$('.alertDialog').modal('hide');
     									$('#myModal_shenBao').modal('hide');
     									window.location.reload();
     								}
     							});
     						}
     					});
        			};
        			
        			common.http({
        				vm : vm,
        				$http : $http,
        				httpOptions : httpOptions,
        				success : httpSuccess
        			});
            	}
            }
            
            vm.subShenPi = function(){
            	common.initJqValidation();
     			var isValid = $('form').valid();
     			if (isValid) {
     				if(!vm.shenPiAtts || vm.shenPiAtts.length == 0){
                		common.alert({
    						vm : vm,
    						msg : "还未上传附件"
    					});
                	}else{
                		var httpOptions = {
            					method : 'post',
            					url : url_taskFeedback+"/feedback",
            					data:{"shenBaoInfoId":vm.shenBaoInfoId,"msg":vm.shenPiContent,"att":vm.shenPiAtts,"taskId":vm.taskId}
            				};
             				
             				var httpSuccess = function success(response) {
             					common.requestSuccess({
             						vm : vm,
             						response : response,
             						fn : function() {
             							common.alert({
             								vm : vm,
             								msg : "提交成功",
             								fn : function() {
             									$('.alertDialog').modal('hide');
             									$('#myModal_shenPi').modal('hide');
             									window.location.reload();
             								}
             							});
             						}
             					});
             				};
             				
             				common.http({
             					vm : vm,
             					$http : $http,
             					httpOptions : httpOptions,
             					success : httpSuccess
             				});		
                	}
     			}
            }
            
            vm.getShenPiDetails = function(shenBaoInfoId,taskId,taskKey){
            	vm.getAllAtts(shenBaoInfoId,taskId,taskKey);
            	vm.getAllComments(shenBaoInfoId,taskId,taskKey);
            	$('#myModal_details').modal('show');
    		}
            
            vm.getAllAtts = function(shenBaoInfoId,taskId,taskKey){
            	var httpOptions = {
    					method : 'get',
    					url : url_taskFeedback + "/getAllAtts?shenBaoInfoId=" + shenBaoInfoId + "&taskId=" + taskId + "&taskKey=" + taskKey
    				};
    			
    			var httpSuccess = function success(response) {
    				console.info(response)
    				vm.allAtts = response.data;
    			};
    			
    			common.http({
    				vm : vm,
    				$http : $http,
    				httpOptions : httpOptions,
    				success : httpSuccess
    			});
            }
            
            vm.getAllComments = function(shenBaoInfoId,taskId,taskKey){
            	var httpOptions = {
    					method : 'get',
    					url : url_taskFeedback + "/getAllComments?shenBaoInfoId=" + shenBaoInfoId + "&taskId=" + taskId + "&taskKey=" + taskKey
    				};
    			
    			var httpSuccess = function success(response) {
    				vm.allComments = response.data;
    			};
    			
    			common.http({
    				vm : vm,
    				$http : $http,
    				httpOptions : httpOptions,
    				success : httpSuccess
    			});
            }
            
            vm.getAuthorityForCurTask = function(processInstanceId,taskId,taskKey,fn){
            	var httpOptions = {
    					method : 'get',
    					async: true,
    					url : url_taskFeedback + "/getAuthorityForCurTask?processInstanceId=" + processInstanceId + "&taskId=" + taskId + "&taskKey=" + taskKey
    				};
    			
    			var httpSuccess = function success(response) {
    				fn(response.data);
    			};
    			
    			common.http({
    				vm : vm,
    				$http : $http,
    				httpOptions : httpOptions,
    				success : httpSuccess
    			});
            }
        })
    })();

</script>

<!-- 上传申报材料附件 start -->
<div class="modal fade" id="myModal_shenBao" tabindex="-1" role="dialog"> 
	<div class="modal-dialog" style="width: 800px"> 
		<div class="modal-content">
			<div class="modal-header bg-primary"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button> 
				<h4 class="modal-title" id="myModalLabel">{{vm.name}}（申报材料）</h4> 
			</div> 
			<div class="modal-body">
				<table class="table table-bordered table-striped">
					<tr>
						<td>申报材料上传</td>
						<td>
					        <input type="file" name="files" id="shenBaoFiles"/>
					        <div style="margin:3px;" ng-repeat="x in vm.shenBaoAtts">
				 			<a href="/contents/upload/{{x.url}}" target="_blank" ng-bind="x.name"></a>
							<button class="btn btn-xs btn-danger" ng-click="vm.delFile_shenBao($index)">删除</button>
			 			</div>
						</td>
					</tr>
				</table>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 	
				<button type="button" class="btn btn-success" ng-click="vm.subShenBaoAtts()">确认</button> 					
			</div> 
		</div><!-- /.modal-content -->
	</div>  
</div>
<!-- 上传申报材料附件 end -->

<!-- 审批模态框 start -->
<div class="modal fade" id="myModal_shenPi" tabindex="-1" role="dialog"> 
	<div class="modal-dialog" style="width: 800px"> 
		<div class="modal-content">
			<div class="modal-header bg-primary"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button> 
				<h4 class="modal-title" id="myModalLabel">{{vm.name}}（审批单位审批）</h4> 
			</div> 
			<div class="modal-body">
				<form id="form" name="form">
					<table class="table table-bordered table-striped">
						<tr>
							<td>审批内容</td>
							<td>
								<textarea class="form-control" id="shenPiContent" name="shenPiContent"  maxlength="500" rows="3"
								ng-model="vm.shenPiContent" data-val="true" data-val-required="必填" placeholder="注：500字符以内"
								ng-change="vm.checkLength(vm.shenPiContent,500,'shenPiContentTips')">
								</textarea>
								<span data-valmsg-for="shenPiContent" data-valmsg-replace="true" class="required"></span>
								<div class="tipfont">您还可以输入<span id="shenPiContentTips"><font size="5">500</font></span>个字符!</div>
							</td>
						</tr>
						<tr>
							<td>审批材料上传</td>
							<td>
						        <input type="file" name="files" id="shenPiFiles"/>
						        <div style="margin:3px;" ng-repeat="x in vm.shenPiAtts">
					 			<a href="/contents/upload/{{x.url}}" target="_blank" ng-bind="x.name"></a>
								<button class="btn btn-xs btn-danger" ng-click="vm.delFile_shenPi($index)">删除</button>
				 			</div>
							</td>
						</tr>
					</table>
				</form>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 	
				<button type="button" class="btn btn-success" ng-click="vm.subShenPi()">确认</button> 					
			</div> 
		</div><!-- /.modal-content -->
	</div>  
</div>
<!-- 审批模态框  end -->

<!-- 审批详情模态框 start -->
<div class="modal fade" id="myModal_details" tabindex="-1" role="dialog"> 
	<div class="modal-dialog" style="width: 800px"> 
		<div class="modal-content">
			<div class="modal-header bg-primary"> 
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;	</button> 
				<h4 class="modal-title" id="myModalLabel">{{vm.name}}（详情）</h4> 
			</div> 
			<div class="modal-body">
				<form id="form" name="form">
					<table class="table table-bordered table-striped">
						<tr>
							<td>申报材料</td>
							<td>
						        <div style="margin:3px;" ng-repeat="x in vm.allAtts">
						 			<a href="/contents/upload/{{x.url}}" target="_blank" ng-bind="x.name" ng-if="x.businessType == 'shenBao'"></a>
				 				</div>
							</td>
						</tr>
						<tr>
							<td>审批材料</td>
							<td>
						        <div style="margin:3px;" ng-repeat="x in vm.allAtts">
						 			<a href="/contents/upload/{{x.url}}" target="_blank" ng-bind="x.name" ng-if="x.businessType == 'shenPi'"></a>
				 				</div>
							</td>
						</tr>
					</table>
					<div class="bg-info text-info" style="padding: 10px;">反馈意见</div>
					<table class="table table-bordered table-striped">
						<tr ng-repeat="x in vm.allComments | orderBy:'endTime'">
							<td class="formAlignRight" style="width:150px;"  ng-bind="x.name"></td>
							<td>
								<div ng-bind="x.msg"></div>
								<div class="text-right" ng-bind="x.id"></div>
								<div class="text-right" ng-bind="x.endTime"></div>
							</td>
						</tr>
					</table>
				</form>
			</div> 
			<div class="modal-footer"> 
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> 	
			</div> 
		</div><!-- /.modal-content -->
	</div>  
</div>
<!-- 审批详情模态框  end -->
<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>

</body>
</html>
