<style>
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
	.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #ddd;
	vertical-align: middle;
}

label {
	font-weight: normal;
}

.uploadBox .k-upload-status {
	display: none;
}

.uploadBox .k-header {
	background: transparent;
	border: 0px;
}

.uploadBox em {
	display: none;
}

.uploadBox .k-dropzone {
	padding: 0px;
	margin: 0px;
}

.uploadBox .k-upload-files {
	display: none;
}

input.input-sm {
	height: 30px;
	margin: 0px;
	padding: 0px;
}

textarea.form-control {
	margin: 0px;
	padding: 0px;
}

.tab_content {
	padding: 20px;
}
</style>

<div class="well well-sm" style="background: white; overflow: auto">
	<ol class="breadcrumb">
		<li style="color: #0b8d39; padding-left: 15px;">当前位置：</li>
		<li><a href="#/">首页</a></li>
		<li><a href="#/task/todo_plan">待办列表(阅批)</a></li>
		<li class="active">办理</li>
	</ol>
	<form id="form" name="form">
		<div class="bg-info text-info" style="padding: 10px;">申报基本信息</div>
		<table class="table table-bordered table-striped ">
			<tr>
				<td class="formAlignRight" style="width: 150px;">申报阶段：</td>
				<td style="width: 250px;"
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectShenBaoStage)">
				<td class="formAlignRight" style="width: 150px;">项目名称：</td>
				<td><span ng-bind="vm.model.shenBaoInfo.projectName"></span></td>
			</tr>
			<tr>
				<td class="formAlignRight">项目阶段：</td>
				<td><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectStage)"></span>
				</td>
				<!--<td class="formAlignRight">项目类型：</td>-->
				<!--<td><span ng-repeat="x in vm.projectTypes"-->
					<!--ng-bind="vm.getBasicDataDesc(x)+' '"></span></td>-->
			</tr>
			<tr>
				<td class="formAlignRight">项目行业归口：</td>
				<td><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectIndustry)"></span>
				</td>
				<!--
				<td class="formAlignRight">项目分类：</td>
				<td><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.projectClassify)"></span>
				</td>
				-->
			</tr>
			<tr>
				<td class="formAlignRight" >项目编码：</td>
				<td>
					<span ng-bind="vm.model.shenBaoInfo.projectNumber" ></span>
				</td>
				<td class="formAlignRight">国民经济行业分类：</td>
				<td><span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustryParent)"
					style="margin-right: 24px;"></span> <span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.nationalIndustry)"></span>
				</td>
				
			</tr>
			<tr>
				<td class="formAlignRight" >国家编码：</td>
				<td colspan="3"><span ng-bind="vm.model.shenBaoInfo.countryNumber"></span></td> 
			</tr>
			<tr>
				<td class="formAlignRight">项目建设地址：</td>
				<td colspan="3">光明区 <span
					ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.divisionId)"></span>
					<span ng-bind="vm.model.shenBaoInfo.projectAddress"></span>
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">项目总投资：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.projectInvestSum | number:4"></span>&nbsp;(万元)
				</td>

				<td class="formAlignRight">累计完成投资：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.projectInvestAccuSum | number:4"></span>&nbsp;(万元)
				</td>
			</tr>
			<tr>
				<td class="formAlignRight">计划申请资金-公共预算：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.sqPlanReach_ggys | number:4"></span>&nbsp;(万元)
				</td>

				<td class="formAlignRight">计划申请资金-国土资金：</td>
				<td><span
					ng-bind="vm.model.shenBaoInfo.sqPlanReach_gtzj | number:4"></span>&nbsp;(万元)
				</td>
			</tr>
			<tr ng-if="vm.model.shenBaoInfo.thisTaskName == 'usertask5'">
				<td class="formAlignRight">计划安排资金-公共预算：</td>
				<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" style="width: 130px;"
					class="form-control input-sm" id="apPlanReach_ggys"
					name="apPlanReach_ggys"
					ng-model="vm.model.shenBaoInfo.apPlanReach_ggys" data-val="true"
					data-val-required="必填" />&nbsp;(万元) <span
					data-valmsg-for="apPlanReach_ggys" data-valmsg-replace="true"
					class="required"></span></td>

				<td class="formAlignRight">计划安排资金-国土资金：</td>
				<td><input type="number" min="0" step="any" onkeyup="this.value=this.value.replace(/[^\d]/g,'')" style="width: 130px;"
					class="form-control input-sm" id="apPlanReach_gtzj"
					name="apPlanReach_gtzj"
					ng-model="vm.model.shenBaoInfo.apPlanReach_gtzj" data-val="true"
					data-val-required="必填" />&nbsp;(万元) <span
					data-valmsg-for="apPlanReach_gtzj" data-valmsg-replace="true"
					class="required"></span></td>
			</tr>
			<tr>
				<td class="formAlignRight">项目简介：</td>
				<td colspan="3"><span
					ng-bind="vm.model.shenBaoInfo.projectIntro"></span></td>
			</tr>
			<!--<tr>-->
				<!--<td class="formAlignRight">-->
					<!--<span  class="{{vm.getBasicDataComment(vm.model.shenBaoInfo.urgencyState)}}">申报文件缓急：</span></td>-->
				<!--<td colspan="3" style="width:450px;">-->
					<!--<span  class="{{vm.getBasicDataComment(vm.model.shenBaoInfo.urgencyState)}}" ng-bind="vm.getBasicDataDesc(vm.model.shenBaoInfo.urgencyState)"></span>-->
				<!--</td>-->
			<!--</tr>-->
			<tr>
				<td class="formAlignRight">详细信息：</td>
				<td colspan="3">
					<button class="btn btn-success btn-xs"
						ng-click="vm.dialog_shenbaoInfo()">查看申报信息</button>
					<button class="btn btn-success btn-xs"
						ng-click="vm.dialog_shenbaoInfoEdit()">复核申报信息</button>
				</td>
			</tr>
		</table>

		<div class="bg-info text-info" style="padding: 10px;">业务办理</div>
		<table class="table table-bordered table-striped ">
			<tr ng-repeat="x in vm.taskRecord | orderBy:'endTime'"
				ng-if="x.isJuzhang != 'yes'">
				<td class="formAlignRight" style="width: 150px;" ng-bind="x.name"></td>
				<td>
					<div ng-bind="x.msg"></div>
					<div class="text-right" ng-bind="x.id"></div>
					<div class="text-right" ng-bind="x.endTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
				</td>
			</tr>
		</table>
		<div class="bg-info text-info" style="padding: 10px;">局领导意见</div>
		<table class="table table-bordered table-striped ">
			<tr ng-repeat="x in vm.taskRecord | orderBy:'endTime'"
				ng-if="x.isJuzhang == 'yes'">
				<td class="formAlignRight" style="width: 150px;" ng-bind="x.name"></td>
				<td>
					<div ng-bind="x.msg"></div>
					<div class="text-right" ng-bind="x.id"></div>
					<div class="text-right" ng-bind="x.endTime | date:'yyyy-MM-dd hh:mm:ss'"></div>
				</td>
			</tr>
		</table>
		<div class="bg-info text-info" style="padding: 10px;">处理操作</div>
		<table class="table table-bordered table-striped">
			<tr>
				<td class="formAlignRight" style="width: 150px;">操作：</td>
				<td>
					<button ng-click="vm.yuepi(vm.model.shenBaoInfo.id)"
						class="btn btn-success btn-sm" style="margin: 0 10px;">阅批</button>
				</td>
			</tr>
		</table>
	</form>
</div>

<!-- 申报信息模态框 -->
<div id="shenbaoInfo" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">详细信息</span>
			</div>
			<div class="modal-body">
				<div ng-include
					src="'/contents/admin/management/task/html/details/shenBaoInfoDetails.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-dismiss="modal">关闭</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 申报信息复核模态框 -->
<div id="shenbaoInfoEdit" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">复核申报信息</span>
			</div>
			<div class="modal-body">
				<div ng-include
					src="'/contents/admin/management/task/html/edit/shenBaoInfoEdit.html'"></div>
			</div>
			<!--<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				<button type="button" class="btn btn-success"
					ng-click="vm.saveShenBaoInfo()">保存</button>
			</div>-->
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 意见管理模态框 -->
<div id="opinion" class="opinion modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">常用意见管理</span>
			</div>
			<div class="modal-body">
				<div class="toolbar">
					<button class="btn btn-sm btn-danger" ng-click="vm.dels()"
						ng-disabled="vm.isSubmit">
						<span class="glyphicon glyphicon-trash"></span>&nbsp;批量删除
					</button>
				</div>
				<script type="text/template" id="columnBtns">
					<button class="btn btn-xs btn-danger"  ng-click="vm.remove('{0}')" ><span class="glyphicon glyphicon-remove"></span>删除</button>
					<button class="btn btn-xs btn-primary"  ng-click="vm.edit('{0}','{1}')" ><span class="glyphicon glyphicon-pencil"></span>编辑</button>
				</script>
				<div class="grid" kendo-grid="grid" k-options="vm.opinionGrid"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>

			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 意见编辑模态框 -->
<div id="opinionEdit" class="opinionEdit modal fade" tabindex="-1"
	role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">常用意见编辑</span>
			</div>
			<div class="modal-body">
				<textarea class="form-control" id="opinString" name="opinString"
					maxlength="500" rows="3" ng-model="vm.model.opinion.opinion"
					value="vm.model.opinion.opinion" data-val="true"
					placeholder="注：500字符以内"
					ng-change="vm.checkLength(vm.model.opinString,500,'opinStringTips')">
				</textarea>
				<div class="tipfont">
					您还可以输入<span id="opinString"><font size="5">500</font></span>个字符!
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					ng-click="vm.editOpin()">修改</button>
				<button type="button" class="btn btn-default"
					ng-click="vm.closeOpin()">取消</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- 下达计划模态框 -->
<div id="planReach" class="planReach modal fade" tabindex="-1"
	role="dialog">
	<div class="modal-dialog"
		style="margin: 80px auto; width: 80%; max-width: 1000px;">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<span class="modal-title">下达计划信息</span>
			</div>
			<div class="modal-body">
				<div ng-include
					src="'/contents/admin/management/task/plan/html/edit/planReach.html'"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary"
					ng-click="vm.savePlanReach()">保存</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div ng-include src="'/contents/common/dialog-alert.tmpl.html'"></div>